{
  "openapi": "3.0.1",
  "info": {
    "title": "gateway-ocpi-service",
    "description": "A service to integrate customers according to OCPI e.g. charging stations, sessions, etc.",
    "contact": {
      "name": "P3 digital services GmbH",
      "email": "contact@energystacks.io"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://p3-acc.energystacks.io/gateway-ocpi/v1",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "CDR Module",
      "description": "Serves to retrieve details of charging transactions (finished charging session). The CDR object is owned by the CPO backend system and can be pulled or pushed from CPO to eMSP."
    },
    {
      "name": "Credentials Module",
      "description": "The credentials module is used to exchange the credentials token that has to be used by parties for authorization of requests."
    },
    {
      "name": "Tariffs Module",
      "description": "The tariffs module gives eMSPs information about the tariffs used by the CPO. The Tariffs objects live in the CPO backend system."
    },
    {
      "name": "Platform",
      "description": "CRUD functionality for the platform entity."
    },
    {
      "name": "Locations Module",
      "description": "Serves to retrieve charging stations. The location objects live in the CPO backend system. They describe the charging locations of an operator."
    },
    {
      "name": "Versions Module",
      "description": "Via this module, clients can learn which versions of OCPI a server supports, and which modules it supports for each of the versions."
    },
    {
      "name": "Customer Url Info.",
      "description": "CRUD functionality for the customer url info."
    },
    {
      "name": "Sessions Module",
      "description": "The session object describes one charging session. The session object is owned by the CPO backend system."
    },
    {
      "name": "Tokens Module",
      "description": "The tokens module gives CPOs knowledge of the token information of an eMSP. The token objects live in the eMSP backend system."
    },
    {
      "name": "Commands Module",
      "description": "The Commands module enables remote commands to be sent to a Location/EVSE.\nThe following commands are supported:\nCANCEL_RESERVATION, RESERVE_NOW, START_SESSION, STOP_SESSION"
    }
  ],
  "paths": {
    "/tokens/{country_code}/{party_id}/{token_uid}": {
      "put": {
        "tags": [
          "Tokens Module"
        ],
        "summary": "Push new/updated Token object to the CPO.",
        "description": "New or updated Token objects are pushed from the eMSP to the CPO.",
        "operationId": "createOrUpdateToken",
        "parameters": [
          {
            "name": "country_code",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 2,
              "minLength": 2,
              "type": "string"
            }
          },
          {
            "name": "party_id",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 3,
              "minLength": 3,
              "type": "string"
            }
          },
          {
            "name": "token_uid",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Token"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OcpiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized, if the provided authorization token is not valid"
          },
          "404": {
            "description": "Server no matching endpoints with status error code: 3003"
          },
          "500": {
            "description": "Generic server error with status error code: 3000"
          }
        }
      }
    },
    "/sessions/{country_code}/{party_id}/{session_id}": {
      "put": {
        "tags": [
          "Sessions Module"
        ],
        "summary": "Create or Update a session.",
        "description": "Create a Session if not exist, or update if exists. That session object is pushed from CPO to the eMSP.",
        "operationId": "createOrUpdateSession",
        "parameters": [
          {
            "name": "country_code",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 2,
              "minLength": 2,
              "type": "string"
            }
          },
          {
            "name": "party_id",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 3,
              "minLength": 3,
              "type": "string"
            }
          },
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OcpiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized, if the provided authorization token is not valid"
          },
          "404": {
            "description": "OCPI Token does not exists with status error code: 2911"
          }
        }
      }
    },
    "/management/customer-url-info": {
      "get": {
        "tags": [
          "Customer Url Info."
        ],
        "summary": "Retrieve all customer url info.",
        "description": "Retrieve all customer url info.",
        "operationId": "getAllCustomerUrlInfo",
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerUrlInfo"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Customer Url Info."
        ],
        "summary": "Update an existing customer url info.",
        "description": "Update an existing customer url info.",
        "operationId": "updateCustomerUrlInfo",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "Url value",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerUrlInfoUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerUrlInfo"
                }
              }
            }
          },
          "404": {
            "description": "Customer url info not found"
          },
          "400 ": {
            "description": "Bad Request"
          }
        }
      },
      "post": {
        "tags": [
          "Customer Url Info."
        ],
        "summary": "Create a customer url info.",
        "description": "Create a new customer url info.",
        "operationId": "createCustomerUrlInfo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerUrlInfo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400 ": {
            "description": "Bad Request"
          },
          "409 ": {
            "description": "Conflict, the URL already exists"
          }
        }
      },
      "delete": {
        "tags": [
          "Customer Url Info."
        ],
        "summary": "Delete an existing customer url info.",
        "description": "Delete an existing customer url info.",
        "operationId": "deleteCustomerUrlInfo",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "Url value",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Customer url info not found"
          },
          "400 ": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/management/2.2.1/platform": {
      "get": {
        "tags": [
          "Platform"
        ],
        "summary": "Retrieve a specific platforms",
        "description": "Retrieve a specific platforms.",
        "operationId": "getSpecificPlatform",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "Url value",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Platform"
                }
              }
            }
          },
          "404": {
            "description": "Platform not found"
          },
          "400 ": {
            "description": "Bad Request"
          }
        }
      },
      "put": {
        "tags": [
          "Platform"
        ],
        "summary": "Update an existing platform",
        "description": "Update an existing platform.",
        "operationId": "updatePlatform",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "Url value",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlatformUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Platform"
                }
              }
            }
          },
          "404": {
            "description": "Platform not found"
          },
          "400 ": {
            "description": "Bad Request"
          }
        }
      },
      "post": {
        "tags": [
          "Platform"
        ],
        "summary": "Create a platform",
        "description": "Create a new platform.",
        "operationId": "createPlatform",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Platform"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400 ": {
            "description": "Bad Request"
          },
          "409 ": {
            "description": "Conflict, the URL already exists"
          }
        }
      },
      "delete": {
        "tags": [
          "Platform"
        ],
        "summary": "Delete an existing platform",
        "description": "Delete an existing platform.",
        "operationId": "deletePlatform",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "Url value",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Platform not found"
          },
          "400 ": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/management/2.1.1/platform": {
      "get": {
        "tags": [
          "Platform"
        ],
        "summary": "Retrieve a specific platforms",
        "description": "Retrieve a specific platforms.",
        "operationId": "getSpecificPlatform_1",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "Url value",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformVersion211"
                }
              }
            }
          },
          "404": {
            "description": "Platform not found"
          },
          "400 ": {
            "description": "Bad Request"
          }
        }
      },
      "put": {
        "tags": [
          "Platform"
        ],
        "summary": "Update an existing platform",
        "description": "Update an existing platform.",
        "operationId": "updatePlatform_1",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "Url value",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlatformVersion211UpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformVersion211"
                }
              }
            }
          },
          "404": {
            "description": "Platform not found"
          },
          "400 ": {
            "description": "Bad Request"
          }
        }
      },
      "post": {
        "tags": [
          "Platform"
        ],
        "summary": "Create a platform",
        "description": "Create a new platform.",
        "operationId": "createPlatform_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlatformVersion211"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400 ": {
            "description": "Bad Request"
          },
          "409 ": {
            "description": "Conflict, the URL already exists"
          }
        }
      },
      "delete": {
        "tags": [
          "Platform"
        ],
        "summary": "Delete an existing platform",
        "description": "Delete an existing platform.",
        "operationId": "deletePlatform_1",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "Url value",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Platform not found"
          },
          "400 ": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/locations/{country_code}/{party_id}/{location_id}": {
      "put": {
        "tags": [
          "Locations Module"
        ],
        "summary": "The CPO forwards a Location object update request to the eMSP.",
        "description": "Creates or updates a Location in eMSP.",
        "operationId": "putLocation",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "party_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationResponseVersion221"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized, token does not exists: 2909"
          },
          "404": {
            "description": "Server no matching endpoints: 3003"
          }
        }
      },
      "patch": {
        "tags": [
          "Locations Module"
        ],
        "summary": "Notify the eMSP of partial updates of a Location (such as the status).",
        "description": "Partial updates of the Location object.",
        "operationId": "patchLocation",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "party_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationResponseVersion221"
                }
              }
            }
          },
          "400": {
            "description": "Client invalid parameters: 2001"
          }
        }
      }
    },
    "/locations/{country_code}/{party_id}/{location_id}/{evse_uid}": {
      "put": {
        "tags": [
          "Locations Module"
        ],
        "summary": "The CPO forwards a EVSE object update request to the eMSP.",
        "description": "Creates or updates a EVSE in eMSP.",
        "operationId": "putEvse",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "party_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "evse_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationResponseVersion221"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized, token does not exists: 2909"
          },
          "404": {
            "description": "Server no matching endpoints: 3003"
          }
        }
      },
      "patch": {
        "tags": [
          "Locations Module"
        ],
        "summary": "Notify the eMSP of partial updates of a EVSE (such as the status).",
        "description": "Partial updates of the EVSE object.",
        "operationId": "patchEvse",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "party_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "evse_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvseResponseVersion221"
                }
              }
            }
          },
          "400": {
            "description": "Client invalid parameters: 2001"
          }
        }
      }
    },
    "/locations/{country_code}/{party_id}/{location_id}/{evse_uid}/{connector_id}": {
      "put": {
        "tags": [
          "Locations Module"
        ],
        "summary": "The CPO forwards a Connector object update request to the eMSP.",
        "description": "Creates or updates a Connector in eMSP.",
        "operationId": "putConnector",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "party_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "evse_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connector_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationResponseVersion221"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized, token does not exists: 2909"
          },
          "404": {
            "description": "Server no matching endpoints: 3003"
          }
        }
      },
      "patch": {
        "tags": [
          "Locations Module"
        ],
        "summary": "Notify the eMSP of partial updates of a Connector (such as the status).",
        "description": "Partial updates of the Connector object.",
        "operationId": "patchConnector",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "party_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "evse_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connector_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorResponseVersion221"
                }
              }
            }
          },
          "400": {
            "description": "Client invalid parameters: 2001"
          }
        }
      }
    },
    "/2.2.1/credentials": {
      "put": {
        "tags": [
          "Credentials Module"
        ],
        "summary": "Updates Credentials and returns a new valid Token C for the specific OCPI version.",
        "description": "Updates and stores Token C for the available OCPI version with the sender.",
        "operationId": "putCredentials",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Correlation-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Credentials"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialsResponseVersion221"
                }
              }
            }
          },
          "400": {
            "description": "Client not enough information with status error code: 2002"
          },
          "401": {
            "description": "Unauthorized, if the provided authorization token is not valid"
          },
          "404": {
            "description": "Server no matching endpoints with status error code: 3003"
          },
          "405": {
            "description": "Client has not been registered with status error code: 2904"
          },
          "400 ": {
            "description": "Server unsupported version with status error code: 3002"
          },
          "400  ": {
            "description": "Bad Request while trying to save the platform entity"
          }
        }
      },
      "post": {
        "tags": [
          "Credentials Module"
        ],
        "summary": "Returns the valid Token C for the specific OCPI version.",
        "description": "Creates and stores Token C for the available OCPI version with the sender.",
        "operationId": "postCredentials",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Correlation-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Credentials"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialsResponseVersion221"
                }
              }
            }
          },
          "400": {
            "description": "Client not enough information with status error code: 2002"
          },
          "401": {
            "description": "Unauthorized, if the provided authorization token is not valid"
          },
          "404": {
            "description": "Server no matching endpoints with status error code: 3003"
          },
          "405": {
            "description": "Client has already been registered with status error code: 2901 "
          },
          "400 ": {
            "description": "Server unsupported version with status error code: 3002"
          },
          "400  ": {
            "description": "Bad Request while trying to save the platform entity"
          }
        }
      }
    },
    "/2.1.1/credentials": {
      "put": {
        "tags": [
          "Credentials Module"
        ],
        "summary": "Updates Credentials and returns a new valid Token C for the specific OCPI version.",
        "description": "Updates and stores Token C for the available OCPI version with the sender.",
        "operationId": "putCredentials_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Correlation-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Credentials"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialsResponseVersion221"
                }
              }
            }
          },
          "400": {
            "description": "Client not enough information with status error code: 2002"
          },
          "401": {
            "description": "Unauthorized, if the provided authorization token is not valid"
          },
          "404": {
            "description": "Server no matching endpoints with status error code: 3003"
          },
          "405": {
            "description": "Client has not been registered with status error code: 2904"
          },
          "400 ": {
            "description": "Server unsupported version with status error code: 3002"
          },
          "400  ": {
            "description": "Bad Request while trying to save the platform entity"
          }
        }
      },
      "post": {
        "tags": [
          "Credentials Module"
        ],
        "summary": "Returns the valid Token C for the specific OCPI version.",
        "description": "Creates and stores Token C for the available OCPI version with the sender.",
        "operationId": "postCredentials_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Correlation-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Credentials"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialsResponseVersion211"
                }
              }
            }
          },
          "400": {
            "description": "Client not enough information with status error code: 2002"
          },
          "401": {
            "description": "Unauthorized, if the provided authorization token is not valid"
          },
          "404": {
            "description": "Server no matching endpoints with status error code: 3003"
          },
          "405": {
            "description": "Client has already been registered with status error code: 2901 "
          },
          "400 ": {
            "description": "Server unsupported version with status error code: 3002"
          },
          "400  ": {
            "description": "Bad Request while trying to save the platform entity"
          }
        }
      }
    },
    "/tokens/{token_uid}/authorize": {
      "post": {
        "tags": [
          "Tokens Module"
        ],
        "summary": "Perform real-time authorization.",
        "description": "Do a 'real-time' authorization request, validating if a Token might be used (at the optionally given Location).",
        "operationId": "postToken",
        "parameters": [
          {
            "name": "token_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "    The type of token\n    * <p>\n    * NOTE: The eMSP is RECOMMENDED to push Tokens with type: AD_HOC_USER or APP_USER with whitelist set to\n    * NEVER. Whitelists are very useful for RFID type Tokens, but the AD_HOC_USER/APP_USER Tokens are used to\n    * start Sessions from an App etc. so whitelisting them has no advantages.\n    * </p>\n",
              "enum": [
                "AD_HOC_USER",
                "APP_USER",
                "OTHER",
                "RFID"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocationReferences"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationInfoResponseVersion221"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized, if the provided country code and party id are not known"
          },
          "404": {
            "description": "Not Found if token endpoint is not provided"
          },
          "404 ": {
            "description": "Client Unknown location token with status code 2004"
          }
        }
      }
    },
    "/management/customer-url-info/all": {
      "post": {
        "tags": [
          "Customer Url Info."
        ],
        "summary": "Create list of customer url info.",
        "description": "Create list of customer url info like end-point url, module identifier and interface role.",
        "operationId": "createListOfCustomerUrlInfo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegistrationCustomerInfoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400 ": {
            "description": "Bad Request"
          },
          "409 ": {
            "description": "Conflict, one of the URL(s) already exists"
          }
        }
      },
      "delete": {
        "tags": [
          "Customer Url Info."
        ],
        "summary": "Delete all from customer url info entity.",
        "description": "Delete all from customer url info entity like end-point url, module identifier and interface role.",
        "operationId": "deleteAllCustomerUrlInfo",
        "responses": {
          "204": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/commands/{command_type}/{uid}": {
      "post": {
        "tags": [
          "Commands Module"
        ],
        "summary": "Command result interface.",
        "description": "Receives the command result from CPO and transmits it to the eMSP system.",
        "operationId": "commandResult",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "command_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CANCEL_RESERVATION",
                "RESERVE_NOW",
                "START_SESSION",
                "STOP_SESSION",
                "UNLOCK_CONNECTOR"
              ]
            }
          },
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommandResult"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OcpiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized, if the provided authorization token is not valid"
          },
          "404": {
            "description": "The requested command type does not exist.: 2905"
          },
          "500": {
            "description": "Generic server error with status error code: 3000"
          }
        }
      }
    },
    "/commands/STOP_SESSION": {
      "post": {
        "tags": [
          "Commands Module"
        ],
        "summary": "Session Command Stop.",
        "description": "STOP_SESSION command is needed in order to stop a sessions.",
        "operationId": "stopSessionCommand",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponseVersion221"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized, if the provided authorization token is not valid"
          },
          "404": {
            "description": "Server no matching endpoints with status error code: 3003"
          },
          "500": {
            "description": "Generic server error with status error code: 3000"
          }
        }
      }
    },
    "/commands/START_SESSION": {
      "post": {
        "tags": [
          "Commands Module"
        ],
        "summary": "Start Session Command.",
        "description": "START_SESSION command is needed in order to start a sessions.",
        "operationId": "startSessionCommand",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponseVersion221"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized, if the provided authorization token is not valid"
          },
          "404": {
            "description": "Server no matching endpoints with status error code: 3003"
          },
          "500": {
            "description": "Generic server error with status error code: 3000"
          }
        }
      }
    },
    "/commands/RESERVE_NOW": {
      "post": {
        "tags": [
          "Commands Module"
        ],
        "summary": "Reserve Now Command.",
        "description": "RESERVE_NOW command reserves a location/connector of a Charge Point for a given Token.",
        "operationId": "reserveNowCommand",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponseVersion221"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized, if the provided authorization token is not valid"
          },
          "404": {
            "description": "Server no matching endpoints with status error code: 3003"
          },
          "500": {
            "description": "Generic server error with status error code: 3000"
          }
        }
      }
    },
    "/commands/CANCEL_RESERVATION": {
      "post": {
        "tags": [
          "Commands Module"
        ],
        "summary": "Cancel Reservation.",
        "description": "CANCEL_RESERVATION command cancels an existing reservation.",
        "operationId": "cancelReservationCommand",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponseVersion221"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized, if the provided authorization token is not valid"
          },
          "404": {
            "description": "Server no matching endpoints with status error code: 3003"
          },
          "500": {
            "description": "Generic server error with status error code: 3000"
          }
        }
      }
    },
    "/cdrs": {
      "get": {
        "tags": [
          "CDR Module"
        ],
        "summary": "Get CDRs.",
        "description": "Fetch CDRs from the CPO’s system.",
        "operationId": "getCdrs",
        "parameters": [
          {
            "name": "date_from",
            "in": "query",
            "description": "Only transactions which are linked to sessions started since this timestamp will be returned.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2020-06-30T23:59:59"
          },
          {
            "name": "date_to",
            "in": "query",
            "description": "Only transactions which are linked to sessions started before this timestamp will be returned.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2023-06-30T23:59:59"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CdrResponseVersion221"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized, if the provided authorization token is not valid"
          },
          "404": {
            "description": "Provided OCPI Token are not the same(count) with the existing ones, error code: 2912"
          },
          "500": {
            "description": "Generic server error with status error code: 3000"
          }
        }
      },
      "post": {
        "tags": [
          "CDR Module"
        ],
        "summary": "Create a CDR.",
        "description": "The new created CDR is pushed from CPO to the eMSP.",
        "operationId": "createCdr",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OcpiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized, if the provided authorization token is not valid"
          },
          "404": {
            "description": "OCPI Token does not exists with status error code: 2911"
          },
          "409": {
            "description": "Conflict, CDR already exist with this cdr_id."
          },
          "500": {
            "description": "Generic server error with status error code: 3000"
          }
        }
      }
    },
    "/versions": {
      "get": {
        "tags": [
          "Versions Module"
        ],
        "summary": "Get all supported OCPI versions.",
        "description": "Returns a list of all supported OCPI versions and the corresponding URLs\nto where version specific details such as the supported endpoints can be found.",
        "operationId": "getVersions",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VersionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/versions/{version}/details": {
      "get": {
        "tags": [
          "Versions Module"
        ],
        "summary": "Get all endpoints for a specific OCPI version.",
        "description": "This endpoint lists the supported endpoints and their URLs for a specific OCPI version.",
        "operationId": "getVersionDetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VersionDetailsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Requested object not found"
          }
        }
      }
    },
    "/tokens": {
      "get": {
        "tags": [
          "Tokens Module"
        ],
        "summary": "Get Tokens paginated.",
        "description": "Fetch information about Tokens known in the eMSP system.",
        "operationId": "getTokensPaginated",
        "parameters": [
          {
            "name": "date_from",
            "in": "query",
            "description": "Only return Tokens that have last_updated after or equal to this Date/Time (inclusive)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2020-06-29T23:59:59"
          },
          {
            "name": "date_to",
            "in": "query",
            "description": "Only return Tokens that have last_updated up to this Date/Time, but not including (exclusive).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2023-06-30T23:59:59"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset of the first object returned. Default is 0.",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of objects to GET",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponseVersion221"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized, if the provided authorization token is not valid"
          },
          "404": {
            "description": "Server no matching endpoints with status error code: 3003"
          },
          "500": {
            "description": "Generic server error with status error code: 3000"
          }
        }
      }
    },
    "/tariffs": {
      "get": {
        "tags": [
          "Tariffs Module"
        ],
        "summary": "Get Tariffs paginated.",
        "description": "Returns all tariffs with filters and pagination.",
        "operationId": "getTariffsPaginated",
        "parameters": [
          {
            "name": "date_from",
            "in": "query",
            "description": "Only return Tariffs that have last_updated after or equal to this Date/Time (inclusive).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2020-06-29T23:59:59"
          },
          {
            "name": "date_to",
            "in": "query",
            "description": "Only return Tariffs that have last_updated up to this Date/Time, but not including (exclusive).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2023-06-30T23:59:59"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset of the first object returned. Default is 0.",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of objects to GET. Default is 100",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TariffResponseVersion221"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized, if the provided authorization token is not valid"
          },
          "404": {
            "description": "Server no matching endpoints with status error code: 3003"
          },
          "500": {
            "description": "Generic server error with status error code: 3000"
          }
        }
      }
    },
    "/management/2.2.1/platform/all": {
      "get": {
        "tags": [
          "Platform"
        ],
        "summary": "Retrieve all platforms in version 2.2.1",
        "description": "Retrieve all platforms.",
        "operationId": "getAllPlatforms",
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Platform"
                }
              }
            }
          }
        }
      }
    },
    "/management/2.1.1/platform/all": {
      "get": {
        "tags": [
          "Platform"
        ],
        "summary": "Retrieve all platforms in version 2.1.1",
        "description": "Retrieve all platforms.",
        "operationId": "getAllPlatforms_1",
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformVersion211"
                }
              }
            }
          }
        }
      }
    },
    "/locations": {
      "get": {
        "tags": [
          "Locations Module"
        ],
        "summary": "Get Locations paginated.",
        "description": "Returns a list of charging locations (with EVSEs and Connectors) at a CPO.",
        "operationId": "getLocationsPaginated",
        "parameters": [
          {
            "name": "date_from",
            "in": "query",
            "description": "Only return Locations that have last_updated after or equal to this Date/Time (inclusive)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2020-06-29T23:59:59"
          },
          {
            "name": "date_to",
            "in": "query",
            "description": "Only return Locations that have last_updated up to this Date/Time, but not including (exclusive).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2023-06-30T23:59:59"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset of the first object returned. Default is 0.",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of objects to GET",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationResponseVersion221"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized, if the provided authorization token is not valid"
          },
          "404": {
            "description": "Server no matching endpoints with status error code: 3003"
          },
          "500": {
            "description": "Generic server error with status error code: 3000"
          }
        }
      }
    },
    "/locations/{location_id}": {
      "get": {
        "tags": [
          "Locations Module"
        ],
        "summary": "Get Location.",
        "description": "Returns one Location object.",
        "operationId": "getLocation",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationResponseVersion221"
                }
              }
            }
          },
          "400": {
            "description": "Client invalid parameters: 2001"
          },
          "404": {
            "description": "Charging Stations for the requested Location were not found."
          }
        }
      }
    },
    "/locations/{location_id}/{evse_uid}": {
      "get": {
        "tags": [
          "Locations Module"
        ],
        "summary": "Get EVSE.",
        "description": "Returns one EVSE object.",
        "operationId": "getEvse",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "evse_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvseResponseVersion221"
                }
              }
            }
          },
          "400": {
            "description": "Client invalid parameters: 2001"
          },
          "404": {
            "description": "EVSE with the provided EVSE_ID does not exist."
          }
        }
      }
    },
    "/locations/{location_id}/{evse_uid}/{connector_id}": {
      "get": {
        "tags": [
          "Locations Module"
        ],
        "summary": "Get Connector.",
        "description": "Returns one Connector object.",
        "operationId": "getConnector",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "evse_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connector_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorResponseVersion221"
                }
              }
            }
          },
          "400": {
            "description": "Client invalid parameters: 2001"
          },
          "404": {
            "description": "EVSE with the provided Connector_ID does not exist."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "OcpiResponse": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "description": "The timestamp this message was generated",
            "format": "date-time",
            "example": "2024-03-19T14:11:43Z"
          },
          "data": {
            "type": "object",
            "description": "Contains the actual response data object or list of objects from each request"
          },
          "status_code": {
            "type": "integer",
            "description": "The OCPI status code",
            "format": "int32",
            "example": 1000
          },
          "status_message": {
            "type": "string",
            "description": "An optional status message which may help when debugging",
            "example": "Success"
          }
        }
      },
      "EnergyContract": {
        "required": [
          "contract_id",
          "supplier_name"
        ],
        "type": "object",
        "properties": {
          "supplier_name": {
            "maxLength": 64,
            "minLength": 0,
            "type": "string",
            "description": "Name of the energy supplier for this token."
          },
          "contract_id": {
            "maxLength": 64,
            "minLength": 0,
            "type": "string",
            "description": "Contract ID at the energy supplier, that belongs to the owner of this token."
          }
        },
        "description": "When the Charge Point supports using your own energy supplier/contract at a\nCharge Point, information about the energy supplier/contract is needed so the\nCPO knows which energy supplier to use.\nNOTE: In a lot of countries it is currently not allowed/possible to use a drivers\nown energy supplier/contract at a Charge Point."
      },
      "Token": {
        "required": [
          "contract_id",
          "country_code",
          "issuer",
          "last_updated",
          "party_id",
          "type",
          "uid",
          "valid",
          "whitelist"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "    The type of token\n    * <p>\n    * NOTE: The eMSP is RECOMMENDED to push Tokens with type: AD_HOC_USER or APP_USER with whitelist set to\n    * NEVER. Whitelists are very useful for RFID type Tokens, but the AD_HOC_USER/APP_USER Tokens are used to\n    * start Sessions from an App etc. so whitelisting them has no advantages.\n    * </p>\n",
            "example": "RFID",
            "enum": [
              "AD_HOC_USER",
              "APP_USER",
              "OTHER",
              "RFID"
            ]
          },
          "issuer": {
            "maxLength": 64,
            "minLength": 0,
            "type": "string",
            "description": "Issuing company, most of the times the name of the company printed on the token (RFID card), not necessarily the eMSP.",
            "example": "ACME Inc."
          },
          "whitelist": {
            "type": "string",
            "description": "Indicates what type of white-listing is allowed.",
            "example": "ALLOWED",
            "enum": [
              "ALWAYS",
              "ALLOWED",
              "ALLOWED_OFFLINE",
              "NEVER"
            ]
          },
          "language": {
            "maxLength": 2,
            "minLength": 0,
            "type": "string",
            "description": "Language Code ISO 639-1. This optional field indicates the Token owner’s  preferred interface language.\nIf the language is not provided or not supported then the CPO is free to choose its own language.",
            "example": "DE"
          },
          "uid": {
            "maxLength": 36,
            "minLength": 0,
            "type": "string",
            "description": "Unique ID by which this Token can be identified.\nThis is the field used by CPO system (RFID reader on the Charge Point) to identify this token.\nCurrently, in most cases: type=RFID, this is the RFID hidden ID as read by the RFID reader, but that is not a requirement.\nIf this is a APP_USER or AD_HOC_USER Token, it will be a uniquely, by the eMSP, generated ID.\nThis field is named uid instead of id to prevent confusion with: contract_id.",
            "example": "123456789"
          },
          "country_code": {
            "maxLength": 2,
            "minLength": 0,
            "type": "string",
            "description": "ISO-3166 alpha-2 country code of the MSP that 'owns' this Token.",
            "example": "DE"
          },
          "party_id": {
            "maxLength": 3,
            "minLength": 0,
            "type": "string",
            "description": "CPO ID of the MSP that 'owns' this Token (following the ISO-15118 standard).",
            "example": "ERG"
          },
          "contract_id": {
            "maxLength": 36,
            "minLength": 0,
            "type": "string",
            "description": "Uniquely identifies the EV Driver contract token within the eMSP’s platform (and suboperator platforms). Recommended to follow the specification for eMA ID from \"eMI3 standard version V1.0\" (http://emi3group.com/documents-links/)  \"Part 2: business objects.\"\n",
            "example": "DE8ACC12E46L89"
          },
          "visual_number": {
            "maxLength": 64,
            "minLength": 0,
            "type": "string",
            "description": "Visual readable number/identification as printed on the Token (RFID card), might be equal to the contract_id.",
            "example": "DF000-2001-8999-1"
          },
          "group_id": {
            "maxLength": 36,
            "minLength": 0,
            "type": "string",
            "description": "This ID groups a couple of tokens. This can be used to make two or more tokens work as one, so that a session can be started with one token and stopped with another, handy when a card and key-fob are given to the EV-driver.\n Beware that OCPP 1.5/1.6 only support group_ids (it is called parentId in OCPP 1.5/1.6) with a maximum length of 20.",
            "example": "DF000-2001-8999"
          },
          "valid": {
            "type": "boolean",
            "description": "Is this Token valid"
          },
          "default_profile_type": {
            "type": "string",
            "description": "The default Charging Preference. When this is provided, and a charging session\nis started on an Charge Point that support Preference base Smart Charging and\nsupport this ProfileType, the Charge Point can start using this ProfileType,\nwithout this having to be set via: Set Charging Preferences.",
            "enum": [
              "CHEAP",
              "FAST",
              "GREEN",
              "REGULAR"
            ]
          },
          "energy_contract": {
            "$ref": "#/components/schemas/EnergyContract"
          },
          "last_updated": {
            "type": "string",
            "description": "Timestamp when this Token was last updated (or created).",
            "format": "date-time"
          },
          "expiry_date": {
            "type": "string",
            "description": "Timestamp when this Token expires in charging station's local authorization cache.",
            "format": "date-time"
          }
        },
        "description": "Contains the actual response data object or list of objects from each request"
      },
      "CustomerUrlInfo": {
        "required": [
          "interfaceRole",
          "moduleIdentifier",
          "url"
        ],
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "URL to the customer endpoint",
            "example": "https://www.server.com/"
          },
          "interfaceRole": {
            "type": "string",
            "description": "The interface role this endpoint implements",
            "example": "SENDER",
            "enum": [
              "SENDER",
              "RECEIVER"
            ]
          },
          "moduleIdentifier": {
            "type": "string",
            "description": "The module identifier",
            "example": "credentials",
            "enum": [
              "cdrs",
              "chargingprofiles",
              "commands",
              "credentials",
              "locations",
              "sessions",
              "tariffs",
              "tokens",
              "hubclientinfo"
            ]
          }
        }
      },
      "CustomerUrlInfoUpdateRequest": {
        "required": [
          "interfaceRole",
          "moduleIdentifier"
        ],
        "type": "object",
        "properties": {
          "interfaceRole": {
            "type": "string",
            "description": "The interface role this url implements",
            "example": "SENDER",
            "enum": [
              "SENDER",
              "RECEIVER"
            ]
          },
          "moduleIdentifier": {
            "type": "string",
            "description": "The module identifier",
            "example": "commands",
            "enum": [
              "cdrs",
              "chargingprofiles",
              "commands",
              "credentials",
              "locations",
              "sessions",
              "tariffs",
              "tokens",
              "hubclientinfo"
            ]
          }
        }
      },
      "BusinessDetails": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "maxLength": 100,
            "minLength": 0,
            "type": "string",
            "description": "Name of the operator."
          },
          "website": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "description": "Link to the operator’s website. An URL a string(255) type following the w3.org spec."
          },
          "logo": {
            "$ref": "#/components/schemas/Image"
          }
        },
        "description": "Information of the owner if available."
      },
      "CredentialsRole": {
        "required": [
          "business_details",
          "country_code",
          "party_id",
          "role"
        ],
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "Type of role",
            "example": "CPO",
            "enum": [
              "CPO",
              "EMSP",
              "HUB",
              "NAP",
              "NSP",
              "OTHER",
              "SCSP"
            ]
          },
          "business_details": {
            "$ref": "#/components/schemas/BusinessDetails"
          },
          "party_id": {
            "maxLength": 3,
            "minLength": 0,
            "type": "string",
            "description": "CPO, eMSP (or other role) ID of this party (following the ISO-15118 standard)",
            "example": "ERG"
          },
          "country_code": {
            "maxLength": 2,
            "minLength": 0,
            "type": "string",
            "description": "ISO-3166 alpha-2 country code of the country this party is operating in.",
            "example": "DE"
          }
        },
        "description": "Credentials roles"
      },
      "Endpoint": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string",
            "description": "The endpoint identifier",
            "example": "credentials",
            "enum": [
              "cdrs",
              "chargingprofiles",
              "commands",
              "credentials",
              "locations",
              "sessions",
              "tariffs",
              "tokens",
              "hubclientinfo"
            ]
          },
          "role": {
            "type": "string",
            "description": "The interface role this endpoint implements",
            "example": "SENDER",
            "enum": [
              "SENDER",
              "RECEIVER"
            ]
          },
          "url": {
            "type": "string",
            "description": "The URL to the endpoint",
            "example": "https://example.com/ocpi/2.2/credentials/"
          }
        },
        "description": "customer endpoints"
      },
      "Image": {
        "required": [
          "category",
          "type",
          "url"
        ],
        "type": "object",
        "properties": {
          "url": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "description": "URL from where the image data can be fetched through a web browser."
          },
          "thumbnail": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "description": "URL from where a thumbnail of the image can be fetched through a web browser."
          },
          "category": {
            "type": "string",
            "description": "Describes what the image is used for.",
            "example": "CHARGER",
            "enum": [
              "CHARGER",
              "ENTRANCE",
              "LOCATION",
              "NETWORK",
              "OPERATOR",
              "OTHER",
              "OWNER"
            ]
          },
          "type": {
            "maxLength": 4,
            "minLength": 0,
            "type": "string",
            "description": "Image type, for example: gif, jpeg, png, svg",
            "example": "jpeg"
          },
          "width": {
            "type": "integer",
            "description": "Width of the full scale image.",
            "format": "int32",
            "example": 50
          },
          "height": {
            "type": "integer",
            "description": "Height of the full scale image.",
            "format": "int32",
            "example": 600
          }
        },
        "description": "Links to images related to the EVSE such as photos or logos."
      },
      "Platform": {
        "required": [
          "exchangeIdentifier",
          "url",
          "version"
        ],
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "URL",
            "example": "https://www.server.com/"
          },
          "version": {
            "type": "string",
            "description": "Ocpi version number",
            "example": "2.2.1",
            "enum": [
              "2.0",
              "2.1",
              "2.1.1",
              "2.2",
              "2.2.1"
            ]
          },
          "endpoints": {
            "type": "array",
            "description": "customer endpoints",
            "items": {
              "$ref": "#/components/schemas/Endpoint"
            }
          },
          "credentialsRoles": {
            "type": "array",
            "description": "Credentials roles",
            "items": {
              "$ref": "#/components/schemas/CredentialsRole"
            }
          },
          "exchangeIdentifier": {
            "type": "string",
            "description": "Type of exchange identifier.",
            "enum": [
              "SENDER",
              "RECEIVER"
            ]
          }
        }
      },
      "PlatformUpdateRequest": {
        "required": [
          "exchangeIdentifier",
          "version"
        ],
        "type": "object",
        "properties": {
          "version": {
            "type": "string",
            "description": "Ocpi version number",
            "example": "2.2.1",
            "enum": [
              "2.0",
              "2.1",
              "2.1.1",
              "2.2",
              "2.2.1"
            ]
          },
          "endpoints": {
            "type": "array",
            "description": "customer endpoints",
            "items": {
              "$ref": "#/components/schemas/Endpoint"
            }
          },
          "credentialsRoles": {
            "type": "array",
            "description": "Credentials roles",
            "items": {
              "$ref": "#/components/schemas/CredentialsRole"
            }
          },
          "exchangeIdentifier": {
            "type": "string",
            "description": "Type of exchange identifier.",
            "enum": [
              "SENDER",
              "RECEIVER"
            ]
          }
        }
      },
      "Credentials": {
        "required": [
          "business_details",
          "country_code",
          "party_id",
          "token",
          "url"
        ],
        "type": "object",
        "properties": {
          "token": {
            "maxLength": 64,
            "minLength": 0,
            "type": "string",
            "description": "The token for the other party to authenticate in your system.",
            "example": "ebf3b399-779f-4497-9b9d-ac6ad3cc44d2"
          },
          "url": {
            "type": "string",
            "description": "The URL to your API versions endpoint.",
            "format": "url",
            "example": "https://example.com/ocpi/versions/"
          },
          "business_details": {
            "$ref": "#/components/schemas/BusinessDetails"
          },
          "party_id": {
            "maxLength": 3,
            "minLength": 0,
            "type": "string",
            "description": "CPO or eMSP ID of this party. (following the 15118 ISO standard).",
            "example": "ERG"
          },
          "country_code": {
            "maxLength": 2,
            "minLength": 0,
            "type": "string",
            "description": "Country code of the country this party is operating in.",
            "example": "DE"
          }
        },
        "description": "Credentials"
      },
      "PlatformVersion211": {
        "required": [
          "exchangeIdentifier",
          "url",
          "version"
        ],
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "URL",
            "example": "https://www.server.com/"
          },
          "version": {
            "type": "string",
            "description": "Ocpi version number",
            "example": "2.1.1",
            "enum": [
              "2.0",
              "2.1",
              "2.1.1",
              "2.2",
              "2.2.1"
            ]
          },
          "endpoints": {
            "type": "array",
            "description": "customer endpoints",
            "items": {
              "$ref": "#/components/schemas/Endpoint"
            }
          },
          "credentials": {
            "type": "array",
            "description": "Credentials",
            "items": {
              "$ref": "#/components/schemas/Credentials"
            }
          },
          "exchangeIdentifier": {
            "type": "string",
            "description": "Type of exchange identifier.",
            "enum": [
              "SENDER",
              "RECEIVER"
            ]
          }
        }
      },
      "PlatformVersion211UpdateRequest": {
        "required": [
          "exchangeIdentifier",
          "version"
        ],
        "type": "object",
        "properties": {
          "version": {
            "type": "string",
            "description": "Ocpi version number",
            "example": "2.2.1",
            "enum": [
              "2.0",
              "2.1",
              "2.1.1",
              "2.2",
              "2.2.1"
            ]
          },
          "endpoints": {
            "type": "array",
            "description": "customer endpoints",
            "items": {
              "$ref": "#/components/schemas/Endpoint"
            }
          },
          "credentials": {
            "type": "array",
            "description": "Credentials",
            "items": {
              "$ref": "#/components/schemas/Credentials"
            }
          },
          "exchangeIdentifier": {
            "type": "string",
            "description": "Type of exchange identifier.",
            "enum": [
              "SENDER",
              "RECEIVER"
            ]
          }
        }
      },
      "AdditionalGeoLocation": {
        "required": [
          "latitude",
          "longitude"
        ],
        "type": "object",
        "properties": {
          "latitude": {
            "maxLength": 10,
            "minLength": 0,
            "pattern": "-?[0-9]{1,2}\\.[0-9]{5,7}",
            "type": "string",
            "description": "Latitude of the point in decimal degree. Decimal separator: \".\", Regex: -?[0-9]{1,2}\\.[0-9]{5,7}",
            "example": "50.770774"
          },
          "longitude": {
            "maxLength": 11,
            "minLength": 0,
            "pattern": "-?[0-9]{1,3}\\.[0-9]{5,7}",
            "type": "string",
            "description": "Longitude of the point in decimal degree. Decimal separator: \".\", Regex: -?[0-9]{1,3}\\.[0-9]{5,7}",
            "example": "-126.104965"
          },
          "name": {
            "$ref": "#/components/schemas/DisplayText"
          }
        },
        "description": "This class defines an additional geo location that is relevant for the Charge Point. The geodetic system to be used is WGS 84."
      },
      "Connector": {
        "required": [
          "format",
          "id",
          "last_updated",
          "max_amperage",
          "max_voltage",
          "power_type",
          "standard"
        ],
        "type": "object",
        "properties": {
          "id": {
            "maxLength": 36,
            "minLength": 0,
            "type": "string",
            "description": "Identifier of the Connector within the EVSE. Two Connectors may have the same id as long as they do not belong to the same EVSE object.",
            "example": "1"
          },
          "standard": {
            "type": "string",
            "description": "The standard of the installed connector.",
            "enum": [
              "CHADEMO",
              "CHAOJI",
              "DOMESTIC_A",
              "DOMESTIC_B",
              "DOMESTIC_C",
              "DOMESTIC_D",
              "DOMESTIC_E",
              "DOMESTIC_F",
              "DOMESTIC_G",
              "DOMESTIC_H",
              "DOMESTIC_I",
              "DOMESTIC_J",
              "DOMESTIC_K",
              "DOMESTIC_L",
              "DOMESTIC_M",
              "DOMESTIC_N",
              "DOMESTIC_O",
              "GBT_AC",
              "GBT_DC",
              "IEC_60309_2_single_16",
              "IEC_60309_2_three_16",
              "IEC_60309_2_three_32",
              "IEC_60309_2_three_64",
              "IEC_62196_T1",
              "IEC_62196_T1_COMBO",
              "IEC_62196_T2",
              "IEC_62196_T2_COMBO",
              "IEC_62196_T3A",
              "IEC_62196_T3C",
              "NEMA_5_20",
              "NEMA_6_30",
              "NEMA_6_50",
              "NEMA_10_30",
              "NEMA_10_50",
              "NEMA_14_30",
              "NEMA_14_50",
              "PANTOGRAPH_BOTTOM_UP",
              "PANTOGRAPH_TOP_DOWN",
              "TESLA_R",
              "TESLA_S",
              "UNKNOWN"
            ]
          },
          "format": {
            "type": "string",
            "description": "The format (socket/cable) of the installed connector.",
            "enum": [
              "SOCKET",
              "CABLE"
            ]
          },
          "power_type": {
            "type": "string",
            "enum": [
              "AC_1_PHASE",
              "AC_2_PHASE",
              "AC_2_PHASE_SPLIT",
              "AC_3_PHASE",
              "DC"
            ]
          },
          "max_voltage": {
            "type": "integer",
            "description": "Maximum voltage of the connector (line to neutral for AC_3_PHASE), in volt [V]. For example: DC Chargers might vary the voltage during charging when battery almost full.",
            "format": "int32"
          },
          "max_amperage": {
            "type": "integer",
            "description": "Maximum amperage of the connector, in ampere [A].",
            "format": "int32"
          },
          "max_electric_power": {
            "type": "integer",
            "description": "Maximum electric power that can be delivered by this connector, in Watts (W). When the maximum electric power is lower than the calculated value from voltage and amperage, this value should be set. \n    For example: A DC Charge Point which can delivers up to 920V and up to 400A can be limited to a maximum of 150kW (max_electric_power = 150000). Depending on the car, it may supply max voltage or current, but not both at the same time.\nFor AC Charge Points, the amount of phases used can also have influence on the maximum power.",
            "format": "int32"
          },
          "tariff_ids": {
            "uniqueItems": true,
            "type": "array",
            "description": "Identifiers of the currently valid charging tariffs. Multiple tariffs are possible, but only one of each Tariff.type can be active at the same time. Tariffs with the same type are only allowed if they are not active at the same time: start_date_time and end_date_time period not overlapping.\n    When preference-based smart charging is supported, one tariff for every possible ProfileType should be provided. These tell the user about the options they have at this Connector, and what the tariff is for every option.\nFor a \"free of charge\" tariff, this field should be set and point to a defined \"free of charge\" tariff.",
            "items": {
              "maxLength": 36,
              "minLength": 0,
              "type": "string",
              "description": "Identifiers of the currently valid charging tariffs. Multiple tariffs are possible, but only one of each Tariff.type can be active at the same time. Tariffs with the same type are only allowed if they are not active at the same time: start_date_time and end_date_time period not overlapping.\n    When preference-based smart charging is supported, one tariff for every possible ProfileType should be provided. These tell the user about the options they have at this Connector, and what the tariff is for every option.\nFor a \"free of charge\" tariff, this field should be set and point to a defined \"free of charge\" tariff."
            }
          },
          "terms_and_conditions": {
            "type": "string",
            "description": "URL to the operator’s terms and conditions.",
            "format": "url",
            "example": "http://www.example.com"
          },
          "last_updated": {
            "type": "string",
            "description": "Timestamp when this Connector was last updated (or created).",
            "format": "date-time"
          }
        },
        "description": "A Connector is the socket or cable and plug available for the EV to use. A single EVSE may provide multiple Connectors but only one of them can be in use at the same time. A Connector always belongs to an EVSE object."
      },
      "DisplayText": {
        "required": [
          "language",
          "text"
        ],
        "type": "object",
        "properties": {
          "language": {
            "maxLength": 2,
            "minLength": 0,
            "type": "string",
            "description": "Language Code ISO 639-1.",
            "example": "en"
          },
          "text": {
            "maxLength": 512,
            "minLength": 0,
            "type": "string",
            "description": "Text to be displayed to a end user. No markup, html etc. allowed.",
            "example": "this is a display text"
          }
        },
        "description": "List of multi-language alternative tariff info texts."
      },
      "EnergyMix": {
        "required": [
          "is_green_energy"
        ],
        "type": "object",
        "properties": {
          "is_green_energy": {
            "type": "boolean",
            "description": "True if 100% from regenerative sources. (CO2 and nuclear waste is zero)",
            "example": false
          },
          "energy_sources": {
            "type": "array",
            "description": "Key-value pairs (enum + percentage) of energy sources of this location’s tariff.",
            "items": {
              "$ref": "#/components/schemas/EnergySource"
            }
          },
          "environ_impact": {
            "type": "array",
            "description": "Key-value pairs (enum + percentage) of nuclear waste and CO2 exhaust of this location’s tariff.",
            "items": {
              "$ref": "#/components/schemas/EnvironmentalImpact"
            }
          },
          "supplier_name": {
            "maxLength": 64,
            "minLength": 0,
            "type": "string",
            "description": "Name of the energy supplier, delivering the energy for this location or tariff.",
            "example": "HANDWE EV"
          },
          "energy_product_name": {
            "maxLength": 64,
            "minLength": 0,
            "type": "string",
            "description": "Name of the energy suppliers product/tariff plan used at this location.",
            "example": "Kleenheat"
          }
[...]
