{
  "openapi": "3.0.1",
  "info": {
    "title": "msp-web-service",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://p3-acc.energystacks.io/msp-web/v1",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "User's home stations",
      "description": "Support for retrieving user's home stations"
    },
    {
      "name": "Sessions",
      "description": "Support for retrieving details of ongoing charging sessions"
    },
    {
      "name": "CDRs",
      "description": "Support for retrieving details of Charge Detail Records (finished charging sessions)"
    },
    {
      "name": "Charging Stations",
      "description": "Support for retrieving information for charging stations, which are stored in memory"
    },
    {
      "name": "Charging",
      "description": "Support for starting and stopping charging sessions"
    }
  ],
  "paths": {
    "/vehicles/{vehicleUuid}": {
      "get": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Get the details for the specified vehicle from the Vehicle DB",
        "operationId": "getVehicleDetails",
        "parameters": [
          {
            "name": "vehicleUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleDetailedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Wrong UUID format",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Incorrect tenant",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "404": {
            "description": "Vehicle not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Update an existing vehicle",
        "operationId": "updateVehicle",
        "parameters": [
          {
            "name": "vehicleUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VehicleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessageDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Incorrect tenant",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "404": {
            "description": "Vehicle not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Delete an existing vehicle",
        "operationId": "deleteVehicle",
        "parameters": [
          {
            "name": "vehicleUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessageDto"
                }
              }
            }
          },
          "400": {
            "description": "Wrong UUID format",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Vehicle not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{vehicleUuid}/image": {
      "get": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Get vehicle image",
        "operationId": "getVehicleImage",
        "parameters": [
          {
            "name": "vehicleUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/octet-stream": {}
            }
          },
          "400": {
            "description": "Wrong UUID format",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Image provider customer key is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "404": {
            "description": "Image for requested Vehicle not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "500": {
            "description": "Fetching the Image from the provider fails"
          }
        }
      },
      "put": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Add/update the vehicle image",
        "operationId": "addOrUpdateVehicleImage",
        "parameters": [
          {
            "name": "vehicleUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "vehicleImage"
                ],
                "type": "object",
                "properties": {
                  "vehicleImage": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedDto"
                }
              }
            }
          },
          "404": {
            "description": "Vehicle not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "500": {
            "description": "Failed to store new image"
          }
        }
      },
      "delete": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Delete vehicle image",
        "operationId": "deleteVehicleImage",
        "parameters": [
          {
            "name": "vehicleUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessageDto"
                }
              }
            }
          },
          "400": {
            "description": "Wrong UUID format",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Vehicle not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "500": {
            "description": "Failed to delete existing image"
          }
        }
      }
    },
    "/vehicle-brands/{brandUuid}": {
      "get": {
        "tags": [
          "Vehicle Brand"
        ],
        "summary": "Get the details for the specified vehicle brand from the DB",
        "operationId": "getVehicleBrandDetails",
        "parameters": [
          {
            "name": "brandUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Wrong UUID format",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Incorrect tenant",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "404": {
            "description": "Vehicle brand not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Vehicle Brand"
        ],
        "summary": "Update an existing vehicle brand",
        "operationId": "updateVehicleBrand",
        "parameters": [
          {
            "name": "brandUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BrandRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessageDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Incorrect tenant",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "404": {
            "description": "Vehicle brand not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Vehicle Brand"
        ],
        "summary": "Delete an existing vehicle brand",
        "operationId": "deleteVehicleBrand",
        "parameters": [
          {
            "name": "brandUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessageDto"
                }
              }
            }
          },
          "400": {
            "description": "Wrong UUID format",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Vehicle brand not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          }
        }
      }
    },
    "/vehicle-brands/{brandUuid}/image": {
      "get": {
        "tags": [
          "Vehicle Brand"
        ],
        "summary": "Get vehicle brand image",
        "operationId": "getVehicleBrandImage",
        "parameters": [
          {
            "name": "brandUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/octet-stream": {}
            }
          },
          "400": {
            "description": "Wrong UUID format",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Failed to read image"
          }
        }
      },
      "put": {
        "tags": [
          "Vehicle Brand"
        ],
        "summary": "Add/update the vehicle brand image",
        "operationId": "addOrUpdateVehicleBrandImage",
        "parameters": [
          {
            "name": "brandUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "brandImage"
                ],
                "type": "object",
                "properties": {
                  "brandImage": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Vehicle brand not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "500": {
            "description": "Failed to store new image"
          }
        }
      },
      "delete": {
        "tags": [
          "Vehicle Brand"
        ],
        "summary": "Delete vehicle brand image",
        "operationId": "deleteVehicleBrandImage",
        "parameters": [
          {
            "name": "brandUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessageDto"
                }
              }
            }
          },
          "404": {
            "description": "Vehicle brand not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "500": {
            "description": "Failed to delete existing image"
          }
        }
      }
    },
    "/location/images/{locationImageId}/{approvalState}": {
      "put": {
        "tags": [
          "Location Images"
        ],
        "summary": "Review location image",
        "description": "Performs a review of the location image submission of a user",
        "operationId": "reviewLocationImage",
        "parameters": [
          {
            "name": "locationImageId",
            "in": "path",
            "description": "The ID of the location image",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "approvalState",
            "in": "path",
            "description": "The approval state which should be set",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "SUBMITTED",
                "APPROVED",
                "REJECTED"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessageDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing Credentials"
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "409": {
            "description": "Image already reviewed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Authentication": []
          }
        ]
      }
    },
    "/charging-curves/{chargingCurveUuid}": {
      "get": {
        "tags": [
          "Charging curves"
        ],
        "summary": "Get the details for the specified charging curve",
        "operationId": "getChargingCurveDetails",
        "parameters": [
          {
            "name": "chargingCurveUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleDetailedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Wrong UUID format",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Charging curve not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Charging curves"
        ],
        "summary": "Update an existing charging curve",
        "operationId": "updateChargingCurve",
        "parameters": [
          {
            "name": "chargingCurveUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChargingCurveShortRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessageDto"
                }
              }
            }
          },
          "404": {
            "description": "Charging curve not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Charging curves"
        ],
        "summary": "Delete an existing charging curve",
        "operationId": "deleteChargingCurve",
        "parameters": [
          {
            "name": "chargingCurveUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessageDto"
                }
              }
            }
          },
          "400": {
            "description": "Wrong UUID format",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Charging curve not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles": {
      "get": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Get all vehicles from the Vehicle DB",
        "operationId": "getAllVehicles",
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VehicleResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Add a new vehicle to the DB",
        "operationId": "addNewVehicle",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VehicleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Vehicle and brand tenant ids don't match",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          }
        }
      }
    },
    "/vehicle-brands": {
      "get": {
        "tags": [
          "Vehicle Brand"
        ],
        "summary": "Get all vehicle brands from the DB",
        "operationId": "getAllVehicleBrands",
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BrandResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Vehicle Brand"
        ],
        "summary": "Add new vehicle brand",
        "operationId": "addVehicleBrand",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BrandRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/user/settings": {
      "get": {
        "tags": [
          "User settings"
        ],
        "summary": "Get user's settings",
        "description": "Get user's settings",
        "operationId": "getSettings",
        "parameters": [
          {
            "name": "Authentication-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserSettings"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing Credentials"
          },
          "404": {
            "description": "User Settings not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "500": {
            "description": "Required header not present"
          },
          "400 ": {
            "description": "Authentication token parsing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "User settings"
        ],
        "summary": "Save user's settings in the cloud",
        "description": "Save user's settings in the cloud",
        "operationId": "saveSettings",
        "parameters": [
          {
            "name": "Authentication-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserSettings"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessageDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing Credentials"
          },
          "409": {
            "description": "User Setting for the same User ID already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "500": {
            "description": "Required header not present"
          },
          "400 ": {
            "description": "Authentication token parsing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "User settings"
        ],
        "summary": "Delete user's settings",
        "description": "Delete the user's settings",
        "operationId": "deleteSettings",
        "parameters": [
          {
            "name": "Authentication-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessageDto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing Credentials"
          },
          "404": {
            "description": "User Settings not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "500": {
            "description": "Required header not present"
          },
          "400 ": {
            "description": "Authentication token parsing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          }
        }
      }
    },
    "/user/favorites/chargingstations/{chargingStationId}": {
      "post": {
        "tags": [
          "Charging station favorites"
        ],
        "summary": "Add charging station favorite",
        "description": "Adds a charging station by ID to the favorite list of the user",
        "operationId": "saveFavouriteChargingStation",
        "parameters": [
          {
            "name": "chargingStationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authentication-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessageDto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing Credentials"
          },
          "409": {
            "description": "User's charging station already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "500": {
            "description": "Required header not present"
          },
          "400 ": {
            "description": "Authentication token parsing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Charging station favorites"
        ],
        "summary": "Remove charging station favorite",
        "description": "Removes the charging stations by ID from the favorite list of the user",
        "operationId": "deleteFavouriteChargingStation",
        "parameters": [
          {
            "name": "chargingStationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authentication-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessageDto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing Credentials"
          },
          "404": {
            "description": "User's charging station was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "500": {
            "description": "Required header not present"
          },
          "400 ": {
            "description": "Authentication token parsing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          }
        }
      }
    },
    "/user/favorites/address": {
      "get": {
        "tags": [
          "Address favorites"
        ],
        "summary": "Get favourite addresses",
        "description": "Returns the list of of the favorite addresses of the user",
        "operationId": "getFavouriteAddresses",
        "parameters": [
          {
            "name": "Authentication-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FavoriteAddresses"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing Credentials"
          },
          "404": {
            "description": "Favourite addresses were not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "500": {
            "description": "Required header not present"
          },
          "400 ": {
            "description": "Authentication token parsing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Address favorites"
        ],
        "summary": "Add favorite address",
        "description": "Adds an address to the favorite list of the user",
        "operationId": "saveFavouriteAddress",
        "parameters": [
          {
            "name": "Authentication-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveAddressRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessageDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing Credentials"
          },
          "409": {
            "description": "Favorite address for the same user already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "500": {
            "description": "Required header not present"
          },
          "400 ": {
            "description": "Authentication token parsing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          }
        }
      }
    },
    "/location/review": {
      "post": {
        "tags": [
          "Location Review"
        ],
        "summary": "Submits a review of the location for a user",
        "description": "Submits a review of the location for a user",
        "operationId": "submitReview",
        "parameters": [
          {
            "name": "location_id",
            "in": "query",
            "description": "The id of the location",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocationReviewSubmitRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing Credentials"
          },
          "404": {
            "description": "Location not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Authentication": []
          }
        ]
      }
    },
    "/location/images/{locationId}/{imageCategory}": {
      "post": {
        "tags": [
          "Location Images"
        ],
        "summary": "Submit an image for the location",
        "description": "Submits an image for the specified charging station location and image category",
        "operationId": "submitLocationImage",
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "description": "The id of the location",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "imageCategory",
            "in": "path",
            "description": "Category of the image",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CHARGER",
                "ENTRANCE",
                "LOCATION",
                "NETWORK",
                "OPERATOR",
                "OTHER",
                "OWNER"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Image of the location",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessageDto"
                }
              }
            }
          },
          "400": {
            "description": "The request was not valid",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing Credentials"
          },
          "404": {
            "description": "Location not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "409": {
            "description": "The image was already uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "500": {
            "description": "The image can not be processed"
          }
        },
        "security": [
          {
            "Bearer Authentication": []
          }
        ]
      }
    },
    "/commands/{commandUuid}": {
      "post": {
        "tags": [
          "Commands"
        ],
        "summary": "Add a new command result",
        "description": "Add a new command result",
        "operationId": "addCommandResult",
        "parameters": [
          {
            "name": "commandUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommandResult"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Command with the specified UUID doesn't exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          }
        }
      }
    },
    "/charging": {
      "post": {
        "tags": [
          "Charging"
        ],
        "summary": "Start a new charging session",
        "description": "### Starts a new charging session at the specified charging point (EVSE ID).\n #### User information is extracted from the used token\n #### **location_id** can be same as **evse_uid**, depending on CPO implementation\n **Use Cases:**\n - Start a new charging session for the current user, at a particular EVSE",
        "operationId": "startCharging",
        "parameters": [
          {
            "name": "Authentication-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartSessionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid command",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Required header not present"
          },
          "400 ": {
            "description": "Authentication token parsing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "500 ": {
            "description": "Failed to start a charging session."
          }
        }
      }
    },
    "/charging/{country_code}/{party_id}/{session_id}/stop": {
      "post": {
        "tags": [
          "Charging"
        ],
        "summary": "Stop ongoing charging session",
        "description": "### Stops an ongoing charging session, for the user who is triggering the action.\n #### User information is extracted from the used token\n **Use Cases:**\n - Stop an ongoing charging session of a particular EVSE, for the current user",
        "operationId": "stopCharging",
        "parameters": [
          {
            "name": "country_code",
            "in": "path",
            "description": "Country code of the CPO requesting data from the eMSP system",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "party_id",
            "in": "path",
            "description": "Party ID of the CPO requesting data from the eMSP system",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "session_id",
            "in": "path",
            "description": "The ID of the ongoing session, that is requested to be stopped. Can be retrieved after a charging session has been started, from GET /sessions/active",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authentication-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "No active charging session was found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "500": {
            "description": "Required header not present"
          },
          "400 ": {
            "description": "Authentication token parsing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          }
        }
      }
    },
    "/charging-stations": {
      "get": {
        "tags": [
          "Charging Stations"
        ],
        "summary": "Get charging stations by IDs",
        "description": "### Returns the list of OCPI locations (charging stations) for the requested IDs.\n ### Retrieves charging stations that can be displayed on a map in a cluster, or in single POIs along with their details.\n #### IDs can be retrieved by the POST /charging-stations endpoint.\n **Use Cases:**\n - Show charging station details (e.g. address, connectors, opening hours, etc.)",
        "operationId": "getLocationsByIds",
        "parameters": [
          {
            "name": "publishTokenUid",
            "in": "query",
            "description": "The optional publish token UID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "The list of charging station IDs to search for",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Location"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "403": {
            "description": "The API key was not found or is not valid."
          },
          "404": {
            "description": "Charging station could not be found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests"
          }
        }
      },
      "post": {
        "tags": [
          "Charging Stations"
        ],
        "summary": "Get charging stations clustered by zoom level",
        "description": "### Returns the clusters of all charging stations in the specified bounds (map is defined by geocoordinates).\n #### Filters for payment services (MSPs), charging point operators (charging networks),  and charging speed (power level) can be applied.\n **Use Cases:**\n - Show clusters of charging stations on a map\n - Show single POI markers on a map",
        "operationId": "getLocations",
        "parameters": [
          {
            "name": "publishTokenUid",
            "in": "query",
            "description": "The optional publish token UID",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The API key was not found or is not valid."
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/charging-stations/autocomplete": {
      "post": {
        "tags": [
          "Charging Stations"
        ],
        "summary": "Get autocomplete results for the charging station name query, optional power level filter and optional geo_location parameter",
        "description": " ### Performs a search for charging stations, based on the name query, and optional power level filter (at least one station connector needs to have power level in the specified range).\n #### If the geo_location parameter is present,  returns stations sorted by distance from the geo location.\n **Use Cases:**\n - Search for a charging station by name in a search field",
        "operationId": "autocomplete",
        "parameters": [
          {
            "name": "publishTokenUid",
            "in": "query",
            "description": "The optional publish token UID",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutocompleteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AutocompleteResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The API key was not found or is not valid."
          },
          "404": {
            "description": "Dataset associated with the API key not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/charging-stations/around": {
      "post": {
        "tags": [
          "Charging Stations"
        ],
        "summary": "Get all charging stations around a geo location",
        "description": " ### Returns the charging stations with their details and air distances, which are nearby of the requested geo location.\n #### Filters for connector types (plug types), amenities (e.g. restarants, supermarkets, etc) and fast chargers only, can be applied.\n **Use Cases:**\n - Show charging stations around the user's location (nearby) or around of a defined location (e.g. work)",
        "operationId": "getLocationsAroundGeoLocation",
        "parameters": [
          {
            "name": "publishTokenUid",
            "in": "query",
            "description": "The optional publish token UID",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AroundGeoLocationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AroundGeoLocationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The API key was not found or is not valid."
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/charging-curves": {
      "get": {
        "tags": [
          "Charging curves"
        ],
        "summary": "Get all charging curves",
        "operationId": "getAllChargingCurves",
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VehicleResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Charging curves"
        ],
        "summary": "Add a new charging curve",
        "operationId": "addNewChargingCurve",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChargingCurveRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Vehicle not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          }
        }
      }
    },
    "/billing/info": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Retrieve the user billing info",
        "description": "Returns the billing info of a user",
        "operationId": "getUserBillingInformation",
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingInfoResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing Credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "404": {
            "description": "The billing information was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Authentication": []
          }
        ]
      },
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Creates the user billing info",
        "description": "Creates the billing info for a user",
        "operationId": "createBillingInformation",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessageDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing Credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Authentication": []
          }
        ]
      }
    },
    "/vehicles/{vehicleUuid}/chargingcurve": {
      "get": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Get vehicle charging curve by vehicle UUID",
        "operationId": "getVehicleChargingCurveByVehicleUuid",
        "parameters": [
          {
            "name": "vehicleUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VehicleChargingCurveResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Wrong UUID format",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Vehicle not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          }
        }
      }
    },
    "/user/home-stations": {
      "get": {
        "tags": [
          "User's home stations"
        ],
        "summary": "Get User's home stations",
        "description": " ### Returns a list of home station IDs, for the User who triggered the action.\n**Use Cases:**\n - Retrieve home stations for the current user, in order to be displayed",
        "operationId": "getUserHomeStationsByUserId",
        "parameters": [
          {
            "name": "Authentication-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Required header not present"
          },
          "400 ": {
            "description": "Authentication token parsing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          }
        }
      }
    },
    "/user/favorites/chargingstations": {
      "get": {
        "tags": [
          "Charging station favorites"
        ],
        "summary": "Get favourite charging stations",
        "description": "Returns the list of IDs of the favorite charging stations of the user",
        "operationId": "getFavouriteChargingStations",
        "parameters": [
          {
            "name": "Authentication-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FavoriteChargingStations"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing Credentials"
          },
          "404": {
            "description": "User's charging station was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "500": {
            "description": "Required header not present"
          },
          "400 ": {
            "description": "Authentication token parsing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          }
        }
      }
    },
    "/sessions/active": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "Get all active charging sessions of the user",
        "description": "### Returns a list of all active charging sessions of the current user, with its consumption details\n #### User information is extracted from the used token\n **Use Cases:**\n - Retrieve ongoing charging session details, based on the current user, to show consumption details or just highlight session at a POI",
        "operationId": "getAllActiveSessionsByUser",
        "parameters": [
          {
            "name": "Authentication-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Session"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Authentication token parsing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "500": {
            "description": "Required header not present"
          }
        }
      }
    },
    "/locations/{location_id}/evses/{evse_id}/tariffs": {
      "get": {
        "tags": [
          "Locations"
        ],
        "summary": "Get EVSE connector tariffs",
        "description": "Returns a list of tariffs for each connector present in the EVSE. Each connector has two tariffs, regular and a custom one.",
        "operationId": "getEvseConnectorTariffs",
        "parameters": [
          {
            "name": "Authentication-Token",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "evse_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TariffResponse"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The API key was not found or is not valid."
          },
          "404": {
            "description": "Tariff for the specified EVSE id not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests"
          },
          "500": {
            "description": "Required header not present"
          }
        }
      }
    },
    "/location/review/{locationId}": {
      "get": {
        "tags": [
          "Location Review"
        ],
        "summary": "Get the active review of the location of the current user",
        "description": "Get the active review of the location of the current user",
        "operationId": "getActiveReviewOfCurrentUser",
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "description": "The id of the location",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationReviewGetResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing Credentials"
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Authentication": []
          }
        ]
      }
    },
    "/location/images": {
      "get": {
        "tags": [
          "Location Images"
        ],
        "summary": "Get location images for review",
        "description": "Returns all location images which were submitted but not reviewed yet",
        "operationId": "getLocationImagesForReview",
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LocationImageResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing Credentials"
          },
          "404": {
            "description": "No images for review were found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Authentication": []
          }
        ]
      }
    },
    "/commands": {
      "get": {
        "tags": [
          "Commands"
        ],
        "summary": "Get command result",
        "description": "Get command result",
        "operationId": "getCommandResult",
        "parameters": [
          {
            "name": "commandUuid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResult"
                }
              }
            }
          },
          "404": {
            "description": "Command with the specified UUID doesn't exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          }
        }
      }
    },
    "/charging-stations/search": {
      "get": {
        "tags": [
          "Charging Stations"
        ],
        "summary": "Search charging stations",
        "description": " ### Performs a search for charging station locations by EVSE ID, or charging station name, or operator UUID.\n #### Either evse_id or name must be provided.\n **Use Cases:**\n - Search and find a particular charging station",
        "operationId": "search",
        "parameters": [
          {
            "name": "publishTokenUid",
            "in": "query",
            "description": "The optional publish token UID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "evse",
            "in": "query",
            "description": "The EVSE ID",
            "required": false,
            "schema": {
              "maxLength": 2147483647,
              "minLength": 3,
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "The charging station name",
            "required": false,
            "schema": {
              "maxLength": 2147483647,
              "minLength": 3,
              "type": "string"
            }
          },
          {
            "name": "operatorUuid",
            "in": "query",
            "description": "The optional filter for the operator UUID",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Both search query terms were defined",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The API key was not found or is not valid."
          },
          "404": {
            "description": "Charging station could not be found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests"
          },
          "400 ": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/charging-curves/vehicle/{vehicleUuid}": {
      "get": {
        "tags": [
          "Charging curves"
        ],
        "summary": "Get all charging curves for a specific vehicle",
        "operationId": "getAllChargingCurvesForVehicle",
        "parameters": [
          {
            "name": "vehicleUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VehicleResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Wrong UUID format",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Vehicle not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          }
        }
      }
    },
    "/cdrs/user": {
      "get": {
        "tags": [
          "CDRs"
        ],
        "summary": "Get CDRs with filters, by User",
        "description": "### Returns all charge detail records of the current user, paginated.\n #### Filters can be applied e.g. time period, location ID, EVSE ID, etc.\n #### User information is extracted from the used token\n **Use Cases:**\n - Retrieve CDRs, as soon as they are provided by the CPO (invoiced), with filter options\n - Show and highlight particular CDRs (e.g. at specific EVSEs)",
        "operationId": "getAllCdrPaginated",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Used for pagination, preferable page to fetch",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Used for pagination, maximum number of returned CRDs per page",
            "required": false,
            "schema": {
              "maximum": 100,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "ISO-3166 alpha-2 country code of the CPO that 'owns' this CDR.",
            "required": false,
            "schema": {
              "maxLength": 2,
              "minLength": 0,
              "type": "string",
              "description": "ISO-3166 alpha-2 country code of the CPO that 'owns' this CDR.",
              "example": "DE"
            },
            "example": "DE"
          },
          {
            "name": "partyId",
            "in": "query",
            "description": "CPO ID of the CPO that 'owns' this CDR (following the ISO-15118 standard).",
            "required": false,
            "schema": {
              "maxLength": 3,
              "minLength": 0,
              "type": "string",
              "description": "CPO ID of the CPO that 'owns' this CDR (following the ISO-15118 standard).",
              "example": "ERG"
            },
            "example": "ERG"
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Start timestamp of the charging session, or in-case of a reservation (before the start of a session) the start of the reservation.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Start timestamp of the charging session, or in-case of a reservation (before the start of a session) the start of the reservation.",
              "example": "2024-11-15T23:59:59"
            },
            "example": "2024-11-15T23:59:59"
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "The timestamp when the session was completed/finished, charging might have finished before the session ends, for example: EV is full, but parking cost also has to be paid.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The timestamp when the session was completed/finished, charging might have finished before the session ends, for example: EV is full, but parking cost also has to be paid.",
              "example": "2024-11-15T23:59:59"
            },
            "example": "2024-11-15T23:59:59"
          },
          {
            "name": "tokenUid",
            "in": "query",
            "description": "Unique ID by which this Token can be identified. This is the field used by the CPO’s system (RFID reader on the Charge Point) to identify this token. Currently, in most cases: type=RFID, this is the RFID hidden ID as read by the RFID reader, but that is not a requirement. If this is a <b>type=APP_USER</b> Token, it will be a unique, by the eMSP, generated ID.",
            "required": false,
            "schema": {
              "maxLength": 36,
              "minLength": 0,
              "type": "string",
              "description": "Unique ID by which this Token can be identified. This is the field used by the CPO’s system (RFID reader on the Charge Point) to identify this token. Currently, in most cases: type=RFID, this is the RFID hidden ID as read by the RFID reader, but that is not a requirement. If this is a <b>type=APP_USER</b> Token, it will be a unique, by the eMSP, generated ID.",
              "example": "08a8c5d2f13b9100"
            },
            "example": "08a8c5d2f13b9100"
          },
          {
            "name": "locationId",
            "in": "query",
            "description": "Uniquely identifies the OCPI location (charging station) within the CPO’s platform (and suboperator platforms). This field can never be changed, modified or renamed.",
            "required": false,
            "schema": {
              "maxLength": 36,
              "minLength": 0,
              "type": "string",
              "description": "Uniquely identifies the OCPI location (charging station) within the CPO’s platform (and suboperator platforms). This field can never be changed, modified or renamed.",
              "example": "123e4567-e89b-42d3-a456-426614174000"
            },
            "example": "123e4567-e89b-42d3-a456-426614174000"
          },
          {
            "name": "locationEvseIds",
            "in": "query",
            "description": "List of EVSE IDs (which were used for charging) to search.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "Authentication-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Cdr"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "500": {
            "description": "Required header not present"
          },
          "400 ": {
            "description": "Authentication token parsing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          }
        }
      }
    },
    "/user/favorites/address/{addressUuid}": {
      "delete": {
        "tags": [
          "Address favorites"
        ],
        "summary": "Remove favorite address",
        "description": "Removes the address by ID from the favorite list of the user",
        "operationId": "deleteFavouriteAddress",
        "parameters": [
          {
            "name": "addressUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authentication-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessageDto"
                }
              }
            }
          },
          "400": {
            "description": "Wrong UUID format",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing Credentials"
          },
          "404": {
            "description": "Favourite addresses were not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "500": {
            "description": "Required header not present"
          },
          "400 ": {
            "description": "Authentication token parsing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SuccessMessageDto": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          }
        }
      },
      "ErrorMessageDto": {
        "required": [
          "errorCode",
          "message"
        ],
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "The error message",
            "example": "Example error message"
          },
          "errorCode": {
            "type": "string",
            "description": "The error code",
            "example": "EXAMPLE_ERROR_CODE"
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "description": "Affected field"
          },
          "message": {
            "type": "string",
            "description": "Validation message"
          }
        },
        "description": "List of validation errors"
      },
      "ValidationErrorMessageDto": {
        "required": [
          "errorCode",
          "message"
        ],
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "The error message",
            "example": "Example error message"
          },
          "errorCode": {
            "type": "string",
            "description": "The error code",
            "example": "EXAMPLE_ERROR_CODE"
          },
          "validationErrors": {
            "type": "array",
            "description": "List of validation errors",
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            }
          }
[...]
