{
  "openapi": "3.0.1",
  "info": {
    "title": "obelis-service",
    "description": "A service for collecting and reviewing charging hub data",
    "contact": {
      "name": "P3 digital services GmbH",
      "email": "contact@energystacks.io"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://p3-acc.obelis.energystacks.io/obelis/v1",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "Processed Reports - Renewal",
      "description": "Operations for processed Renewal reports."
    },
    {
      "name": "Charging Hub Processed Reports - Ad Hoc Tariff",
      "description": "Operations for processed Ad Hoc Tariff reports."
    },
    {
      "name": "Global Processed Reports",
      "description": "API for retrieving global processed reports for a specific month."
    },
    {
      "name": "Raw Reports - Ratings",
      "description": "Operations for raw Rating reports."
    },
    {
      "name": "Charging Station Reports",
      "description": "API for retrieving processed reports for a specific charging hub."
    },
    {
      "name": "Charging stations - Processed Reports - Charging Points Defects",
      "description": "Operations for Charging Point Defects reports (charge point operator)."
    },
    {
      "name": "Raw Reports - Non-Discriminatory access",
      "description": "Operations for raw Non-Discriminatory access reports."
    },
    {
      "name": "Processed Reports - Non-Discriminatory access",
      "description": "Operations for processed Non-Discriminatory access reports."
    },
    {
      "name": "Raw Reports - Renewal",
      "description": "Operations for raw Renewal reports."
    },
    {
      "name": "Charging Point",
      "description": "Operations for charging point."
    },
    {
      "name": "Processed Reports - Rating",
      "description": "Operations for raw processed Rating reports."
    },
    {
      "name": "Processed Reports - Rating",
      "description": "Operations for processed Rating reports."
    },
    {
      "name": "Charging Hub - Raw Reports - Facility Damages",
      "description": "Operations for raw Facility Damages reports."
    },
    {
      "name": "Charging Hub",
      "description": "Operations for charging hub."
    },
    {
      "name": "Charging Hub - Raw Reports - Ad Hoc Tariff",
      "description": "Operations for raw Ad Hoc Tariff."
    },
    {
      "name": "Raw Reports - Hotline Ratings",
      "description": "Operations for raw Hotline Rating reports."
    },
    {
      "name": "Charging Points - Raw Reports - Defects",
      "description": "Operations for raw Charging Point Defects reports."
    },
    {
      "name": "Charging Station",
      "description": "Operations for charging station."
    },
    {
      "name": "Charging Hub Processed Reports - Facility Damages",
      "description": "Operations for processed Facility Damages reports."
    },
    {
      "name": "Processed Reports - Hotline Ratings",
      "description": "Operations for processed Hotline Rating reports."
    },
    {
      "name": "Charging Hub Reports",
      "description": "API for retrieving processed reports for a specific charging hub."
    },
    {
      "name": "Charging session",
      "description": "Operations for charging session."
    }
  ],
  "paths": {
    "/raw-reports/nondiscriminatory-access/{uid}": {
      "put": {
        "tags": [
          "Raw Reports - Non-Discriminatory access"
        ],
        "summary": "Edit a raw Non-Discriminatory access report.",
        "description": "Edit a raw Non-Discriminatory access report.",
        "operationId": "editRawNonDiscriminatoryAccessReport",
        "parameters": [
          {
            "name": "userIdentity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NonDiscriminatoryAccessReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "MONTH_ON_REPORT_NOT_VALID": {
                    "description": "MONTH_ON_REPORT_NOT_VALID",
                    "$ref": "#/components/examples/MONTH_ON_REPORT_NOT_VALID"
                  },
                  "PROVIDER_GROUP_DO_NOT_START_WITH_2_CAPITAL_LETTERS": {
                    "description": "PROVIDER_GROUP_DO_NOT_START_WITH_2_CAPITAL_LETTERS",
                    "$ref": "#/components/examples/PROVIDER_GROUP_DO_NOT_START_WITH_2_CAPITAL_LETTERS"
                  },
                  "VALID_TO_DATE_IS_BEFORE_OR_EQUAL_TO_VALID_FROM": {
                    "description": "VALID_TO_DATE_IS_BEFORE_OR_EQUAL_TO_VALID_FROM",
                    "$ref": "#/components/examples/VALID_TO_DATE_IS_BEFORE_OR_EQUAL_TO_VALID_FROM"
                  },
                  "PROVIDER_GROUP_CHANGED": {
                    "description": "PROVIDER_GROUP_CHANGED",
                    "$ref": "#/components/examples/PROVIDER_GROUP_CHANGED"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "NON_DISCRIMINATORY_ACCESS_REPORT_NOT_FOUND": {
                    "description": "NON_DISCRIMINATORY_ACCESS_REPORT_NOT_FOUND",
                    "$ref": "#/components/examples/NON_DISCRIMINATORY_ACCESS_REPORT_NOT_FOUND"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/raw-reports/hotline-ratings/{uid}": {
      "put": {
        "tags": [
          "Raw Reports - Hotline Ratings"
        ],
        "summary": "Edit existing raw Hotline Rating report.",
        "description": "Replace hotline rating report for a specific month.",
        "operationId": "editAdHocTariffRawReport",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIdentity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditHotlineRatingReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "MONTH_ON_REPORT_NOT_VALID": {
                    "description": "MONTH_ON_REPORT_NOT_VALID",
                    "$ref": "#/components/examples/MONTH_ON_REPORT_NOT_VALID"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "HOTLINE_RATING_REPORT_UID_NOT_FOUND": {
                    "description": "HOTLINE_RATING_REPORT_UID_NOT_FOUND",
                    "$ref": "#/components/examples/HOTLINE_RATING_REPORT_UID_NOT_FOUND"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/raw-reports/charging-stations/charging-points/renewal/{uid}": {
      "put": {
        "tags": [
          "Raw Reports - Renewal"
        ],
        "summary": "Update Charging Point raw Renewal report.",
        "description": "Update new Charging Point raw Renewal report.",
        "operationId": "updateChargingPointRenewalRawReport",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIdentity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditChargingPointRenewalReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "RENEWAL_START_TIME_NEEDS_TO_BE_BEFORE_END_TIME": {
                    "description": "RENEWAL_START_TIME_NEEDS_TO_BE_BEFORE_END_TIME",
                    "$ref": "#/components/examples/RENEWAL_START_TIME_NEEDS_TO_BE_BEFORE_END_TIME"
                  },
                  "CHARGING_POINT_CONNECTED_TO_PROVIDED_CHARGING_HUB_DOES_NOT_EXIST": {
                    "description": "CHARGING_POINT_CONNECTED_TO_PROVIDED_CHARGING_HUB_DOES_NOT_EXIST",
                    "$ref": "#/components/examples/CHARGING_POINT_CONNECTED_TO_PROVIDED_CHARGING_HUB_DOES_NOT_EXIST"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "RENEWAL_RAW_CHARGING_POINT_DOES_NOT_EXIST_FOR_PROVIDED_UID": {
                    "description": "RENEWAL_RAW_CHARGING_POINT_DOES_NOT_EXIST_FOR_PROVIDED_UID",
                    "$ref": "#/components/examples/RENEWAL_RAW_CHARGING_POINT_DOES_NOT_EXIST_FOR_PROVIDED_UID"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/raw-reports/charging-stations/charging-points/rating/{uid}": {
      "put": {
        "tags": [
          "Raw Reports - Ratings"
        ],
        "summary": "Edit existing charging point raw Rating report.",
        "description": "Edit existing charging point raw Rating report.",
        "operationId": "editRatingRawReport",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIdentity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChargingPointEditRatingReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "RAW_RATING_REPORT_NOT_FOUND": {
                    "description": "RAW_RATING_REPORT_NOT_FOUND",
                    "$ref": "#/components/examples/RAW_RATING_REPORT_NOT_FOUND"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/raw-reports/charging-stations/charging-points/defects/{uid}": {
      "put": {
        "tags": [
          "Charging Points - Raw Reports - Defects"
        ],
        "summary": "Edit existing raw Charging Point Defects report.",
        "description": "Edit existing raw Charging Point Defects report.",
        "operationId": "editChargingPointDefectsRawReport",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIdentity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditChargingPointDefectsRawReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "REPORT_EMERGENCE_DATE_IS_LATER_THAN_FORECAST_DATE": {
                    "description": "REPORT_EMERGENCE_DATE_IS_LATER_THAN_FORECAST_DATE",
                    "$ref": "#/components/examples/REPORT_EMERGENCE_DATE_IS_LATER_THAN_FORECAST_DATE"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "RAW_CHARGING_POINT_DEFECT_UID_NUMBER_NOT_FOUND": {
                    "description": "RAW_CHARGING_POINT_DEFECT_UID_NUMBER_NOT_FOUND",
                    "$ref": "#/components/examples/RAW_CHARGING_POINT_DEFECT_UID_NUMBER_NOT_FOUND"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/raw-reports/charging-hub/ratings/{uid}": {
      "put": {
        "tags": [
          "Raw Reports - Ratings"
        ],
        "summary": "Edit existing charging hub raw Rating report.",
        "description": "Edit existing charging hub raw Rating report.",
        "operationId": "editAdHocTariffRawReport_1",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIdentity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditRatingReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "RAW_RATING_REPORT_NOT_FOUND": {
                    "description": "RAW_RATING_REPORT_NOT_FOUND",
                    "$ref": "#/components/examples/RAW_RATING_REPORT_NOT_FOUND"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/raw-reports/charging-hub/facility-damages/{uid}": {
      "put": {
        "tags": [
          "Charging Hub - Raw Reports - Facility Damages"
        ],
        "summary": "Edit existing raw Facility Damages report.",
        "description": "Edit existing raw Facility Damages report.",
        "operationId": "editFacilityDamagesRawReport",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIdentity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditRawFacilityDamagesReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "REPORT_EMERGENCE_DATE_IS_LATER_THAN_FORECAST_DATE": {
                    "description": "REPORT_EMERGENCE_DATE_IS_LATER_THAN_FORECAST_DATE",
                    "$ref": "#/components/examples/REPORT_EMERGENCE_DATE_IS_LATER_THAN_FORECAST_DATE"
                  },
                  "REPORT_EMERGENCE_DATE_IS_LATER_THAN_FIX_DATE": {
                    "description": "REPORT_EMERGENCE_DATE_IS_LATER_THAN_FIX_DATE",
                    "$ref": "#/components/examples/REPORT_EMERGENCE_DATE_IS_LATER_THAN_FIX_DATE"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "RAW_FACILITY_DAMAGES_UID_NUMBER_NOT_FOUND": {
                    "description": "RAW_FACILITY_DAMAGES_UID_NUMBER_NOT_FOUND",
                    "$ref": "#/components/examples/RAW_FACILITY_DAMAGES_UID_NUMBER_NOT_FOUND"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/raw-reports/charging-hub/ad-hoc-tariff/{uid}": {
      "put": {
        "tags": [
          "Charging Hub - Raw Reports - Ad Hoc Tariff"
        ],
        "summary": "Edit existing raw ad-hoc Tariff report.",
        "description": "Edit existing raw ad-hoc Tariff report.",
        "operationId": "editAdHocTariffRawReport_2",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIdentity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditAdHocTariffReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "MONTH_ON_REPORT_NOT_VALID": {
                    "description": "MONTH_ON_REPORT_NOT_VALID",
                    "$ref": "#/components/examples/MONTH_ON_REPORT_NOT_VALID"
                  },
                  "VALID_TO_DATE_IS_BEFORE_OR_EQUAL_TO_VALID_FROM": {
                    "description": "VALID_TO_DATE_IS_BEFORE_OR_EQUAL_TO_VALID_FROM",
                    "$ref": "#/components/examples/VALID_TO_DATE_IS_BEFORE_OR_EQUAL_TO_VALID_FROM"
                  },
                  "RAW_AD_HOC_TARIFF_UID_NUMBER_NOT_FOUND": {
                    "description": "RAW_AD_HOC_TARIFF_UID_NUMBER_NOT_FOUND",
                    "$ref": "#/components/examples/RAW_AD_HOC_TARIFF_UID_NUMBER_NOT_FOUND"
                  }
                }
              }
            }
          },
          "409": {
            "description": "If a ad hoc tariff with the charging hub uid already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "AD_HOC_TARIFF_REPORT_ALREADY_EXISTS": {
                    "description": "AD_HOC_TARIFF_REPORT_ALREADY_EXISTS",
                    "$ref": "#/components/examples/AD_HOC_TARIFF_REPORT_ALREADY_EXISTS"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/processed-reports/nondiscriminatory-access/{uid}": {
      "get": {
        "tags": [
          "Processed Reports - Non-Discriminatory access"
        ],
        "summary": "Get processed Non-Discriminatory Access report by uid.",
        "description": "Returns a processed Non-Discriminatory Access reports, based on the provided month.",
        "operationId": "fetchNonDiscriminatoryAccessProcessedReports",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "description": "A string representing the unique identifiers (UID) of the Non-DiscriminatoryAccess report.",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 0,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NonDiscriminatoryAccessReportResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "NON_DISCRIMINATORY_ACCESS_REPORT_NOT_FOUND": {
                    "description": "NON_DISCRIMINATORY_ACCESS_REPORT_NOT_FOUND",
                    "$ref": "#/components/examples/NON_DISCRIMINATORY_ACCESS_REPORT_NOT_FOUND"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Processed Reports - Non-Discriminatory access"
        ],
        "summary": "Edit a processed Non-Discriminatory access report.",
        "description": "Edit a processed Non-Discriminatory access report.",
        "operationId": "editProcessedNonDiscriminatoryAccessReport",
        "parameters": [
          {
            "name": "userIdentity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NonDiscriminatoryAccessReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "MONTH_ON_REPORT_NOT_VALID": {
                    "description": "MONTH_ON_REPORT_NOT_VALID",
                    "$ref": "#/components/examples/MONTH_ON_REPORT_NOT_VALID"
                  },
                  "PROVIDER_GROUP_DO_NOT_START_WITH_2_CAPITAL_LETTERS": {
                    "description": "PROVIDER_GROUP_DO_NOT_START_WITH_2_CAPITAL_LETTERS",
                    "$ref": "#/components/examples/PROVIDER_GROUP_DO_NOT_START_WITH_2_CAPITAL_LETTERS"
                  },
                  "VALID_TO_DATE_IS_BEFORE_OR_EQUAL_TO_VALID_FROM": {
                    "description": "VALID_TO_DATE_IS_BEFORE_OR_EQUAL_TO_VALID_FROM",
                    "$ref": "#/components/examples/VALID_TO_DATE_IS_BEFORE_OR_EQUAL_TO_VALID_FROM"
                  },
                  "PROVIDER_GROUP_CHANGED": {
                    "description": "PROVIDER_GROUP_CHANGED",
                    "$ref": "#/components/examples/PROVIDER_GROUP_CHANGED"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "NON_DISCRIMINATORY_ACCESS_REPORT_NOT_FOUND": {
                    "description": "NON_DISCRIMINATORY_ACCESS_REPORT_NOT_FOUND",
                    "$ref": "#/components/examples/NON_DISCRIMINATORY_ACCESS_REPORT_NOT_FOUND"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/processed-reports/hotline-ratings/{uid}": {
      "get": {
        "tags": [
          "Processed Reports - Hotline Ratings"
        ],
        "summary": "Get processed Hotline Rating report by uid.",
        "description": "Get processed Hotline Rating information by uid.",
        "operationId": "fetchProcessedRatingReport",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HotlineRatingRawResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "HOTLINE_RATING_REPORT_MONTH_NOT_FOUND": {
                    "description": "HOTLINE_RATING_REPORT_MONTH_NOT_FOUND",
                    "$ref": "#/components/examples/HOTLINE_RATING_REPORT_MONTH_NOT_FOUND"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Processed Reports - Hotline Ratings"
        ],
        "summary": "Edit existing processed Hotline Rating report.",
        "description": "Replace hotline rating report for a specific month.",
        "operationId": "editAdHocTariffProcessedReport",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIdentity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditHotlineRatingReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "MONTH_ON_REPORT_NOT_VALID": {
                    "description": "MONTH_ON_REPORT_NOT_VALID",
                    "$ref": "#/components/examples/MONTH_ON_REPORT_NOT_VALID"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "HOTLINE_RATING_REPORT_UID_NOT_FOUND": {
                    "description": "HOTLINE_RATING_REPORT_UID_NOT_FOUND",
                    "$ref": "#/components/examples/HOTLINE_RATING_REPORT_UID_NOT_FOUND"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/processed-reports/charging-stations/charging-points/renewal/{uid}": {
      "get": {
        "tags": [
          "Processed Reports - Renewal"
        ],
        "summary": "Get Charging Point processed Renewal report.",
        "description": "Get Charging Point processed Renewal report.",
        "operationId": "getChargingPointRenewalProcessedReport",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargingPointRenewalReport"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "RENEWAL_PROCESSED_CHARGING_POINT_DOES_NOT_EXIST_FOR_PROVIDED_UID": {
                    "description": "RENEWAL_PROCESSED_CHARGING_POINT_DOES_NOT_EXIST_FOR_PROVIDED_UID",
                    "$ref": "#/components/examples/RENEWAL_PROCESSED_CHARGING_POINT_DOES_NOT_EXIST_FOR_PROVIDED_UID"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Processed Reports - Renewal"
        ],
        "summary": "Edit Charging Point processed Renewal report.",
        "description": "Edit Charging Point processed Renewal report.",
        "operationId": "updateChargingPointRenewalProcessedReport",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIdentity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditChargingPointRenewalReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "RENEWAL_START_TIME_NEEDS_TO_BE_BEFORE_END_TIME": {
                    "description": "RENEWAL_START_TIME_NEEDS_TO_BE_BEFORE_END_TIME",
                    "$ref": "#/components/examples/RENEWAL_START_TIME_NEEDS_TO_BE_BEFORE_END_TIME"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "RENEWAL_PROCESSED_CHARGING_POINT_DOES_NOT_EXIST_FOR_PROVIDED_UID": {
                    "description": "RENEWAL_PROCESSED_CHARGING_POINT_DOES_NOT_EXIST_FOR_PROVIDED_UID",
                    "$ref": "#/components/examples/RENEWAL_PROCESSED_CHARGING_POINT_DOES_NOT_EXIST_FOR_PROVIDED_UID"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/processed-reports/charging-stations/charging-points/ratings/{uid}": {
      "get": {
        "tags": [
          "Processed Reports - Rating"
        ],
        "summary": "Get charging point processed Rating report by uid.",
        "description": "Returns the charging point processed Rating report, based on the provided rating report uid.",
        "operationId": "fetchProcessedRatingReport_1",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "description": "The uid of the rating report of a charging point.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RatingResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "PROCESSED_RATING_REPORT_NOT_FOUND": {
                    "description": "PROCESSED_RATING_REPORT_NOT_FOUND",
                    "$ref": "#/components/examples/PROCESSED_RATING_REPORT_NOT_FOUND"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Processed Reports - Rating"
        ],
        "summary": "Edit existing charging point processed Rating report.",
        "description": "Edit existing charging point processed Rating report.",
        "operationId": "editRatingProcessedReport",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIdentity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChargingPointEditRatingReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "PROCESSED_RATING_REPORT_NOT_FOUND": {
                    "description": "PROCESSED_RATING_REPORT_NOT_FOUND",
                    "$ref": "#/components/examples/PROCESSED_RATING_REPORT_NOT_FOUND"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/processed-reports/charging-stations/charging-points/defects/{uid}": {
      "get": {
        "tags": [
          "Charging stations - Processed Reports - Charging Points Defects"
        ],
        "summary": "Get processed Charging Point Defects by uid.",
        "description": "Returns processed Charging Point Defects, based on the provided uid.",
        "operationId": "fetchChargingPointDefectsProcessedReport",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargingPointDefectsProcessedReportResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "PROCESSED_CHARGING_POINT_DEFECT_UID_NUMBER_NOT_FOUND": {
                    "description": "PROCESSED_CHARGING_POINT_DEFECT_UID_NUMBER_NOT_FOUND",
                    "$ref": "#/components/examples/PROCESSED_CHARGING_POINT_DEFECT_UID_NUMBER_NOT_FOUND"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Charging stations - Processed Reports - Charging Points Defects"
        ],
        "summary": "Edit existing processed Charging Point Defects report.",
        "description": "Edit existing processed Charging Point Defects report.",
        "operationId": "editChargingPointDefectsProcessedReport",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIdentity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditProcessedChargingPointDefectsReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "REPORT_EMERGENCE_DATE_IS_LATER_THAN_FORECAST_DATE": {
                    "description": "REPORT_EMERGENCE_DATE_IS_LATER_THAN_FORECAST_DATE",
                    "$ref": "#/components/examples/REPORT_EMERGENCE_DATE_IS_LATER_THAN_FORECAST_DATE"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "PROCESSED_CHARGING_POINT_DEFECT_UID_NUMBER_NOT_FOUND": {
                    "description": "PROCESSED_CHARGING_POINT_DEFECT_UID_NUMBER_NOT_FOUND",
                    "$ref": "#/components/examples/PROCESSED_CHARGING_POINT_DEFECT_UID_NUMBER_NOT_FOUND"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/processed-reports/charging-hub/ratings/{uid}": {
      "get": {
        "tags": [
          "Processed Reports - Rating"
        ],
        "summary": "Get processed Rating report by charging hub id and month.",
        "description": "Returns processed Rating report, based on the provided charging hub id and month.",
        "operationId": "fetchProcessedRatingReport_2",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RatingResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "PROCESSED_RATING_UID_NOT_FOUND": {
                    "description": "PROCESSED_RATING_UID_NOT_FOUND",
                    "$ref": "#/components/examples/PROCESSED_RATING_UID_NOT_FOUND"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Processed Reports - Rating"
        ],
        "summary": "Edit existing processed Rating report.",
        "description": "Edit existing processed Rating report.",
        "operationId": "editAdHocTariffProcessedReport_1",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIdentity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditRatingReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "PROCESSED_RATING_UID_NOT_FOUND": {
                    "description": "PROCESSED_RATING_UID_NOT_FOUND",
                    "$ref": "#/components/examples/PROCESSED_RATING_UID_NOT_FOUND"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/processed-reports/charging-hub/facility-damages/{uid}": {
      "get": {
        "tags": [
          "Charging Hub Processed Reports - Facility Damages"
        ],
        "summary": "Get processed Facility Damages by uid.",
        "description": "Returns processed a Facility Damages, based on the provided uid.",
        "operationId": "fetchFacilityDamagesReport",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessedFacilityDamagesResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "PROCESSED_FACILITY_DAMAGES_UID_NUMBER_NOT_FOUND": {
                    "description": "PROCESSED_FACILITY_DAMAGES_UID_NUMBER_NOT_FOUND",
                    "$ref": "#/components/examples/PROCESSED_FACILITY_DAMAGES_UID_NUMBER_NOT_FOUND"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Charging Hub Processed Reports - Facility Damages"
        ],
        "summary": "Edit existing processed Facility Damages report.",
        "description": "Edit existing processed Facility Damages report.",
        "operationId": "editFacilityDamagesReport",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIdentity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProcessedFacilityDamagesUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "REPORT_EMERGENCE_DATE_IS_LATER_THAN_FORECAST_DATE": {
                    "description": "REPORT_EMERGENCE_DATE_IS_LATER_THAN_FORECAST_DATE",
                    "$ref": "#/components/examples/REPORT_EMERGENCE_DATE_IS_LATER_THAN_FORECAST_DATE"
                  },
                  "REPORT_EMERGENCE_DATE_IS_LATER_THAN_FIX_DATE": {
                    "description": "REPORT_EMERGENCE_DATE_IS_LATER_THAN_FIX_DATE",
                    "$ref": "#/components/examples/REPORT_EMERGENCE_DATE_IS_LATER_THAN_FIX_DATE"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "PROCESSED_FACILITY_DAMAGES_UID_NUMBER_NOT_FOUND": {
                    "description": "PROCESSED_FACILITY_DAMAGES_UID_NUMBER_NOT_FOUND",
                    "$ref": "#/components/examples/PROCESSED_FACILITY_DAMAGES_UID_NUMBER_NOT_FOUND"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/processed-reports/charging-hub/ad-hoc-tariff/{uid}": {
      "get": {
        "tags": [
          "Charging Hub Processed Reports - Ad Hoc Tariff"
        ],
        "summary": "Get processed ad-hoc Tariff by charging hub id and month.",
        "description": "Returns processed an ad-hoc Tariff, based on the provided charging hub id and month.",
        "operationId": "fetchAdHocRawTariffReport_1",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdHocTariffResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "RAW_AD_HOC_TARIFF_NOT_FOUND": {
                    "description": "RAW_AD_HOC_TARIFF_NOT_FOUND",
                    "$ref": "#/components/examples/RAW_AD_HOC_TARIFF_NOT_FOUND"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Charging Hub Processed Reports - Ad Hoc Tariff"
        ],
        "summary": "Edit existing processed ad-hoc Tariff report.",
        "description": "Edit existing processed ad-hoc Tariff report.",
        "operationId": "editAdHocTariffRawReport_3",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIdentity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditAdHocTariffReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "MONTH_ON_REPORT_NOT_VALID": {
                    "description": "MONTH_ON_REPORT_NOT_VALID",
                    "$ref": "#/components/examples/MONTH_ON_REPORT_NOT_VALID"
                  },
                  "VALID_TO_DATE_IS_BEFORE_OR_EQUAL_TO_VALID_FROM": {
                    "description": "VALID_TO_DATE_IS_BEFORE_OR_EQUAL_TO_VALID_FROM",
                    "$ref": "#/components/examples/VALID_TO_DATE_IS_BEFORE_OR_EQUAL_TO_VALID_FROM"
                  },
                  "RAW_AD_HOC_TARIFF_UID_NUMBER_NOT_FOUND": {
                    "description": "RAW_AD_HOC_TARIFF_UID_NUMBER_NOT_FOUND",
                    "$ref": "#/components/examples/RAW_AD_HOC_TARIFF_UID_NUMBER_NOT_FOUND"
                  }
                }
              }
            }
          },
          "409": {
            "description": "If a ad hoc tariff with the charging hub id already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "AD_HOC_TARIFF_REPORT_ALREADY_EXISTS": {
                    "description": "AD_HOC_TARIFF_REPORT_ALREADY_EXISTS",
                    "$ref": "#/components/examples/AD_HOC_TARIFF_REPORT_ALREADY_EXISTS"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/charging-stations/{identityKey}": {
      "get": {
        "tags": [
          "Charging Station"
        ],
        "summary": "Get Charging Station.",
        "description": "Get charging station details with charging points and connectors",
        "operationId": "getChargingStation",
        "parameters": [
          {
            "name": "identityKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargingStationResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "CHARGING_STATION_WITH_IDENTITY_KEY_WAS_NOT_FOUND": {
                    "description": "CHARGING_STATION_WITH_IDENTITY_KEY_WAS_NOT_FOUND",
                    "$ref": "#/components/examples/CHARGING_STATION_WITH_IDENTITY_KEY_WAS_NOT_FOUND"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Charging Station"
        ],
        "summary": "Edit a Charging Station.",
        "description": "Edits a Charging Station",
        "operationId": "updateChargingStation",
        "parameters": [
          {
            "name": "identityKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIdentity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChargingStationUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "CANT_CHANGE_CHARGING_HUB_OF_AN_ALREADY_CREATED_STATION": {
                    "description": "CANT_CHANGE_CHARGING_HUB_OF_AN_ALREADY_CREATED_STATION",
                    "$ref": "#/components/examples/CANT_CHANGE_CHARGING_HUB_OF_AN_ALREADY_CREATED_STATION"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "CHARGING_STATION_WITH_IDENTITY_KEY_WAS_NOT_FOUND": {
                    "description": "CHARGING_STATION_WITH_IDENTITY_KEY_WAS_NOT_FOUND",
                    "$ref": "#/components/examples/CHARGING_STATION_WITH_IDENTITY_KEY_WAS_NOT_FOUND"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "CHARGING_STATION_HAS_ASSOCIATED_STATIONS": {
                    "description": "CHARGING_STATION_HAS_ASSOCIATED_STATIONS",
                    "$ref": "#/components/examples/CHARGING_STATION_HAS_ASSOCIATED_STATIONS"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Charging Station"
        ],
        "summary": "Delete charging station.",
        "description": "Deletes charging station",
        "operationId": "deleteChargingStation",
        "parameters": [
          {
            "name": "identityKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIdentity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "CHARGING_STATION_WITH_IDENTITY_KEY_WAS_NOT_FOUND": {
                    "description": "CHARGING_STATION_WITH_IDENTITY_KEY_WAS_NOT_FOUND",
                    "$ref": "#/components/examples/CHARGING_STATION_WITH_IDENTITY_KEY_WAS_NOT_FOUND"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/charging-stations/{identityKey}/charging-points/{chargingPointUid}": {
      "put": {
        "tags": [
          "Charging Point"
        ],
        "summary": "Edit a charging point.",
        "description": "Edit a charging point.",
        "operationId": "updateChargingStationChargingPoint",
        "parameters": [
          {
            "name": "identityKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chargingPointUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIdentity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChargingPointUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "CONNECTORS_SIZE_DO_NOT_MATCH": {
                    "description": "CONNECTORS_SIZE_DO_NOT_MATCH",
                    "$ref": "#/components/examples/CONNECTORS_SIZE_DO_NOT_MATCH"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "CHARGING_HUB_DOES_NOT_EXIST": {
                    "description": "CHARGING_HUB_DOES_NOT_EXIST",
                    "$ref": "#/components/examples/CHARGING_HUB_DOES_NOT_EXIST"
                  },
                  "CHARGING_POINT_FOR_CHARGING_STATION_DOES_NOT_EXISTS": {
                    "description": "CHARGING_POINT_FOR_CHARGING_STATION_DOES_NOT_EXISTS",
                    "$ref": "#/components/examples/CHARGING_POINT_FOR_CHARGING_STATION_DOES_NOT_EXISTS"
                  },
                  "CHARGING_HUB_FOR_CHARGING_STATION_DOES_NOT_EXISTS": {
                    "description": "CHARGING_HUB_FOR_CHARGING_STATION_DOES_NOT_EXISTS",
                    "$ref": "#/components/examples/CHARGING_HUB_FOR_CHARGING_STATION_DOES_NOT_EXISTS"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "EVSE_ID_ALREADY_EXISTS": {
                    "description": "EVSE_ID_ALREADY_EXISTS",
                    "$ref": "#/components/examples/EVSE_ID_ALREADY_EXISTS"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Charging Point"
        ],
        "summary": "Delete charging station charging point.",
        "description": "Deletes charging station charging point",
        "operationId": "deleteChargingStationChargingPoint",
        "parameters": [
          {
            "name": "identityKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chargingPointUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIdentity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "CHARGING_POINT_FOR_CHARGING_STATION_DOES_NOT_EXISTS": {
                    "description": "CHARGING_POINT_FOR_CHARGING_STATION_DOES_NOT_EXISTS",
                    "$ref": "#/components/examples/CHARGING_POINT_FOR_CHARGING_STATION_DOES_NOT_EXISTS"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/charging-sessions/{chargingSessionUid}": {
      "put": {
        "tags": [
          "Charging session"
        ],
        "summary": "Update existing charging session.",
        "description": "Update existing charging session with charging periods and send it to Obelis service of the german government.",
        "operationId": "updateChargingSession",
        "parameters": [
          {
            "name": "chargingSessionUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIdentity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChargingSessionUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorMessageDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "CHARGING_SESSION_DOES_NOT_EXIST": {
                    "description": "CHARGING_SESSION_DOES_NOT_EXIST",
                    "$ref": "#/components/examples/CHARGING_SESSION_DOES_NOT_EXIST"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/charging-hubs/{chargingHubUid}": {
      "get": {
        "tags": [
          "Charging Hub"
        ],
        "summary": "Retrieve charging hub information by id.",
        "description": "Retrieve charging hub information by id.",
        "operationId": "getChargingHubByUid",
        "parameters": [
          {
            "name": "chargingHubUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargingHubResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "CHARGING_HUB_DOES_NOT_EXIST": {
                    "description": "CHARGING_HUB_DOES_NOT_EXIST",
                    "$ref": "#/components/examples/CHARGING_HUB_DOES_NOT_EXIST"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Charging Hub"
        ],
        "summary": "Edit a charging hub.",
        "description": "Edit a  charging hub and send it to Obelis service of the german government.",
        "operationId": "updateChargingHub",
        "parameters": [
          {
            "name": "chargingHubUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIdentity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChargingHubUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorMessageDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "CHARGING_HUB_DOES_NOT_EXIST": {
                    "description": "CHARGING_HUB_DOES_NOT_EXIST",
                    "$ref": "#/components/examples/CHARGING_HUB_DOES_NOT_EXIST"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "CHARGING_HUB_COORDINATES_ALREADY_EXISTS": {
                    "description": "CHARGING_HUB_COORDINATES_ALREADY_EXISTS",
                    "$ref": "#/components/examples/CHARGING_HUB_COORDINATES_ALREADY_EXISTS"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Charging Hub"
        ],
        "summary": "Delete a Charging Hub.",
        "description": "Delete a Charging Hub.",
        "operationId": "deleteChargingHub",
        "parameters": [
          {
            "name": "chargingHubUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIdentity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorMessageDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "CHARGING_HUB_DOES_NOT_EXIST": {
                    "description": "CHARGING_HUB_DOES_NOT_EXIST",
                    "$ref": "#/components/examples/CHARGING_HUB_DOES_NOT_EXIST"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "CHARGING_HUB_HAS_ASSOCIATED_STATIONS": {
                    "description": "CHARGING_HUB_HAS_ASSOCIATED_STATIONS",
                    "$ref": "#/components/examples/CHARGING_HUB_HAS_ASSOCIATED_STATIONS"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/raw-reports/nondiscriminatory-access": {
      "post": {
        "tags": [
          "Raw Reports - Non-Discriminatory access"
        ],
        "summary": "Add new raw Non-Discriminatory access report.",
        "description": "Add new raw Non-Discriminatory access report.",
        "operationId": "persistRawNonDiscriminatoryAccessReport",
        "parameters": [
          {
            "name": "userIdentity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NonDiscriminatoryAccessReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "MONTH_ON_REPORT_NOT_VALID": {
                    "description": "MONTH_ON_REPORT_NOT_VALID",
                    "$ref": "#/components/examples/MONTH_ON_REPORT_NOT_VALID"
                  },
                  "PROVIDER_GROUP_DO_NOT_START_WITH_2_CAPITAL_LETTERS": {
                    "description": "PROVIDER_GROUP_DO_NOT_START_WITH_2_CAPITAL_LETTERS",
                    "$ref": "#/components/examples/PROVIDER_GROUP_DO_NOT_START_WITH_2_CAPITAL_LETTERS"
                  },
                  "VALID_TO_DATE_IS_BEFORE_OR_EQUAL_TO_VALID_FROM": {
                    "description": "VALID_TO_DATE_IS_BEFORE_OR_EQUAL_TO_VALID_FROM",
                    "$ref": "#/components/examples/VALID_TO_DATE_IS_BEFORE_OR_EQUAL_TO_VALID_FROM"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "NON_DISCRIMINATORY_ACCESS_REPORT_ALREADY_EXISTS": {
                    "description": "NON_DISCRIMINATORY_ACCESS_REPORT_ALREADY_EXISTS",
                    "$ref": "#/components/examples/NON_DISCRIMINATORY_ACCESS_REPORT_ALREADY_EXISTS"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/raw-reports/hotline-ratings": {
      "post": {
        "tags": [
          "Raw Reports - Hotline Ratings"
        ],
        "summary": "Add new raw Hotline Rating report.",
        "description": "Perform a monthly report for the hotline rating.",
        "operationId": "persistRawHotlineRatingReport",
        "parameters": [
          {
            "name": "userIdentity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateHotlineRatingReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "MONTH_ON_REPORT_NOT_VALID": {
                    "description": "MONTH_ON_REPORT_NOT_VALID",
                    "$ref": "#/components/examples/MONTH_ON_REPORT_NOT_VALID"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "HOTLINE_RATING_REPORT_ALREADY_EXISTS": {
                    "description": "HOTLINE_RATING_REPORT_ALREADY_EXISTS",
                    "$ref": "#/components/examples/HOTLINE_RATING_REPORT_ALREADY_EXISTS"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/raw-reports/charging-stations/charging-points/renewal": {
      "post": {
        "tags": [
          "Raw Reports - Renewal"
        ],
        "summary": "Add new Charging Point raw Renewal report.",
        "description": "Add new Charging Point raw Renewal report.",
        "operationId": "persistChargingPointRenewalRawReport",
        "parameters": [
          {
            "name": "userIdentity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChargingPointRenewalReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargingPointRenewalReportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "RENEWAL_START_TIME_NEEDS_TO_BE_BEFORE_END_TIME": {
                    "description": "RENEWAL_START_TIME_NEEDS_TO_BE_BEFORE_END_TIME",
                    "$ref": "#/components/examples/RENEWAL_START_TIME_NEEDS_TO_BE_BEFORE_END_TIME"
                  },
                  "CHARGING_POINT_DOES_NOT_EXIST": {
                    "description": "CHARGING_POINT_DOES_NOT_EXIST",
                    "$ref": "#/components/examples/CHARGING_POINT_DOES_NOT_EXIST"
                  }
                }
              }
            }
          },
          "409": {
            "description": "If a Raw renewal report with the renewal uid, charging hub uid and charging point uid already exists.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "RENEWAL_RAW_CHARGING_POINT_REPORT_ALREADY_EXISTS": {
                    "description": "RENEWAL_RAW_CHARGING_POINT_REPORT_ALREADY_EXISTS",
                    "$ref": "#/components/examples/RENEWAL_RAW_CHARGING_POINT_REPORT_ALREADY_EXISTS"
                  },
                  "CHARGING_POINT_NOT_ASSOCIATED_WITH_CHARGING_HUB": {
                    "description": "CHARGING_POINT_NOT_ASSOCIATED_WITH_CHARGING_HUB",
                    "$ref": "#/components/examples/CHARGING_POINT_NOT_ASSOCIATED_WITH_CHARGING_HUB"
                  },
                  "IDENTITY_KEY_NOT_ASSOCIATED_WITH_CHARGING_POINT": {
                    "description": "IDENTITY_KEY_NOT_ASSOCIATED_WITH_CHARGING_POINT",
                    "$ref": "#/components/examples/IDENTITY_KEY_NOT_ASSOCIATED_WITH_CHARGING_POINT"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/raw-reports/charging-stations/charging-points/ratings": {
      "post": {
        "tags": [
          "Raw Reports - Ratings"
        ],
        "summary": "Add new charging point raw Rating report.",
        "description": "Add new charging point raw Rating report.",
        "operationId": "persistRawRatingReport",
        "parameters": [
          {
            "name": "userIdentity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChargingPointRatingReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "MONTH_ON_REPORT_NOT_VALID": {
                    "description": "MONTH_ON_REPORT_NOT_VALID",
                    "$ref": "#/components/examples/MONTH_ON_REPORT_NOT_VALID"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "CHARGING_POINT_DOES_NOT_EXIST": {
                    "description": "CHARGING_POINT_DOES_NOT_EXIST",
                    "$ref": "#/components/examples/CHARGING_POINT_DOES_NOT_EXIST"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "RATING_REPORT_ALREADY_EXISTS": {
                    "description": "RATING_REPORT_ALREADY_EXISTS",
                    "$ref": "#/components/examples/RATING_REPORT_ALREADY_EXISTS"
                  },
                  "CHARGING_POINT_NOT_ASSOCIATED_WITH_CHARGING_HUB": {
                    "description": "CHARGING_POINT_NOT_ASSOCIATED_WITH_CHARGING_HUB",
                    "$ref": "#/components/examples/CHARGING_POINT_NOT_ASSOCIATED_WITH_CHARGING_HUB"
                  },
                  "IDENTITY_KEY_NOT_ASSOCIATED_WITH_CHARGING_POINT": {
                    "description": "IDENTITY_KEY_NOT_ASSOCIATED_WITH_CHARGING_POINT",
                    "$ref": "#/components/examples/IDENTITY_KEY_NOT_ASSOCIATED_WITH_CHARGING_POINT"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/raw-reports/charging-stations/charging-points/defects": {
      "post": {
        "tags": [
          "Charging Points - Raw Reports - Defects"
        ],
        "summary": "Add new raw Charging Point Defects report.",
        "description": "Add new raw Charging Point Defects report.",
        "operationId": "persistChargingPointDefectsRawReport",
        "parameters": [
          {
            "name": "userIdentity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChargingPointDefectsReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorMessageDto"
                },
                "examples": {
                  "REPORT_EMERGENCE_DATE_IS_LATER_THAN_FORECAST_DATE": {
                    "description": "REPORT_EMERGENCE_DATE_IS_LATER_THAN_FORECAST_DATE",
                    "$ref": "#/components/examples/REPORT_EMERGENCE_DATE_IS_LATER_THAN_FORECAST_DATE"
                  }
                }
              }
            }
          },
          "409": {
            "description": "If a charging point Defects with this uid already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "CHARGING_POINT_DEFECTS_REPORT_ALREADY_EXISTS": {
                    "description": "CHARGING_POINT_DEFECTS_REPORT_ALREADY_EXISTS",
                    "$ref": "#/components/examples/CHARGING_POINT_DEFECTS_REPORT_ALREADY_EXISTS"
                  },
                  "CHARGING_POINT_NOT_ASSOCIATED_WITH_CHARGING_HUB": {
                    "description": "CHARGING_POINT_NOT_ASSOCIATED_WITH_CHARGING_HUB",
                    "$ref": "#/components/examples/CHARGING_POINT_NOT_ASSOCIATED_WITH_CHARGING_HUB"
                  },
                  "IDENTITY_KEY_NOT_ASSOCIATED_WITH_CHARGING_POINT": {
                    "description": "IDENTITY_KEY_NOT_ASSOCIATED_WITH_CHARGING_POINT",
                    "$ref": "#/components/examples/IDENTITY_KEY_NOT_ASSOCIATED_WITH_CHARGING_POINT"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/raw-reports/charging-hub/ratings": {
      "post": {
        "tags": [
          "Raw Reports - Ratings"
        ],
        "summary": "Add new charging hub raw Rating report.",
        "description": "Add new charging hub raw Rating report.",
        "operationId": "persistRawRatingReport_1",
        "parameters": [
          {
            "name": "userIdentity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRatingReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "MONTH_ON_REPORT_NOT_VALID": {
                    "description": "MONTH_ON_REPORT_NOT_VALID",
                    "$ref": "#/components/examples/MONTH_ON_REPORT_NOT_VALID"
                  },
                  "CHARGING_HUB_DOES_NOT_EXIST": {
                    "description": "CHARGING_HUB_DOES_NOT_EXIST",
                    "$ref": "#/components/examples/CHARGING_HUB_DOES_NOT_EXIST"
                  }
                }
              }
            }
          },
          "409": {
            "description": "If a Rating report with the charging hub uid already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "RATING_REPORT_ALREADY_EXISTS": {
                    "description": "RATING_REPORT_ALREADY_EXISTS",
                    "$ref": "#/components/examples/RATING_REPORT_ALREADY_EXISTS"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/raw-reports/charging-hub/facility-damages": {
      "get": {
        "tags": [
          "Charging Hub - Raw Reports - Facility Damages"
        ],
        "summary": "Get raw Facility Damages.",
        "description": "Returns raw Facility Damages.",
        "operationId": "fetchUnprocessedFacilityDamagesReport_1",
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FacilityDamagesReportResponse"
                  }
                }
              }
            }
          }
        },
        "deprecated": true
      },
      "post": {
        "tags": [
          "Charging Hub - Raw Reports - Facility Damages"
        ],
        "summary": "Add new raw Facility Damages report.",
        "description": "Add new raw Facility Damages report.",
        "operationId": "persistFacilityDamagesRawReport",
        "parameters": [
          {
            "name": "userIdentity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FacilityDamagesReport"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorMessageDto"
                },
                "examples": {
                  "CHARGING_HUB_DOES_NOT_EXIST": {
                    "description": "CHARGING_HUB_DOES_NOT_EXIST",
                    "$ref": "#/components/examples/CHARGING_HUB_DOES_NOT_EXIST"
                  },
                  "REPORT_EMERGENCE_DATE_IS_LATER_THAN_FORECAST_DATE": {
                    "description": "REPORT_EMERGENCE_DATE_IS_LATER_THAN_FORECAST_DATE",
                    "$ref": "#/components/examples/REPORT_EMERGENCE_DATE_IS_LATER_THAN_FORECAST_DATE"
                  },
                  "REPORT_EMERGENCE_DATE_IS_LATER_THAN_FIX_DATE": {
                    "description": "REPORT_EMERGENCE_DATE_IS_LATER_THAN_FIX_DATE",
                    "$ref": "#/components/examples/REPORT_EMERGENCE_DATE_IS_LATER_THAN_FIX_DATE"
                  }
                }
              }
            }
          },
          "409": {
            "description": "If a facility damages with this uid already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "FACILITY_DAMAGES_REPORT_ALREADY_EXISTS": {
                    "description": "FACILITY_DAMAGES_REPORT_ALREADY_EXISTS",
                    "$ref": "#/components/examples/FACILITY_DAMAGES_REPORT_ALREADY_EXISTS"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/raw-reports/charging-hub/ad-hoc-tariff": {
      "post": {
        "tags": [
          "Charging Hub - Raw Reports - Ad Hoc Tariff"
        ],
        "summary": "Add new raw ad-hoc Tariff report.",
        "description": "Add new raw ad-hoc Tariff report.",
        "operationId": "persistAdHocTariffRawReport",
        "parameters": [
          {
            "name": "userIdentity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAdHocTariffReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Operation",
[...]
