{
  "openapi": "3.0.1",
  "info": {
    "title": "fleet-orchestrator-service",
    "description": "",
    "contact": {
      "name": "P3 digital services GmbH",
      "email": "contact@energystacks.io"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://p3-acc.fleet.energystacks.io/fleet-orchestrator/v1",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "Fleet Jobs",
      "description": "Enables CRUD operations for Fleet Jobs while seamlessly retrieving necessary data from multiple microservices."
    },
    {
      "name": "Fleet Vehicle",
      "description": "Enables CRUD operations for Fleet Vehicles while seamlessly retrieving necessary data from multiple microservices."
    },
    {
      "name": "Tour Optimization",
      "description": "Calculates the fleet tours based on the criteria"
    },
    {
      "name": "Fleet Tours",
      "description": "Support for Tour operations (CRUDs)"
    }
  ],
  "paths": {
    "/vehicles/{vehicleIdentificationNumber}": {
      "get": {
        "tags": [
          "Fleet Vehicle"
        ],
        "summary": "Get fleet vehicle by vehicle identification number (VIN)",
        "description": "Returns a fleet vehicle, based on the provided VIN",
        "operationId": "getFleetVehicleByVIN",
        "parameters": [
          {
            "name": "vehicleIdentificationNumber",
            "in": "path",
            "description": "The vehicle identification number of the vehicle",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VehicleComposedResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Core Vehicle not found"
          }
        }
      },
      "put": {
        "tags": [
          "Fleet Vehicle"
        ],
        "summary": "Update Fleet Vehicle",
        "description": "Update Fleet Vehicle with the specific vehicle identification number (VIN)",
        "operationId": "updateFleetVehicleByVehicleIdentificationNumber",
        "parameters": [
          {
            "name": "vehicleIdentificationNumber",
            "in": "path",
            "description": "The vehicle identification number of the vehicle",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIdentity",
            "in": "query",
            "description": "Identity information for auditing purposes.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FleetVehicleUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FleetVehicleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Core Vehicle not found"
          },
          "409": {
            "description": "Fleet Vehicle is assigned on a tour"
          }
        }
      },
      "delete": {
        "tags": [
          "Fleet Vehicle"
        ],
        "summary": "Delete a fleet vehicle",
        "description": "Delete a fleet vehicle with the specific vehicle identification number",
        "operationId": "deleteFleetVehicleByVehicleIdentificationNumber",
        "parameters": [
          {
            "name": "vehicleIdentificationNumber",
            "in": "path",
            "description": "The vehicle identification number of the vehicle",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIdentity",
            "in": "query",
            "description": "Identity information for auditing purposes.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessageDto"
                }
              }
            }
          },
          "404": {
            "description": "Core vehicle not found"
          }
        }
      }
    },
    "/tours/{tourUid}": {
      "put": {
        "tags": [
          "Fleet Tours"
        ],
        "summary": "Update a fleet tour by tour uid",
        "description": "Updates an existing Fleet Tour by tour UID, and all related jobs. Tour's vehicle is not updatable.",
        "operationId": "updateFleetTourByTourUid",
        "parameters": [
          {
            "name": "tourUid",
            "in": "path",
            "description": "Tour unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIdentity",
            "in": "query",
            "description": "Identity information for auditing purposes.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FleetTourOrchestratorUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TourIdentifier"
                }
              }
            }
          },
          "400": {
            "description": "Invalid conditionally optional tour job fields in the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "404": {
            "description": "Fleet job(s) could not be found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "409": {
            "description": "New fleet job(s) are already assigned to a tour",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "400 ": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorMessageDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Fleet Tours"
        ],
        "summary": "Delete a fleet tour",
        "description": "Deletes a fleet tour by tour UID, and unassign all of its fleet job(s).",
        "operationId": "deleteFleetTourByTourUid",
        "parameters": [
          {
            "name": "tourUid",
            "in": "path",
            "description": "Tour unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIdentity",
            "in": "query",
            "description": "Identity information for auditing purposes.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Operation"
          },
          "404": {
            "description": "Fleet tour not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "409": {
            "description": "Fleet tour not in PLANNED state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          }
        }
      }
    },
    "/routes/optimize/{tourUid}": {
      "put": {
        "tags": [
          "Tour Optimization"
        ],
        "summary": "Optimizes an existing fleet tour.",
        "description": "The optimized tour will rearrange your planned job(s) to minimize the total time spent on the road.",
        "operationId": "updateOptimizedTourByTourUID",
        "parameters": [
          {
            "name": "tourUid",
            "in": "path",
            "description": "Tour unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OptimizeTourOrchestratorUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OptimizeTourComposedResponse"
                }
              }
            }
          },
          "400": {
            "description": "A tour containing job(s) outside of global time window can't be optimized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "404": {
            "description": "Vehicle, job(s), or business account(s) were not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "409": {
            "description": "Retrieved tour has status not equal to 'PLANNED'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "500": {
            "description": "Invalid pick up & drop off dates from jobs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          }
        }
      }
    },
    "/routes/optimize/{tourUid}/job-precedence": {
      "put": {
        "tags": [
          "Tour Optimization"
        ],
        "summary": "Optimizes an existing fleet tour, using a specific job precedence sequence.",
        "description": "### Optimizes an existing fleet tour, based on the requested job precedence sequence.\n#### Contamination rules do not apply.",
        "operationId": "updateOptimizedTourWithJobPrecedenceByTourUID",
        "parameters": [
          {
            "name": "tourUid",
            "in": "path",
            "description": "Tour unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrecedenceTourOrchestratorUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrecedenceTourComposedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "REQUEST_CONTAINS_DUPLICATE_JOB_UIDS": {
                    "description": "REQUEST_CONTAINS_DUPLICATE_JOB_UIDS",
                    "$ref": "#/components/examples/REQUEST_CONTAINS_DUPLICATE_JOB_UIDS"
                  },
                  "END_DATE_NOT_EQUAL_TO_START_DATE": {
                    "description": "END_DATE_NOT_EQUAL_TO_START_DATE",
                    "$ref": "#/components/examples/END_DATE_NOT_EQUAL_TO_START_DATE"
                  },
                  "END_DATETIME_IS_BEFORE_START_DATETIME": {
                    "description": "END_DATETIME_IS_BEFORE_START_DATETIME",
                    "$ref": "#/components/examples/END_DATETIME_IS_BEFORE_START_DATETIME"
                  },
                  "OPTIMIZE_TOUR_JOBS_OUTSIDE_OF_GLOBAL_TIME_WINDOW": {
                    "description": "OPTIMIZE_TOUR_JOBS_OUTSIDE_OF_GLOBAL_TIME_WINDOW",
                    "$ref": "#/components/examples/OPTIMIZE_TOUR_JOBS_OUTSIDE_OF_GLOBAL_TIME_WINDOW"
                  },
                  "INVALID_OPTIMIZE_TOUR_GLOBAL_TIME_WINDOW": {
                    "description": "INVALID_OPTIMIZE_TOUR_GLOBAL_TIME_WINDOW",
                    "$ref": "#/components/examples/INVALID_OPTIMIZE_TOUR_GLOBAL_TIME_WINDOW"
                  },
                  "INVALID_REQUEST_SEQUENCE": {
                    "description": "INVALID_REQUEST_SEQUENCE",
                    "$ref": "#/components/examples/INVALID_REQUEST_SEQUENCE"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "JOB_MISS_MATCH": {
                    "description": "JOB_MISS_MATCH",
                    "$ref": "#/components/examples/JOB_MISS_MATCH"
                  },
                  "VIN_MISS_MATCH": {
                    "description": "VIN_MISS_MATCH",
                    "$ref": "#/components/examples/VIN_MISS_MATCH"
                  },
                  "VEHICLES_CORE_NOT_FOUND": {
                    "description": "VEHICLES_CORE_NOT_FOUND",
                    "$ref": "#/components/examples/VEHICLES_CORE_NOT_FOUND"
                  },
                  "FLEET_VEHICLE_WITH_INVALID_VEHICLE_CORE": {
                    "description": "FLEET_VEHICLE_WITH_INVALID_VEHICLE_CORE",
                    "$ref": "#/components/examples/FLEET_VEHICLE_WITH_INVALID_VEHICLE_CORE"
                  },
                  "JOB_WITH_INVALID_BUSINESS_ACCOUNT": {
                    "description": "JOB_WITH_INVALID_BUSINESS_ACCOUNT",
                    "$ref": "#/components/examples/JOB_WITH_INVALID_BUSINESS_ACCOUNT"
                  },
                  "LOCATIONS_ASSOCIATED_WITH_JOBS_NOT_FOUND": {
                    "description": "LOCATIONS_ASSOCIATED_WITH_JOBS_NOT_FOUND",
                    "$ref": "#/components/examples/LOCATIONS_ASSOCIATED_WITH_JOBS_NOT_FOUND"
                  },
                  "GEO_LOCATION_NOT_ASSIGNED_TO_JOB": {
                    "description": "GEO_LOCATION_NOT_ASSIGNED_TO_JOB",
                    "$ref": "#/components/examples/GEO_LOCATION_NOT_ASSIGNED_TO_JOB"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "VEHICLE_NOT_AVAILABLE_FOR_TOUR_PLANNING": {
                    "description": "VEHICLE_NOT_AVAILABLE_FOR_TOUR_PLANNING",
                    "$ref": "#/components/examples/VEHICLE_NOT_AVAILABLE_FOR_TOUR_PLANNING"
                  },
                  "JOB_PRODUCT_NOT_ASSIGNED_TO_ORIGIN_LOCATION": {
                    "description": "JOB_PRODUCT_NOT_ASSIGNED_TO_ORIGIN_LOCATION",
                    "$ref": "#/components/examples/JOB_PRODUCT_NOT_ASSIGNED_TO_ORIGIN_LOCATION"
                  },
                  "ORIGIN_LOCATION_DOES_NOT_HAVE_ASSIGNED_PRODUCTS": {
                    "description": "ORIGIN_LOCATION_DOES_NOT_HAVE_ASSIGNED_PRODUCTS",
                    "$ref": "#/components/examples/ORIGIN_LOCATION_DOES_NOT_HAVE_ASSIGNED_PRODUCTS"
                  },
                  "TOUR_CANNOT_BE_OPTIMIZED": {
                    "description": "TOUR_CANNOT_BE_OPTIMIZED",
                    "$ref": "#/components/examples/TOUR_CANNOT_BE_OPTIMIZED"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{jobUid}": {
      "put": {
        "tags": [
          "Fleet Jobs"
        ],
        "summary": "Update fleet job",
        "description": "Updates an existing fleet job by job UID, if it's not assigned to a tour.",
        "operationId": "updateFleetJobByJobUid",
        "parameters": [
          {
            "name": "jobUid",
            "in": "path",
            "description": "Job identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIdentity",
            "in": "query",
            "description": "Identity information for auditing purposes.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FleetJobUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FleetJobResponse"
                }
              }
            }
          },
          "400": {
            "description": "Job origin and destination are the same location",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "404": {
            "description": "Specified origin/destination locations not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "409": {
            "description": "Product is not assigned to the origin location",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles": {
      "get": {
        "tags": [
          "Fleet Vehicle"
        ],
        "summary": "Get all fleet vehicles",
        "description": "Return a list of all fleet vehicles.",
        "operationId": "getAllFleetVehicles",
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VehicleComposedResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Vehicle(s) in core not found"
          }
        }
      },
      "post": {
        "tags": [
          "Fleet Vehicle"
        ],
        "summary": "Create fleet vehicle",
        "description": "Creates a new fleet vehicle",
        "operationId": "createFleetVehicle",
        "parameters": [
          {
            "name": "userIdentity",
            "in": "query",
            "description": "Identity information for auditing purposes.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FleetVehicleCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad request"
          },
          "409": {
            "description": "If a fleet vehicle with the same vehicle identification number (VIN) already exists."
          }
        }
      }
    },
    "/tours": {
      "get": {
        "tags": [
          "Fleet Tours"
        ],
        "summary": "Get all fleet tours",
        "description": "Returns a list of all fleet tours, along with their vehicle details. If there are no tours, list is empty.",
        "operationId": "getAllFleetTours",
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TourComposedResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Missing tour's fleet vehicle",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ErrorMessageDto"
                  }
                }
              }
            }
          },
          "404 ": {
            "description": "Missing fleet vehicle's vehicle-core info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ErrorMessageDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Fleet Tours"
        ],
        "summary": "Create multiple fleet tours",
        "description": "Creates a new Fleet Tour for each tour request in the provided list",
        "operationId": "createFleetTours",
        "parameters": [
          {
            "name": "userIdentity",
            "in": "query",
            "description": "Identity information for auditing purposes.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FleetTourOrchestratorCreateRequest"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TourIdentifier"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request contains duplicate fleet job UIDs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "404": {
            "description": " Tour(s) assigned to not existing fleet vehicle(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "409": {
            "description": "Fleet job(s) are already assigned to a tour",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "400 ": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorMessageDto"
                }
              }
            }
          }
        }
      }
    },
    "/routes/optimize": {
      "post": {
        "tags": [
          "Tour Optimization"
        ],
        "summary": "Creates optimized fleet tour(s)",
        "description": "The optimized tour(s) will rearrange your planned job(s) to minimize the total time spent on the road.",
        "operationId": "createOptimizedTours",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OptimizeTourOrchestratorCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OptimizeTourComposedResponse"
                }
              }
            }
          },
          "400": {
            "description": "A tour containing job(s) outside of global time window can't be optimized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "404": {
            "description": "Vehicle(s), job(s), or business account(s) were not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "500": {
            "description": "Invalid pick up & drop off dates from jobs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          }
        }
      }
    },
    "/routes/optimize/job-precedence": {
      "post": {
        "tags": [
          "Tour Optimization"
        ],
        "summary": "Create a new optimized fleet tour, using a specific job precedence sequence.",
        "description": "### Creates a new optimized fleet tour, based on the requested job precedence sequence.\n#### Contamination rules do not apply.",
        "operationId": "createOptimizedTourWithJobPrecedence",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrecedenceTourOrchestratorCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrecedenceTourComposedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "REQUEST_CONTAINS_DUPLICATE_JOB_UIDS": {
                    "description": "REQUEST_CONTAINS_DUPLICATE_JOB_UIDS",
                    "$ref": "#/components/examples/REQUEST_CONTAINS_DUPLICATE_JOB_UIDS"
                  },
                  "END_DATE_NOT_EQUAL_TO_START_DATE": {
                    "description": "END_DATE_NOT_EQUAL_TO_START_DATE",
                    "$ref": "#/components/examples/END_DATE_NOT_EQUAL_TO_START_DATE"
                  },
                  "END_DATETIME_IS_BEFORE_START_DATETIME": {
                    "description": "END_DATETIME_IS_BEFORE_START_DATETIME",
                    "$ref": "#/components/examples/END_DATETIME_IS_BEFORE_START_DATETIME"
                  },
                  "OPTIMIZE_TOUR_JOBS_OUTSIDE_OF_GLOBAL_TIME_WINDOW": {
                    "description": "OPTIMIZE_TOUR_JOBS_OUTSIDE_OF_GLOBAL_TIME_WINDOW",
                    "$ref": "#/components/examples/OPTIMIZE_TOUR_JOBS_OUTSIDE_OF_GLOBAL_TIME_WINDOW"
                  },
                  "INVALID_OPTIMIZE_TOUR_GLOBAL_TIME_WINDOW": {
                    "description": "INVALID_OPTIMIZE_TOUR_GLOBAL_TIME_WINDOW",
                    "$ref": "#/components/examples/INVALID_OPTIMIZE_TOUR_GLOBAL_TIME_WINDOW"
                  },
                  "INVALID_REQUEST_SEQUENCE": {
                    "description": "INVALID_REQUEST_SEQUENCE",
                    "$ref": "#/components/examples/INVALID_REQUEST_SEQUENCE"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "JOB_MISS_MATCH": {
                    "description": "JOB_MISS_MATCH",
                    "$ref": "#/components/examples/JOB_MISS_MATCH"
                  },
                  "VIN_MISS_MATCH": {
                    "description": "VIN_MISS_MATCH",
                    "$ref": "#/components/examples/VIN_MISS_MATCH"
                  },
                  "VEHICLES_CORE_NOT_FOUND": {
                    "description": "VEHICLES_CORE_NOT_FOUND",
                    "$ref": "#/components/examples/VEHICLES_CORE_NOT_FOUND"
                  },
                  "FLEET_VEHICLE_WITH_INVALID_VEHICLE_CORE": {
                    "description": "FLEET_VEHICLE_WITH_INVALID_VEHICLE_CORE",
                    "$ref": "#/components/examples/FLEET_VEHICLE_WITH_INVALID_VEHICLE_CORE"
                  },
                  "JOB_WITH_INVALID_BUSINESS_ACCOUNT": {
                    "description": "JOB_WITH_INVALID_BUSINESS_ACCOUNT",
                    "$ref": "#/components/examples/JOB_WITH_INVALID_BUSINESS_ACCOUNT"
                  },
                  "LOCATIONS_ASSOCIATED_WITH_JOBS_NOT_FOUND": {
                    "description": "LOCATIONS_ASSOCIATED_WITH_JOBS_NOT_FOUND",
                    "$ref": "#/components/examples/LOCATIONS_ASSOCIATED_WITH_JOBS_NOT_FOUND"
                  },
                  "GEO_LOCATION_NOT_ASSIGNED_TO_JOB": {
                    "description": "GEO_LOCATION_NOT_ASSIGNED_TO_JOB",
                    "$ref": "#/components/examples/GEO_LOCATION_NOT_ASSIGNED_TO_JOB"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "VEHICLE_NOT_AVAILABLE_FOR_TOUR_PLANNING": {
                    "description": "VEHICLE_NOT_AVAILABLE_FOR_TOUR_PLANNING",
                    "$ref": "#/components/examples/VEHICLE_NOT_AVAILABLE_FOR_TOUR_PLANNING"
                  },
                  "JOB_PRODUCT_NOT_ASSIGNED_TO_ORIGIN_LOCATION": {
                    "description": "JOB_PRODUCT_NOT_ASSIGNED_TO_ORIGIN_LOCATION",
                    "$ref": "#/components/examples/JOB_PRODUCT_NOT_ASSIGNED_TO_ORIGIN_LOCATION"
                  },
                  "ORIGIN_LOCATION_DOES_NOT_HAVE_ASSIGNED_PRODUCTS": {
                    "description": "ORIGIN_LOCATION_DOES_NOT_HAVE_ASSIGNED_PRODUCTS",
                    "$ref": "#/components/examples/ORIGIN_LOCATION_DOES_NOT_HAVE_ASSIGNED_PRODUCTS"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/jobs": {
      "get": {
        "tags": [
          "Fleet Jobs"
        ],
        "summary": "Get all fleet jobs",
        "description": "Returns a list of all fleet jobs, along with their business details. If there are no jobs, list is empty.",
        "operationId": "getAllFleetJobs",
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JobComposedResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "JOB_WITH_INVALID_BUSINESS_ACCOUNT": {
                    "description": "JOB_WITH_INVALID_BUSINESS_ACCOUNT",
                    "$ref": "#/components/examples/JOB_WITH_INVALID_BUSINESS_ACCOUNT"
                  },
                  "LOCATIONS_ASSOCIATED_WITH_JOBS_NOT_FOUND": {
                    "description": "LOCATIONS_ASSOCIATED_WITH_JOBS_NOT_FOUND",
                    "$ref": "#/components/examples/LOCATIONS_ASSOCIATED_WITH_JOBS_NOT_FOUND"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Fleet Jobs"
        ],
        "summary": "Create fleet job",
        "description": "Creates a new fleet job",
        "operationId": "createFleetJob",
        "parameters": [
          {
            "name": "userIdentity",
            "in": "query",
            "description": "Identity information for auditing purposes.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FleetJobCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Operation"
          },
          "400": {
            "description": "Job origin and destination are the same location",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "404": {
            "description": "Product not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "409": {
            "description": "Product is not assigned to the origin location",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          }
        }
      }
    },
    "/tours/{tourUid}/details": {
      "get": {
        "tags": [
          "Fleet Tours"
        ],
        "summary": "Get fleet tour details such as jobs, breaks and related business account information",
        "description": "Returns a list of all fleet tour jobs, breaks and the corresponding business accounts, based on the provided tour uid",
        "operationId": "getFleetTourByTourUid",
        "parameters": [
          {
            "name": "tourUid",
            "in": "path",
            "description": "Tour unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TourDetailsComposedResponse"
                }
              }
            }
          },
          "404": {
            "description": "Job(s) assigned to not existing business account(s) or tour to not existing fleet-vehicle.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          }
        }
      }
    },
    "/tours/filtered": {
      "get": {
        "tags": [
          "Fleet Tours"
        ],
        "summary": "Get fleet tours at depot within optional time range.",
        "description": "Returns a list of all fleet tours at depot within the optional time range, along with their vehicle details. If there are no tours, list is empty.",
        "operationId": "getFleetToursFiltered",
        "parameters": [
          {
            "name": "depotId",
            "in": "query",
            "description": "Depot identifier.",
            "required": false,
            "schema": {
              "maxLength": 255,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "startDateFrom",
            "in": "query",
            "description": "Optional tour start date filter.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDateTo",
            "in": "query",
            "description": "Optional tour end date filter.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TourComposedResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Missing tour's fleet vehicle",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ErrorMessageDto"
                  }
                }
              }
            }
          },
          "404 ": {
            "description": "Missing fleet vehicle's vehicle-core info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ErrorMessageDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/jobs/search": {
      "get": {
        "tags": [
          "Fleet Jobs"
        ],
        "summary": "Get all fleet jobs while excluding specific of them",
        "description": "Returns a list of all fleet jobs, along with their business details. If there are no jobs, list is empty.",
        "operationId": "getFleetJobsByCriteriaFilter",
        "parameters": [
          {
            "name": "excludeJobUIDs",
            "in": "query",
            "description": "Job UIDs which will be excluded",
            "required": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "LKnPKAYKvf"
          },
          {
            "name": "depotId",
            "in": "query",
            "description": "Depot identifier",
            "required": false,
            "schema": {
              "maxLength": 50,
              "minLength": 0,
              "type": "string"
            },
            "example": "AvO78iot3x"
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "Job status to search by",
            "required": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "description": "Defines all possible statuses of a Job",
                "enum": [
                  "TO_DO",
                  "PENDING",
                  "PLANNED",
                  "ENROUTE",
                  "DELIVERED",
                  "FAILED",
                  "RETURNED",
                  "CANCELLED"
                ]
              }
            },
            "example": "TO_DO"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date for job search",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2024-11-15T23:59:59"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date for job search",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2024-11-15T23:59:59"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JobComposedResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "END_DATETIME_IS_BEFORE_START_DATETIME": {
                    "description": "END_DATETIME_IS_BEFORE_START_DATETIME",
                    "$ref": "#/components/examples/END_DATETIME_IS_BEFORE_START_DATETIME"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "JOB_WITH_INVALID_BUSINESS_ACCOUNT": {
                    "description": "JOB_WITH_INVALID_BUSINESS_ACCOUNT",
                    "$ref": "#/components/examples/JOB_WITH_INVALID_BUSINESS_ACCOUNT"
                  },
                  "LOCATIONS_ASSOCIATED_WITH_JOBS_NOT_FOUND": {
                    "description": "LOCATIONS_ASSOCIATED_WITH_JOBS_NOT_FOUND",
                    "$ref": "#/components/examples/LOCATIONS_ASSOCIATED_WITH_JOBS_NOT_FOUND"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ExceptionalPeriod": {
        "type": "object",
        "properties": {
          "period_begin": {
            "type": "string",
            "description": "Begin of the exception. SecurityScheme.In UTC, time_zone field can be used to convert to local time.",
            "example": "2024-11-15T23:59:59"
          },
          "period_end": {
            "type": "string",
            "description": "End of the exception. In UTC, time_zone field can be used to convert to local time.",
            "example": "2024-11-15T23:59:59"
          }
        },
        "description": "Specifies one exceptional period for opening or access hours."
      },
      "FleetElectricVehicleData": {
        "type": "object",
        "properties": {
          "soc": {
            "maximum": 100,
            "minimum": 0,
            "type": "integer",
            "description": "Current state of charge of EV's battery. Represents the current level of charge as a percentage (%).",
            "format": "int32",
            "example": 55
          },
          "moSoc": {
            "maximum": 100,
            "minimum": 0,
            "type": "integer",
            "description": "Minimum operational state of charge of the EV's battery. Represents the minimum acceptable level of charge required for normal operation. Below this level, the vehicle may experience performance limitations or operational issues.",
            "format": "int32",
            "example": 80
          }
        },
        "description": "Data specific to electric vehicles. This field contains information relevant only if the vehicle is electric."
      },
      "FleetVehicleResponse": {
        "required": [
          "createdDate",
          "status",
          "timeZoneId",
          "vehicleIdentificationNumber",
          "workingHours"
        ],
        "type": "object",
        "properties": {
          "vehicleCoreUuid": {
            "type": "string",
            "description": "It's the vehicle UUID which is related to svc-vehicle-core microservice.",
            "format": "uuid",
            "example": "123e4567-e89b-42d3-a456-426614174000"
          },
          "name": {
            "maxLength": 20,
            "type": "string",
            "description": "It's the name of the Vehicle.",
            "example": "HKN"
          },
          "employeeUid": {
            "maxLength": 50,
            "type": "string",
            "description": "It's the employee unique identifier(uid) which is related to svc-employee microservice.",
            "example": "epl11-33-2"
          },
          "depotId": {
            "maxLength": 255,
            "type": "string",
            "description": "Indicates the identification number of the depot in which the vehicle is stored.",
            "example": "12345"
          },
          "vehicleIdentificationNumber": {
            "maxLength": 30,
            "type": "string",
            "description": "Identifies the vehicle identification number (VIN) of the vehicle.",
            "example": "4Y1SL65848Z411444"
          },
          "licensePlateNumber": {
            "maxLength": 15,
            "type": "string",
            "description": "A numeric or alphanumeric id that uniquely identifies the vehicle within the issuing region's vehicle register.",
            "example": "EF87867"
          },
          "status": {
            "type": "string",
            "description": "Its the status of the vehicle.",
            "example": "AVAILABLE",
            "enum": [
              "AVAILABLE",
              "PLANNED",
              "ENROUTE",
              "OUT_OF_ORDER"
            ]
          },
          "lastServiceDate": {
            "type": "string",
            "description": "It's the date on which the vehicle performed the last service.",
            "example": "2024-11-15T23:59:59"
          },
          "nextServiceDate": {
            "type": "string",
            "description": "It's the date on which the vehicle has to perform the next service.",
            "example": "2024-11-15T23:59:59"
          },
          "inspectionExpirationDate": {
            "type": "string",
            "description": "The date where the inspection is expiring.",
            "example": "2024-11-15T23:59:59"
          },
          "coordinates": {
            "$ref": "#/components/schemas/GeoLocation"
          },
          "odometer": {
            "type": "number",
            "description": "Shows the distance traveled by the corresponding vehicle.",
            "format": "double",
            "example": 345789.98
          },
          "workingHours": {
            "$ref": "#/components/schemas/Hours"
          },
          "timeZoneId": {
            "maxLength": 80,
            "type": "string",
            "description": "Time Zone Id that applies to the vehicle.",
            "example": "Europe/Rome"
          },
          "electricVehicleData": {
            "$ref": "#/components/schemas/FleetElectricVehicleData"
          },
          "createdDate": {
            "type": "string",
            "description": "Shows the distance traveled by the corresponding vehicle.",
            "example": "2024-11-15T23:59:59"
          },
          "lastModifiedDate": {
            "type": "string",
            "description": "Shows the distance traveled by the corresponding vehicle.",
            "example": "2024-11-15T23:59:59"
          }
        },
        "description": "Defines the details of a fleet vehicle"
      },
      "GeoLocation": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "string",
            "description": "Latitude of the point in decimal degree. More decimal digits increase precision. Decimal separator: '.'",
            "example": "50.770774"
          },
          "longitude": {
            "type": "string",
            "description": "Longitude of the point in decimal degree.More decimal digits increase precision.Decimal separator: '.'",
            "example": "-126.104965"
          }
        },
        "description": "Defines the coordinates of a geolocation. The geodetic system to be used is WGS 84."
      },
      "Hours": {
        "required": [
          "twentyfourseven"
        ],
        "type": "object",
        "properties": {
          "twentyfourseven": {
            "type": "boolean",
            "description": "True to represent 24 hours a day and 7 days a week, except the given exceptions.",
            "example": false
          },
          "regular_hours": {
            "type": "array",
            "description": "Regular hours, weekday-based. Only to be used if twentyfourseven=false, then this field needs to contain at least one RegularHours object.",
            "items": {
              "$ref": "#/components/schemas/RegularHours"
            }
          },
          "exceptional_openings": {
            "type": "array",
            "description": "Exceptions for specified calendar dates, time-range based. Periods of exceptional accessibility. Additional to regular_hours. May overlap regular rules.",
            "items": {
              "$ref": "#/components/schemas/ExceptionalPeriod"
            }
          },
          "exceptional_closings": {
            "type": "array",
            "description": "Exceptions for specified calendar dates, time-range based. Periods of exceptional inaccessibility. Overwriting regular_hours and exceptional_openings. Should not overlap exceptional_openings.",
            "items": {
              "$ref": "#/components/schemas/ExceptionalPeriod"
            }
          }
        },
        "description": "Opening and access hours."
      },
      "RegularHours": {
        "required": [
          "period_begin",
          "period_end",
          "weekday"
        ],
        "type": "object",
        "properties": {
          "weekday": {
            "type": "string",
            "description": "Day of week",
            "enum": [
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ]
          },
          "period_begin": {
            "maxLength": 5,
            "minLength": 0,
            "pattern": "([0-1][0-9]|2[0-3]):[0-5][0-9]",
            "type": "string",
            "description": "Begin of the regular period, in local time, given in hours and minutes. Must be in 24h format with leading zeros. Example: \"18:15\". Hour/Minute separator: \":\" Regex: ([0-1][0-9]|2[0-3]):[0-5][0-9].",
            "example": "07:00"
          },
          "period_end": {
            "maxLength": 5,
            "minLength": 0,
            "pattern": "([0-1][0-9]|2[0-3]):[0-5][0-9]",
            "type": "string",
            "description": "End of the regular period, in local time, syntax as for period_begin. Must be later than period_begin.",
            "example": "18:00"
          }
        },
        "description": "Regular recurring operation or access hours."
      },
      "FleetVehicleUpdateRequest": {
        "required": [
          "status"
        ],
        "type": "object",
        "properties": {
          "vehicleCoreUuid": {
            "type": "string",
            "description": "It's the vehicle UUID which is related to svc-vehicle-core microservice.",
            "format": "uuid",
            "example": "123e4567-e89b-42d3-a456-426614174000"
          },
          "employeeUid": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "description": "It's the employee unique identifier(uid) which is related to svc-employee microservice.",
            "example": "epl11-33-2"
          },
          "name": {
            "maxLength": 20,
            "minLength": 0,
            "type": "string",
            "description": "It's the name of the Vehicle.",
            "example": "HKN"
          },
          "depotId": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "description": "Indicates the identification number of the depot in which the vehicle is stored.",
            "example": "12345"
          },
          "licensePlateNumber": {
            "maxLength": 15,
            "minLength": 0,
            "type": "string",
            "description": "A numeric or alphanumeric id that uniquely identifies the vehicle within the issuing region's vehicle register.",
            "example": "EF87867"
          },
          "status": {
            "type": "string",
            "description": "Its the status of the vehicle.",
            "example": "AVAILABLE",
            "enum": [
              "AVAILABLE",
              "PLANNED",
              "ENROUTE",
              "OUT_OF_ORDER"
            ]
          },
          "lastServiceDate": {
            "type": "string",
            "description": "It's the date on which the vehicle performed the last service.",
            "example": "2024-11-15T23:59:59"
          },
          "nextServiceDate": {
            "type": "string",
            "description": "It's the date on which the vehicle has to perform the next service.",
            "example": "2024-11-15T23:59:59"
          },
          "inspectionExpirationDate": {
            "type": "string",
            "description": "The date where the inspection is expiring.",
            "example": "2024-11-15T23:59:59"
          },
          "coordinates": {
            "$ref": "#/components/schemas/GeoLocation"
          },
          "odometer": {
            "type": "number",
            "description": "Shows the distance traveled by the corresponding vehicle.",
            "format": "double",
            "example": 345789.98
          },
          "electricVehicleData": {
            "$ref": "#/components/schemas/FleetElectricVehicleData"
          }
        }
      },
      "TourIdentifier": {
        "required": [
          "tourUid"
        ],
        "type": "object",
        "properties": {
          "tourUid": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "description": "Tour unique identifier",
            "example": "123e4567-e89b-42d3-a456-426614174000"
          }
        },
        "description": "Object containing the unique identifier of the requested/modified tour."
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "description": "Affected field"
          },
          "message": {
            "type": "string",
            "description": "Validation message"
          }
        },
        "description": "List of validation errors"
      },
      "ValidationErrorMessageDto": {
        "required": [
          "errorCode",
          "message"
        ],
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "The error message",
            "example": "Example error message"
          },
          "errorCode": {
            "type": "string",
            "description": "The error code",
            "example": "EXAMPLE_ERROR_CODE"
          },
          "validationErrors": {
            "type": "array",
            "description": "List of validation errors",
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            }
          }
        }
      },
      "ErrorMessageDto": {
        "required": [
          "errorCode",
          "message"
        ],
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "The error message",
            "example": "Example error message"
          },
          "errorCode": {
            "type": "string",
            "description": "The error code",
            "example": "EXAMPLE_ERROR_CODE"
          }
        }
      },
      "FleetTourJobOrchestratorRequest": {
        "required": [
          "endDate",
          "jobUid",
          "startDate"
        ],
        "type": "object",
        "properties": {
          "jobUid": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "description": "Job unique identifier",
            "example": "08a8c5d2f13b9100"
          },
          "startDate": {
            "type": "string",
            "description": "Start date of this job",
            "example": "2024-11-15T23:59:59"
          },
          "endDate": {
            "type": "string",
            "description": "End date of this job",
            "example": "2024-11-15T23:59:59"
          },
          "violatedPenaltyRuleTypes": {
            "maxItems": 50,
            "minItems": 0,
            "uniqueItems": true,
            "type": "array",
            "description": "Violated job penalty rule types",
            "items": {
              "maxLength": 50,
              "minLength": 0,
              "type": "string",
              "description": "Violated job penalty rule types"
            }
          }
        },
        "description": "Defines the orchestrator job request of a fleet tour"
      },
      "FleetTourOrchestratorUpdateRequest": {
        "required": [
          "endDate",
          "jobs",
          "polyline",
          "startDate",
          "totalDistance",
          "totalTime"
        ],
        "type": "object",
        "properties": {
          "startDate": {
            "type": "string",
            "description": "Start date of this tour",
            "example": "2024-11-15T23:59:59"
          },
          "endDate": {
            "type": "string",
            "description": "End date of this tour",
            "example": "2024-11-15T23:59:59"
          },
          "jobs": {
            "type": "array",
            "description": "Defines fleet tour job information",
            "items": {
              "$ref": "#/components/schemas/FleetTourJobOrchestratorRequest"
            }
          },
          "vehicleBreak": {
            "$ref": "#/components/schemas/VehicleBreakRequest"
          },
          "totalTime": {
            "type": "integer",
            "description": "Total tour duration time in seconds",
            "format": "int64",
            "example": 155
          },
          "totalDistance": {
            "type": "number",
            "description": "Total tour distance",
            "format": "double",
            "example": 500.9
          },
          "polyline": {
            "$ref": "#/components/schemas/Polyline"
          },
          "transitions": {
            "type": "array",
            "description": "Tour transition details",
            "items": {
              "$ref": "#/components/schemas/Transition"
            }
          }
        },
        "description": "Defines the update request of a fleet tour"
      },
      "Polyline": {
        "required": [
          "points"
        ],
        "type": "object",
        "properties": {
          "points": {
            "type": "string",
            "description": "Multiple points of geo coordinates, encoded into a String"
          }
        },
        "description": "Tour polyline to be displayed on the map"
      },
      "Transition": {
        "required": [
          "distance",
          "endDate",
          "startDate",
          "vehicleIsEmpty"
        ],
        "type": "object",
        "properties": {
          "startDate": {
            "type": "string",
            "description": "Transition start date time",
            "example": "2024-11-15T23:59:59"
          },
          "endDate": {
            "type": "string",
            "description": "Transition end date time",
            "example": "2024-11-15T23:59:59"
          },
          "distance": {
            "type": "number",
            "description": "Transition distance in meters",
            "format": "double",
            "example": 125.9
          },
          "waitDuration": {
            "type": "integer",
            "description": "Transition wait duration in seconds",
            "format": "int32",
            "example": 120
          },
          "vehicleIsEmpty": {
            "type": "boolean",
            "description": "Defines if the vehicle is empty during transition",
            "example": false
          }
        },
        "description": "Defines tour transition details.A transition during a tour occurs when a vehicle moves between locations to load and/or unload product(s)."
      },
      "VehicleBreakRequest": {
        "required": [
          "endDateTime",
          "startDateTime"
        ],
        "type": "object",
        "properties": {
          "startDateTime": {
            "type": "string",
            "description": "Vehicle start date time",
            "example": "2024-11-15T23:59:59"
          },
          "endDateTime": {
            "type": "string",
            "description": "Vehicle end date time",
            "example": "2024-11-15T23:59:59"
          },
          "jobUid": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "description": "Job identifier of the job which is before/after the break"
          }
        },
        "description": "Vehicle break request inside of a tour"
      },
      "AccountContactResponse": {
        "type": "object",
        "properties": {
          "firstName": {
            "maxLength": 255,
            "type": "string",
            "description": "First name",
            "example": "John"
          },
          "lastName": {
            "maxLength": 255,
            "type": "string",
            "description": "Last name",
            "example": "Doe"
          },
          "phoneNumber": {
            "maxLength": 80,
            "type": "string",
            "description": "Phone number",
            "example": "+498001122333"
          },
          "email": {
            "maxLength": 255,
            "type": "string",
            "description": "Email address",
            "example": "john.doe@energystacks.io"
          }
        },
        "description": "Defines the details of an account contact"
      },
      "BusinessAccountReduceResponse": {
        "required": [
          "type",
          "uid"
        ],
        "type": "object",
        "properties": {
          "uid": {
            "maxLength": 50,
            "type": "string",
            "description": "Business account unique identifier",
            "example": "AvO78iot3x"
          },
          "depotId": {
            "maxLength": 255,
            "type": "string",
            "description": "Depot identifier",
            "example": "AvO78iot3x"
          },
          "companyName": {
            "maxLength": 255,
            "type": "string",
            "description": "Company name",
            "example": "P3"
          },
          "contact": {
            "$ref": "#/components/schemas/AccountContactResponse"
          },
          "type": {
            "maxLength": 255,
            "type": "string",
            "description": "Business account type name",
            "example": "Depot"
          }
        },
        "description": "Defines the details of a business account"
      },
      "BusinessAccountResponse": {
        "required": [
          "type",
          "uid"
        ],
        "type": "object",
        "properties": {
          "uid": {
            "maxLength": 50,
            "type": "string",
            "description": "Business account unique identifier",
            "example": "AvO78iot3x"
          },
          "depotId": {
            "maxLength": 255,
            "type": "string",
            "description": "Depot identifier",
            "example": "AvO78iot3x"
          },
          "companyName": {
            "maxLength": 255,
            "type": "string",
            "description": "Company name",
            "example": "P3"
          },
          "contact": {
            "$ref": "#/components/schemas/AccountContactResponse"
          },
          "type": {
            "maxLength": 255,
            "type": "string",
            "description": "Business account type name",
            "example": "Depot"
          },
          "locations": {
            "type": "array",
            "description": "Business account locations",
            "items": {
              "$ref": "#/components/schemas/LocationResponse"
            }
          }
        },
        "description": "Defines the details of a business account"
      },
      "FleetJobTypeNameResponse": {
        "required": [
          "jobType"
        ],
        "type": "object",
        "properties": {
          "jobType": {
            "maxLength": 30,
            "type": "string",
            "description": "Job type name",
            "example": "INBOUND"
          }
        },
        "description": "Contains only the name field of a Job Type"
      },
      "FleetProductResponse": {
        "required": [
          "name",
          "quantity",
          "uid"
        ],
        "type": "object",
        "properties": {
          "uid": {
            "maxLength": 50,
            "type": "string",
            "description": "Product identifier",
            "example": "AvO78iot3x"
          },
          "name": {
            "maxLength": 255,
            "type": "string",
            "description": "Product name",
            "example": "Organic Fertilizer"
          },
          "risk": {
            "maxLength": 20,
            "type": "string",
            "description": "Product risk",
            "example": "High"
          },
          "quantity": {
            "type": "number",
            "description": "Quantity of the transferred product",
            "format": "double",
            "example": 10.5
          }
        },
        "description": "Defines the details of a product"
      },
      "FleetRouteJobDetailsResponse": {
        "required": [
          "businessAccountUid",
          "jobType",
          "jobUid",
          "jobVisitOrder",
          "products"
        ],
        "type": "object",
        "properties": {
          "jobUid": {
            "maxLength": 50,
            "type": "string",
            "description": "Job identifier",
            "example": "08a8c5d2f13b9100"
          },
          "depotId": {
            "maxLength": 255,
            "type": "string",
            "description": "Depot identifier",
            "example": "AvO78iot3x"
          },
          "businessAccountUid": {
            "maxLength": 255,
            "type": "string",
            "description": "Supplier identifier",
            "example": "LKnPKAYKvf"
          },
          "jobType": {
            "maxLength": 30,
            "type": "string",
            "description": "Job type name",
            "example": "INBOUND"
          },
          "jobVisitOrder": {
            "type": "integer",
            "description": "Defines the job order",
            "format": "int32",
            "example": 5
          },
          "startDate": {
            "type": "string",
            "description": "Start date of this job",
            "example": "2024-11-15T23:59:59"
          },
          "endDate": {
            "type": "string",
            "description": "End date of this job",
            "example": "2024-11-15T23:59:59"
          },
          "totalTime": {
            "type": "integer",
            "description": "Total job duration time in seconds",
            "format": "int64",
            "example": 155
          },
          "products": {
            "type": "array",
            "description": "Details of product(s)",
            "items": {
              "$ref": "#/components/schemas/FleetProductResponse"
            }
          },
          "destination": {
            "$ref": "#/components/schemas/RoutePointDetailed"
          },
          "origin": {
            "$ref": "#/components/schemas/RoutePointDetailed"
          }
        },
        "description": "Defines only the necessary details of a route job"
      },
      "LocationAddress": {
        "type": "object",
        "properties": {
          "description": {
            "maxLength": 255,
            "type": "string",
            "description": "Address description."
          },
          "street": {
            "maxLength": 255,
            "type": "string",
            "description": "Street name.",
            "example": "Main street"
          },
          "zipCode": {
            "maxLength": 50,
            "type": "string",
            "description": "Zip code.",
            "example": "20535"
          },
          "city": {
            "maxLength": 255,
            "type": "string",
            "description": "City in which location is located in.",
            "example": "Stuttgart"
          },
          "country": {
            "maxLength": 50,
            "type": "string",
            "description": "Country in which location is located in.",
            "example": "Germany"
          },
          "geoLocation": {
            "$ref": "#/components/schemas/GeoLocation"
          }
        },
        "description": "Location address"
      },
      "LocationPenaltyAttributes": {
        "type": "object",
        "properties": {
          "productUid": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "description": "Product unique identifier",
            "example": "AvO78iot3x"
          },
          "locationTypeUid": {
            "type": "integer",
            "description": "Location type unique identifier",
            "format": "int64",
            "example": 2
          },
          "locationRiskUid": {
            "type": "integer",
            "description": "Location risk unique identifier",
            "format": "int64",
            "example": 1
          }
        },
        "description": "Defines the location penalty attributes. At least one field is non-null"
      },
      "LocationPenaltyRules": {
        "type": "object",
        "properties": {
          "penaltyAttributes": {
            "$ref": "#/components/schemas/LocationPenaltyAttributes"
          },
          "penaltyAttributeRules": {
            "type": "array",
            "description": "Location penalty attributes from the forbidden destinations based on previous jobs attribute, and the penalty info",
            "items": {
              "$ref": "#/components/schemas/PenaltyAttributeRule"
            }
          }
        },
        "description": "Defines the details of penalty rules"
      },
      "LocationResponse": {
        "required": [
          "addressType",
          "addressTypeUid",
          "locationRiskUid",
          "locationStatusUid",
          "locationTypeUid",
          "risk",
          "status",
          "type",
          "uid"
        ],
        "type": "object",
        "properties": {
          "uid": {
            "maxLength": 50,
            "type": "string",
            "description": "Location uid",
            "example": "AvO78iot3x"
          },
          "locationName": {
            "maxLength": 255,
            "type": "string",
            "description": "Location name",
            "example": "P3"
          },
          "address": {
            "$ref": "#/components/schemas/LocationAddress"
          },
          "loadingValidFrom": {
            "$ref": "#/components/schemas/Hours"
          },
          "loadingValidTo": {
            "$ref": "#/components/schemas/Hours"
          },
          "unloadingValidFrom": {
            "$ref": "#/components/schemas/Hours"
          },
          "unloadingValidTo": {
            "$ref": "#/components/schemas/Hours"
          },
          "locationStatusUid": {
            "type": "integer",
            "description": "Business account location status identifier",
            "format": "int64",
            "example": 1
          },
          "status": {
            "maxLength": 255,
            "type": "string",
            "description": "Location status name"
          },
          "addressTypeUid": {
            "type": "integer",
            "description": "Business account location address type identifier",
            "format": "int64",
            "example": 1
          },
          "addressType": {
            "maxLength": 255,
            "type": "string",
            "description": "Business account location address type name",
            "example": "HOME"
          },
          "locationTypeUid": {
            "type": "integer",
            "description": "Business account location type identifier",
            "format": "int64",
            "example": 1
          },
          "type": {
            "maxLength": 255,
            "type": "string",
            "description": "Business account location type name",
            "example": "HEADQUARTERS"
          },
          "locationRiskUid": {
            "type": "integer",
            "description": "Business account location risk identifier",
            "format": "int64",
            "example": 1
          },
          "risk": {
            "maxLength": 255,
            "type": "string",
            "description": "Location risk name"
          },
          "processTime": {
            "minimum": 0,
            "type": "integer",
            "description": "Maximum process time allowed on a location in seconds",
            "format": "int64",
            "example": 600
          },
          "businessAccount": {
            "$ref": "#/components/schemas/BusinessAccountReduceResponse"
          }
        },
        "description": "Defines the details of a business account location"
      },
      "OptimizeTourComposedResponse": {
        "type": "object",
        "properties": {
          "optimizedTours": {
            "type": "array",
            "description": "Optimized tour(s), with their polylines, job & product details, to be confirmed",
            "items": {
              "$ref": "#/components/schemas/OptimizeTourResponse"
            }
          },
          "skippedJobs": {
            "uniqueItems": true,
            "type": "array",
            "description": "Specifies details of unperformed jobs in a Tour.",
            "items": {
              "$ref": "#/components/schemas/SkippedJob"
            }
          },
          "businessAccounts": {
            "type": "array",
            "description": "Details of the business account, associated with these tours",
            "items": {
              "$ref": "#/components/schemas/BusinessAccountResponse"
            }
          },
          "locationMap": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/LocationResponse"
            },
            "description": "Details of the business account locations, associated with these tours"
          },
          "penaltyRules": {
            "type": "array",
            "description": "Tour job penalty rules",
            "items": {
              "$ref": "#/components/schemas/LocationPenaltyRules"
            }
          }
        },
        "description": "Defines details of the optimized tour(s), to be confirmed. Also includes the business accounts associated with each of the jobs."
      },
      "OptimizeTourResponse": {
        "required": [
          "productQuantities",
          "routeJobDetails",
          "transitions",
          "vehicleIdentificationNumber"
        ],
        "type": "object",
        "properties": {
          "vehicleName": {
            "type": "string",
            "description": "It's the name of the Vehicle.",
            "example": "HKN"
          },
          "startDate": {
            "type": "string",
            "description": "Start date of this tour",
            "example": "2024-11-15T23:59:59"
          },
          "endDate": {
            "type": "string",
            "description": "End date of this tour",
            "example": "2024-11-15T23:59:59"
          },
          "totalTime": {
            "type": "integer",
            "description": "Total tour duration time in seconds",
            "format": "int64",
            "example": 155
          },
          "totalDistance": {
            "type": "number",
            "description": "Total tour distance in meters",
            "format": "double",
            "example": 500.9
          },
          "vehicleIdentificationNumber": {
            "maxLength": 30,
            "type": "string",
            "description": "Defines the vehicle identification number (VIN).",
            "example": "4Y1SL65848Z411444"
          },
          "totalJobs": {
            "type": "integer",
            "description": "Total Jobs (count)",
            "format": "int32",
            "example": 6
          },
          "routeJobDetails": {
            "type": "array",
            "description": "List with details for all route jobs",
            "items": {
              "$ref": "#/components/schemas/FleetRouteJobDetailsResponse"
            }
          },
          "vehicleBreak": {
            "$ref": "#/components/schemas/VehicleBreak"
          },
          "productQuantities": {
            "type": "object",
            "additionalProperties": {
              "type": "number",
              "description": "Summary of all associated tour products. Contains information about their names, and their total quantity transferred.",
              "format": "double"
            },
            "description": "Summary of all associated tour products. Contains information about their names, and their total quantity transferred."
          },
          "polyline": {
            "$ref": "#/components/schemas/Polyline"
          },
          "transitions": {
            "type": "array",
            "description": "Tour transition details",
            "items": {
              "$ref": "#/components/schemas/Transition"
            }
          }
        },
        "description": "Optimized tour response, to be confirmed and stored as a fleet tour."
      },
      "PenaltyAttributeRule": {
        "required": [
          "penalty",
          "type"
        ],
        "type": "object",
        "properties": {
          "productUid": {
            "maxLength": 50,
            "type": "string",
            "description": "Product unique identifier",
            "example": "AvO78iot3x"
          },
          "locationTypeUid": {
            "type": "integer",
            "description": "Location type unique identifier",
            "format": "int64",
            "example": 2
          },
          "locationRiskUid": {
            "type": "integer",
            "description": "Location risk unique identifier",
            "format": "int64",
            "example": 1
          },
          "penalty": {
            "maxLength": 255,
            "type": "string",
            "description": "The penalty of the location attribute parameter combination",
            "example": "86400"
          },
          "type": {
            "maxLength": 255,
            "type": "string",
            "description": "Penalty rule type",
            "example": "1"
          }
        },
        "description": "Defines the response of the location penalty rule. At least one field is non-null (not including the penalty and type fields)"
      },
      "Reasons": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Refers to the skipped error code."
          }
        },
        "description": "A list of reasons that explain why the job was skipped."
      },
      "RoutePointDetailed": {
        "required": [
          "accountLocationUid",
          "geoLocation",
          "locationAddressType",
          "locationRisk",
          "locationType"
        ],
        "type": "object",
        "properties": {
          "accountLocationUid": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "description": "Identifier of the business account's location",
            "example": "AvO78iot3x"
          },
          "street": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "description": "Street of the route point",
            "example": "Main street"
          },
          "city": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "description": "City of the route point",
            "example": "Munich"
          },
          "zipCode": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "description": "Zip code.",
            "example": "20535"
          },
          "geoLocation": {
            "$ref": "#/components/schemas/GeoLocation"
          },
          "locationAddressType": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "description": "Location address type information",
            "example": "Raw Tank"
          },
          "locationType": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "description": "Location type information",
            "example": "Cow"
          },
          "locationRisk": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "description": "Location risk information",
            "example": "High"
          },
          "processTime": {
            "minimum": 0,
            "type": "integer",
            "description": "Maximum process time allowed on a location in seconds",
            "format": "int64",
            "example": 600
          }
        },
        "description": "Defines the origin/destination job details."
      },
      "SkippedJob": {
        "type": "object",
        "properties": {
          "jobUid": {
            "type": "string",
            "description": "Job unique identifier."
          },
          "jobType": {
            "$ref": "#/components/schemas/FleetJobTypeNameResponse"
          },
          "reasons": {
            "type": "array",
            "description": "A list of reasons that explain why the job was skipped.",
            "items": {
              "$ref": "#/components/schemas/Reasons"
            }
          }
        },
        "description": "Specifies the details of a skipped job during tour optimization."
      },
      "VehicleBreak": {
        "required": [
          "endDateTime",
          "jobUid",
          "startDateTime"
        ],
        "type": "object",
        "properties": {
          "startDateTime": {
            "type": "string",
            "description": "Vehicle start date time",
            "example": "2024-11-15T23:59:59"
          },
          "endDateTime": {
            "type": "string",
            "description": "Vehicle end date time",
            "example": "2024-11-15T23:59:59"
          },
          "jobUid": {
            "maxLength": 50,
            "type": "string",
            "description": "Job identifier of the job which is before the break"
          }
        },
        "description": "Vehicle break inside of a tour"
      },
      "OptimizeTourOrchestratorUpdateRequest": {
        "required": [
          "endRouteTime",
          "jobUids",
          "startRouteTime"
        ],
        "type": "object",
        "properties": {
          "startRouteTime": {
            "type": "string",
            "description": "The start route date time.",
            "example": "2024-11-15T23:59:59"
          },
          "endRouteTime": {
            "type": "string",
            "description": "The end route date time.",
            "example": "2024-11-15T23:59:59"
          },
          "jobUids": {
            "uniqueItems": true,
            "type": "array",
            "description": "The Job UIDs.",
            "items": {
              "type": "string",
              "description": "The Job UIDs."
            }
          }
        },
        "description": "Single tour optimize update request"
      },
      "PrecedenceTourComposedResponse": {
        "type": "object",
        "properties": {
          "optimizedTour": {
            "$ref": "#/components/schemas/OptimizeTourResponse"
          },
          "skippedJobs": {
            "uniqueItems": true,
            "type": "array",
            "description": "Specifies details of unperformed jobs in a Tour.",
            "items": {
              "$ref": "#/components/schemas/SkippedJob"
            }
          },
          "businessAccounts": {
            "type": "array",
            "description": "Details of the business account, associated with these tours",
            "items": {
              "$ref": "#/components/schemas/BusinessAccountResponse"
            }
          }
        },
        "description": "Defines details of an optimized (based on job precedence sequence) tour, to be confirmed. Also includes the business accounts associated with each of the jobs."
      },
      "PrecedenceJobOrchestratorRequest": {
        "required": [
          "jobPrecedence",
          "jobUID"
        ],
        "type": "object",
        "properties": {
          "jobUID": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "description": "Job unique identifier"
          },
          "jobPrecedence": {
            "minimum": 0,
            "type": "integer",
            "description": "Job precedence sequence. Counting starts from 0 and increases by 1.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Job precedence optimization request, containing job UID along with the requested job precedence sequence"
      },
      "PrecedenceTourOrchestratorUpdateRequest": {
        "required": [
          "endRouteTime",
          "jobs",
          "startRouteTime"
        ],
        "type": "object",
        "properties": {
          "startRouteTime": {
            "type": "string",
            "description": "The start route date time.",
            "example": "2024-11-15T23:59:59"
          },
          "endRouteTime": {
            "type": "string",
            "description": "The end route date time.",
            "example": "2024-11-15T23:59:59"
          },
          "jobs": {
            "type": "array",
            "description": "List of unique job UIDs and their precedence sequence",
            "items": {
              "$ref": "#/components/schemas/PrecedenceJobOrchestratorRequest"
            }
          }
        },
        "description": "Single tour precedence optimize request for updating a tour based on job sequence."
      },
      "FleetJobResponse": {
        "required": [
          "businessAccountUid",
          "createdDate",
          "destinationLocationUid",
          "jobType",
          "jobUid",
          "lastModifiedDate",
          "originLocationUid",
          "products",
          "status"
        ],
        "type": "object",
        "properties": {
          "jobUid": {
            "maxLength": 50,
            "type": "string",
            "description": "Job identifier",
            "example": "08a8c5d2f13b9100"
          },
          "depotId": {
            "maxLength": 255,
            "type": "string",
            "description": "Depot identifier",
            "example": "AvO78iot3x"
          },
          "businessAccountUid": {
            "maxLength": 50,
            "type": "string",
            "description": "Supplier identifier",
            "example": "LKnPKAYKvf"
          },
          "startDate": {
            "type": "string",
            "description": "Start date of this job",
            "example": "2024-11-15T23:59:59"
          },
          "endDate": {
            "type": "string",
            "description": "End date of this job",
            "example": "2024-11-15T23:59:59"
          },
          "jobType": {
            "maxLength": 30,
            "type": "string",
            "description": "Job type name",
            "example": "INBOUND"
          },
          "products": {
            "type": "array",
            "description": "Details of product(s)",
            "items": {
              "$ref": "#/components/schemas/FleetProduct"
            }
          },
          "originLocationUid": {
            "maxLength": 50,
            "type": "string",
            "description": "Origin location identifier"
          },
          "destinationLocationUid": {
            "maxLength": 50,
            "type": "string",
            "description": "Destination location identifier"
          },
          "status": {
            "maxLength": 10,
            "type": "string",
            "description": "Defines all possible statuses of a Job",
            "enum": [
              "TO_DO",
              "PENDING",
              "PLANNED",
              "ENROUTE",
              "DELIVERED",
              "FAILED",
              "RETURNED",
              "CANCELLED"
            ]
          },
          "datePickUpFrom": {
            "type": "string",
            "description": "Earliest date this job can be picked up",
            "example": "2024-11-15T23:59:59"
          },
          "datePickUpTill": {
            "type": "string",
            "description": "Latest date this job can be picked up",
            "example": "2024-11-15T23:59:59"
          },
          "dateDropOffFrom": {
            "type": "string",
            "description": "Earliest date this job can be dropped off",
            "example": "2024-11-15T23:59:59"
          },
          "dateDropOffTill": {
            "type": "string",
            "description": "Latest date this job can be dropped off",
            "example": "2024-11-15T23:59:59"
          },
          "createdDate": {
            "type": "string",
            "description": "Date this job was created",
            "example": "2024-11-15T23:59:59"
          },
          "lastModifiedDate": {
            "type": "string",
            "description": "Date this job was last modified",
            "example": "2024-11-15T23:59:59"
          }
        },
        "description": "Defines the details of a job"
      },
      "FleetProduct": {
        "required": [
          "quantity",
          "uid"
        ],
        "type": "object",
        "properties": {
          "uid": {
            "maxLength": 50,
            "type": "string",
            "description": "Product identifier",
            "example": "1"
          },
          "risk": {
            "maxLength": 20,
            "type": "string",
            "description": "Product risk",
            "example": "High"
          },
          "quantity": {
            "type": "number",
            "description": "Quantity of the transferred product",
            "format": "double",
            "example": 10.5
          }
        },
        "description": "Details of product(s)"
      },
      "FleetJobUpdateRequest": {
        "required": [
          "businessAccountUid",
          "dateDropOffFrom",
          "dateDropOffTill",
          "datePickUpFrom",
          "datePickUpTill",
          "destinationLocationUid",
          "jobTypeUid",
          "originLocationUid",
          "products",
          "status"
        ],
        "type": "object",
        "properties": {
          "depotId": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "description": "Depot identifier",
            "example": "LKnPKAYKvf"
          },
          "businessAccountUid": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "description": "Supplier identifier",
            "example": "AvO78iot3x"
          },
          "jobTypeUid": {
            "type": "integer",
            "description": "Job type identifier",
            "format": "int64",
            "example": 15
          },
          "products": {
            "type": "array",
            "description": "Details of product(s)",
            "items": {
              "$ref": "#/components/schemas/FleetProductRequest"
            }
          },
          "originLocationUid": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "description": "Origin location identifier"
          },
          "destinationLocationUid": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "description": "Destination location identifier"
          },
          "status": {
            "type": "string",
            "description": "Defines all possible statuses of a Job",
            "enum": [
              "TO_DO",
              "PENDING",
              "PLANNED",
              "ENROUTE",
              "DELIVERED",
              "FAILED",
              "RETURNED",
              "CANCELLED"
            ]
          },
          "datePickUpFrom": {
            "type": "string",
            "description": "Earliest date this job can be picked up",
            "example": "2024-11-15T23:59:59"
          },
          "datePickUpTill": {
            "type": "string",
            "description": "Latest date this job can be picked up",
            "example": "2024-11-15T23:59:59"
          },
          "dateDropOffFrom": {
            "type": "string",
            "description": "Earliest date this job can be dropped off",
            "example": "2024-11-15T23:59:59"
          },
          "dateDropOffTill": {
            "type": "string",
            "description": "Latest date this job can be dropped off",
            "example": "2024-11-15T23:59:59"
          }
        },
        "description": "Defines the update request of a fleet job"
      },
      "FleetProductRequest": {
        "required": [
          "quantity",
          "uid"
        ],
        "type": "object",
        "properties": {
          "uid": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "description": "Product identifier",
            "example": "1"
          },
          "risk": {
            "maxLength": 20,
            "minLength": 0,
            "type": "string",
            "description": "Product risk",
            "example": "High"
          },
          "quantity": {
            "type": "number",
            "description": "Quantity of the transferred product",
            "format": "double",
            "example": 10.5
          }
        },
        "description": "Defines the fleet product request"
      },
      "FleetVehicleCreateRequest": {
        "required": [
          "status",
          "timeZoneId",
          "vehicleIdentificationNumber",
          "workingHours"
        ],
        "type": "object",
        "properties": {
          "vehicleCoreUuid": {
            "type": "string",
            "description": "It's the vehicle UUID which is related to svc-vehicle-core microservice.",
[...]
