{
  "openapi": "3.0.1",
  "info": {
    "title": "fleet-web-service",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://p3-acc.fleet.energystacks.io/fleet-web/v1",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Fleet Tour",
      "description": "Support for Tour operations"
    },
    {
      "name": "Fleet/Core Vehicle",
      "description": "Support for Core/Fleet Vehicle operations (CRUDs)"
    },
    {
      "name": "Business Accounts",
      "description": "Business Accounts Controller"
    },
    {
      "name": "Fleet Job",
      "description": "Support for Fleet Job operations (CRUDs)"
    },
    {
      "name": "Tour Optimization",
      "description": "Calculates the fleet tours based on the criteria"
    },
    {
      "name": "Dashboard Fleet Tour",
      "description": "Support dashboard feature for fleet tours."
    },
    {
      "name": "User",
      "description": "Support for User operations"
    },
    {
      "name": "Matrix",
      "description": "Matrix Controller"
    },
    {
      "name": "Contamination Rules",
      "description": "Contamination Rules Controller"
    }
  ],
  "paths": {
    "/vehicles/{vehicleIdentificationNumber}": {
      "get": {
        "tags": [
          "Fleet/Core Vehicle"
        ],
        "summary": "Get fleet vehicle by vehicle identification number (VIN)",
        "description": "Returns a fleet vehicle, based on the provided VIN",
        "operationId": "getFleetVehicleByVIN",
        "parameters": [
          {
            "name": "vehicleIdentificationNumber",
            "in": "path",
            "description": "The vehicle identification number of the vehicle",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VehicleByVinWebResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "FLEET_VEHICLE_IDENTIFICATION_NUMBER_NOT_FOUND": {
                    "description": "FLEET_VEHICLE_IDENTIFICATION_NUMBER_NOT_FOUND",
                    "$ref": "#/components/examples/FLEET_VEHICLE_IDENTIFICATION_NUMBER_NOT_FOUND"
                  },
                  "VEHICLE_CORE_UUID_NOT_FOUND": {
                    "description": "VEHICLE_CORE_UUID_NOT_FOUND",
                    "$ref": "#/components/examples/VEHICLE_CORE_UUID_NOT_FOUND"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Fleet/Core Vehicle"
        ],
        "summary": "Update Fleet Vehicle",
        "description": "Update Fleet Vehicle with the specific vehicle identification number (VIN).\n#### Vehicle coordinates are inherited from one of the locations, of the related business account (depotId)",
        "operationId": "updateFleetVehicleByVehicleIdentificationNumber",
        "parameters": [
          {
            "name": "vehicleIdentificationNumber",
            "in": "path",
            "description": "The vehicle identification number of the vehicle",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FleetVehicleWebUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorMessageDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "VEHICLES_CORE_NOT_FOUND": {
                    "description": "VEHICLES_CORE_NOT_FOUND",
                    "$ref": "#/components/examples/VEHICLES_CORE_NOT_FOUND"
                  },
                  "FLEET_VEHICLE_IDENTIFICATION_NUMBER_NOT_FOUND": {
                    "description": "FLEET_VEHICLE_IDENTIFICATION_NUMBER_NOT_FOUND",
                    "$ref": "#/components/examples/FLEET_VEHICLE_IDENTIFICATION_NUMBER_NOT_FOUND"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "VEHICLE_IS_ASSIGNED_TO_A_TOUR": {
                    "description": "VEHICLE_IS_ASSIGNED_TO_A_TOUR",
                    "$ref": "#/components/examples/VEHICLE_IS_ASSIGNED_TO_A_TOUR"
                  }
                }
              }
            }
          },
          "424": {
            "description": "Failed Dependency",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "INVALID_VEHICLE_BUSINESS_ACCOUNT": {
                    "description": "INVALID_VEHICLE_BUSINESS_ACCOUNT",
                    "$ref": "#/components/examples/INVALID_VEHICLE_BUSINESS_ACCOUNT"
                  },
                  "BUSINESS_ACCOUNT_WITHOUT_LOCATIONS": {
                    "description": "BUSINESS_ACCOUNT_WITHOUT_LOCATIONS",
                    "$ref": "#/components/examples/BUSINESS_ACCOUNT_WITHOUT_LOCATIONS"
                  },
                  "BUSINESS_ACCOUNT_LOCATIONS_WITHOUT_GEOLOCATION": {
                    "description": "BUSINESS_ACCOUNT_LOCATIONS_WITHOUT_GEOLOCATION",
                    "$ref": "#/components/examples/BUSINESS_ACCOUNT_LOCATIONS_WITHOUT_GEOLOCATION"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Fleet/Core Vehicle"
        ],
        "summary": "Delete a fleet vehicle",
        "description": "Delete a fleet vehicle with the specific vehicle identification number",
        "operationId": "deleteFleetVehicleByVehicleIdentificationNumber",
        "parameters": [
          {
            "name": "vehicleIdentificationNumber",
            "in": "path",
            "description": "The vehicle identification number of the vehicle",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "FLEET_VEHICLE_IDENTIFICATION_NUMBER_NOT_FOUND": {
                    "description": "FLEET_VEHICLE_IDENTIFICATION_NUMBER_NOT_FOUND",
                    "$ref": "#/components/examples/FLEET_VEHICLE_IDENTIFICATION_NUMBER_NOT_FOUND"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "VEHICLE_IS_ASSIGNED_TO_A_TOUR": {
                    "description": "VEHICLE_IS_ASSIGNED_TO_A_TOUR",
                    "$ref": "#/components/examples/VEHICLE_IS_ASSIGNED_TO_A_TOUR"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Fleet/Core Vehicle"
        ],
        "summary": "Patch Fleet Vehicle",
        "description": "Update Fleet Vehicle with the specific vehicle identification number (VIN).\n#### Vehicle coordinates are inherited from one of the locations, of the related business account (depotId)",
        "operationId": "patchFleetVehicleByVehicleIdentificationNumber",
        "parameters": [
          {
            "name": "vehicleIdentificationNumber",
            "in": "path",
            "description": "The vehicle identification number of the vehicle",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FleetVehicleWebPatchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Successful Operation"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorMessageDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "VEHICLES_CORE_NOT_FOUND": {
                    "description": "VEHICLES_CORE_NOT_FOUND",
                    "$ref": "#/components/examples/VEHICLES_CORE_NOT_FOUND"
                  },
                  "FLEET_VEHICLE_IDENTIFICATION_NUMBER_NOT_FOUND": {
                    "description": "FLEET_VEHICLE_IDENTIFICATION_NUMBER_NOT_FOUND",
                    "$ref": "#/components/examples/FLEET_VEHICLE_IDENTIFICATION_NUMBER_NOT_FOUND"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "CANNOT_PATCH_DETAILS_OF_PLANNED_VEHICLE": {
                    "description": "CANNOT_PATCH_DETAILS_OF_PLANNED_VEHICLE",
                    "$ref": "#/components/examples/CANNOT_PATCH_DETAILS_OF_PLANNED_VEHICLE"
                  }
                }
              }
            }
          },
          "424": {
            "description": "Failed Dependency",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "INVALID_VEHICLE_BUSINESS_ACCOUNT": {
                    "description": "INVALID_VEHICLE_BUSINESS_ACCOUNT",
                    "$ref": "#/components/examples/INVALID_VEHICLE_BUSINESS_ACCOUNT"
                  },
                  "BUSINESS_ACCOUNT_WITHOUT_LOCATIONS": {
                    "description": "BUSINESS_ACCOUNT_WITHOUT_LOCATIONS",
                    "$ref": "#/components/examples/BUSINESS_ACCOUNT_WITHOUT_LOCATIONS"
                  },
                  "BUSINESS_ACCOUNT_LOCATIONS_WITHOUT_GEOLOCATION": {
                    "description": "BUSINESS_ACCOUNT_LOCATIONS_WITHOUT_GEOLOCATION",
                    "$ref": "#/components/examples/BUSINESS_ACCOUNT_LOCATIONS_WITHOUT_GEOLOCATION"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{vehicleIdentificationNumber}/regular-working-hours/": {
      "put": {
        "tags": [
          "Fleet/Core Vehicle"
        ],
        "summary": "Update fleet vehicle's regular working hours.",
        "description": "Update fleet vehicle's regular working hours, by the vehicle identification number.\nIf there are active tours (= ENROUTE or PLANNED) for the requested vehicle, it is being validated if\nthey can be performed, and if new custom exceptional openings should be created (under specific circumstances).\n",
        "operationId": "updateFleetVehicleWorkingRegularHoursByVehicleIdentificationNumber",
        "parameters": [
          {
            "name": "vehicleIdentificationNumber",
            "in": "path",
            "description": "The vehicle identification number of the vehicle",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegularWorkingHours"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "INVALID_HOURS": {
                    "description": "INVALID_HOURS",
                    "$ref": "#/components/examples/INVALID_HOURS"
                  },
                  "DUPLICATE_WEEKDAYS": {
                    "description": "DUPLICATE_WEEKDAYS",
                    "$ref": "#/components/examples/DUPLICATE_WEEKDAYS"
                  },
                  "INVALID_BEGIN_END_TIME": {
                    "description": "INVALID_BEGIN_END_TIME",
                    "$ref": "#/components/examples/INVALID_BEGIN_END_TIME"
                  },
                  "UNKNOWN_TIME_ZONE_ID": {
                    "description": "UNKNOWN_TIME_ZONE_ID",
                    "$ref": "#/components/examples/UNKNOWN_TIME_ZONE_ID"
                  },
                  "TIME_ZONE_REQUIRED_WHEN_UPDATING_VEHICLE_HOURS": {
                    "description": "TIME_ZONE_REQUIRED_WHEN_UPDATING_VEHICLE_HOURS",
                    "$ref": "#/components/examples/TIME_ZONE_REQUIRED_WHEN_UPDATING_VEHICLE_HOURS"
                  },
                  "INVALID_EXCEPTIONAL_PERIOD_BEGIN_END_DATE": {
                    "description": "INVALID_EXCEPTIONAL_PERIOD_BEGIN_END_DATE",
                    "$ref": "#/components/examples/INVALID_EXCEPTIONAL_PERIOD_BEGIN_END_DATE"
                  },
                  "MORE_THAN_ONE_EXCEPTIONAL_PERIOD_WITHIN_SINGLE_DATE": {
                    "description": "MORE_THAN_ONE_EXCEPTIONAL_PERIOD_WITHIN_SINGLE_DATE",
                    "$ref": "#/components/examples/MORE_THAN_ONE_EXCEPTIONAL_PERIOD_WITHIN_SINGLE_DATE"
                  },
                  "EXCEPTIONAL_PERIOD_DATES_OVERLAP": {
                    "description": "EXCEPTIONAL_PERIOD_DATES_OVERLAP",
                    "$ref": "#/components/examples/EXCEPTIONAL_PERIOD_DATES_OVERLAP"
                  },
                  "NEW_REGULAR_HOURS_MUST_NOT_BLOCK_ACTIVE_TOURS": {
                    "description": "NEW_REGULAR_HOURS_MUST_NOT_BLOCK_ACTIVE_TOURS",
                    "$ref": "#/components/examples/NEW_REGULAR_HOURS_MUST_NOT_BLOCK_ACTIVE_TOURS"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "FLEET_VEHICLE_IDENTIFICATION_NUMBER_NOT_FOUND": {
                    "description": "FLEET_VEHICLE_IDENTIFICATION_NUMBER_NOT_FOUND",
                    "$ref": "#/components/examples/FLEET_VEHICLE_IDENTIFICATION_NUMBER_NOT_FOUND"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{vehicleIdentificationNumber}/exceptional-working-hours/": {
      "put": {
        "tags": [
          "Fleet/Core Vehicle"
        ],
        "summary": "Update fleet vehicle's exceptional working hours.",
        "description": "Update fleet vehicle's exceptional working hours, by the vehicle identification number.\nIf there are active tours (= ENROUTE or PLANNED) for the requested vehicle, it is being validated if\nthey can be performed also with the new exceptional periods.\n",
        "operationId": "updateFleetVehicleWorkingExceptionalHoursByVehicleIdentificationNumber",
        "parameters": [
          {
            "name": "vehicleIdentificationNumber",
            "in": "path",
            "description": "The vehicle identification number of the vehicle",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExceptionalWorkingHours"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "INVALID_HOURS": {
                    "description": "INVALID_HOURS",
                    "$ref": "#/components/examples/INVALID_HOURS"
                  },
                  "DUPLICATE_WEEKDAYS": {
                    "description": "DUPLICATE_WEEKDAYS",
                    "$ref": "#/components/examples/DUPLICATE_WEEKDAYS"
                  },
                  "INVALID_BEGIN_END_TIME": {
                    "description": "INVALID_BEGIN_END_TIME",
                    "$ref": "#/components/examples/INVALID_BEGIN_END_TIME"
                  },
                  "UNKNOWN_TIME_ZONE_ID": {
                    "description": "UNKNOWN_TIME_ZONE_ID",
                    "$ref": "#/components/examples/UNKNOWN_TIME_ZONE_ID"
                  },
                  "TIME_ZONE_REQUIRED_WHEN_UPDATING_VEHICLE_HOURS": {
                    "description": "TIME_ZONE_REQUIRED_WHEN_UPDATING_VEHICLE_HOURS",
                    "$ref": "#/components/examples/TIME_ZONE_REQUIRED_WHEN_UPDATING_VEHICLE_HOURS"
                  },
                  "INVALID_EXCEPTIONAL_PERIOD_BEGIN_END_DATE": {
                    "description": "INVALID_EXCEPTIONAL_PERIOD_BEGIN_END_DATE",
                    "$ref": "#/components/examples/INVALID_EXCEPTIONAL_PERIOD_BEGIN_END_DATE"
                  },
                  "MORE_THAN_ONE_EXCEPTIONAL_PERIOD_WITHIN_SINGLE_DATE": {
                    "description": "MORE_THAN_ONE_EXCEPTIONAL_PERIOD_WITHIN_SINGLE_DATE",
                    "$ref": "#/components/examples/MORE_THAN_ONE_EXCEPTIONAL_PERIOD_WITHIN_SINGLE_DATE"
                  },
                  "EXCEPTIONAL_PERIOD_DATES_OVERLAP": {
                    "description": "EXCEPTIONAL_PERIOD_DATES_OVERLAP",
                    "$ref": "#/components/examples/EXCEPTIONAL_PERIOD_DATES_OVERLAP"
                  },
                  "NEW_EXCEPTIONAL_CLOSING_CANNOT_BLOCK_ACTIVE_TOURS": {
                    "description": "NEW_EXCEPTIONAL_CLOSING_CANNOT_BLOCK_ACTIVE_TOURS",
                    "$ref": "#/components/examples/NEW_EXCEPTIONAL_CLOSING_CANNOT_BLOCK_ACTIVE_TOURS"
                  },
                  "NEW_EXCEPTIONAL_OPENING_NOT_EQUAL_TO_OR_EXTENDING_EXISTING": {
                    "description": "NEW_EXCEPTIONAL_OPENING_NOT_EQUAL_TO_OR_EXTENDING_EXISTING",
                    "$ref": "#/components/examples/NEW_EXCEPTIONAL_OPENING_NOT_EQUAL_TO_OR_EXTENDING_EXISTING"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "FLEET_VEHICLE_IDENTIFICATION_NUMBER_NOT_FOUND": {
                    "description": "FLEET_VEHICLE_IDENTIFICATION_NUMBER_NOT_FOUND",
                    "$ref": "#/components/examples/FLEET_VEHICLE_IDENTIFICATION_NUMBER_NOT_FOUND"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tours/{tourUid}": {
      "put": {
        "tags": [
          "Fleet Tour"
        ],
        "summary": "Update a fleet tour by tour uid",
        "description": "Updates an existing Fleet Tour by tour UID, and all related jobs. Tour's vehicle is not updatable.",
        "operationId": "updateFleetTourByTourUid",
        "parameters": [
          {
            "name": "tourUid",
            "in": "path",
            "description": "Tour unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FleetTourWebUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TourIdentifier"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "REQUEST_CONTAINS_DUPLICATE_JOB_UIDS": {
                    "description": "REQUEST_CONTAINS_DUPLICATE_JOB_UIDS",
                    "$ref": "#/components/examples/REQUEST_CONTAINS_DUPLICATE_JOB_UIDS"
                  },
                  "JOBS_AND_VEHICLES_NOT_COMMON_DEPOT": {
                    "description": "JOBS_AND_VEHICLES_NOT_COMMON_DEPOT",
                    "$ref": "#/components/examples/JOBS_AND_VEHICLES_NOT_COMMON_DEPOT"
                  },
                  "FLEET_VEHICLES_NOT_COMMON_DEPOT": {
                    "description": "FLEET_VEHICLES_NOT_COMMON_DEPOT",
                    "$ref": "#/components/examples/FLEET_VEHICLES_NOT_COMMON_DEPOT"
                  },
                  "FLEET_JOBS_NOT_COMMON_DEPOT": {
                    "description": "FLEET_JOBS_NOT_COMMON_DEPOT",
                    "$ref": "#/components/examples/FLEET_JOBS_NOT_COMMON_DEPOT"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "FLEET_TOUR_UID_NOT_FOUND": {
                    "description": "FLEET_TOUR_UID_NOT_FOUND",
                    "$ref": "#/components/examples/FLEET_TOUR_UID_NOT_FOUND"
                  },
                  "VEHICLES_CORE_NOT_FOUND": {
                    "description": "VEHICLES_CORE_NOT_FOUND",
                    "$ref": "#/components/examples/VEHICLES_CORE_NOT_FOUND"
                  },
                  "FLEET_JOB_UIDS_NOT_FOUND": {
                    "description": "FLEET_JOB_UIDS_NOT_FOUND",
                    "$ref": "#/components/examples/FLEET_JOB_UIDS_NOT_FOUND"
                  },
                  "VIN_MISS_MATCH": {
                    "description": "VIN_MISS_MATCH",
                    "$ref": "#/components/examples/VIN_MISS_MATCH"
                  },
                  "JOB_MISS_MATCH": {
                    "description": "JOB_MISS_MATCH",
                    "$ref": "#/components/examples/JOB_MISS_MATCH"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "CANNOT_MODIFY_FINISHED_FLEET_TOUR": {
                    "description": "CANNOT_MODIFY_FINISHED_FLEET_TOUR",
                    "$ref": "#/components/examples/CANNOT_MODIFY_FINISHED_FLEET_TOUR"
                  },
                  "FLEET_JOB_ALREADY_ASSIGNED_TO_TOUR": {
                    "description": "FLEET_JOB_ALREADY_ASSIGNED_TO_TOUR",
                    "$ref": "#/components/examples/FLEET_JOB_ALREADY_ASSIGNED_TO_TOUR"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "ERROR_WHILE_PUSHING_MODIFIED_TOUR_TO_NAVISION": {
                    "description": "ERROR_WHILE_PUSHING_MODIFIED_TOUR_TO_NAVISION",
                    "$ref": "#/components/examples/ERROR_WHILE_PUSHING_MODIFIED_TOUR_TO_NAVISION"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Fleet Tour"
        ],
        "summary": "Delete a fleet tour",
        "description": "Deletes a fleet tour by tour UID, and unassign all of its fleet job(s).",
        "operationId": "deleteFleetTourByTourUid",
        "parameters": [
          {
            "name": "tourUid",
            "in": "path",
            "description": "Tour unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "FLEET_TOUR_UID_NOT_FOUND": {
                    "description": "FLEET_TOUR_UID_NOT_FOUND",
                    "$ref": "#/components/examples/FLEET_TOUR_UID_NOT_FOUND"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "CANNOT_DELETE_STARTED_FLEET_TOUR": {
                    "description": "CANNOT_DELETE_STARTED_FLEET_TOUR",
                    "$ref": "#/components/examples/CANNOT_DELETE_STARTED_FLEET_TOUR"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "ERROR_WHILE_PUSHING_DELETED_TOUR_TO_NAVISION": {
                    "description": "ERROR_WHILE_PUSHING_DELETED_TOUR_TO_NAVISION",
                    "$ref": "#/components/examples/ERROR_WHILE_PUSHING_DELETED_TOUR_TO_NAVISION"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Fleet Tour"
        ],
        "summary": "Patch an existing fleet tour by tour uid.",
        "description": "Patches an existing Fleet Tour, and its related fleet Jobs. Whether a tour field is updatable depends\non the current status of the tour.\nFields with null values in the patch request are ignored, indicating no changes for those fields.",
        "operationId": "patchFleetTourByTourUid",
        "parameters": [
          {
            "name": "tourUid",
            "in": "path",
            "description": "Tour unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FleetTourWebPatchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TourIdentifier"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "FLEET_TOUR_UID_NOT_FOUND": {
                    "description": "FLEET_TOUR_UID_NOT_FOUND",
                    "$ref": "#/components/examples/FLEET_TOUR_UID_NOT_FOUND"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "CANNOT_PATCH_DETAILS_OF_FINISHED_FLEET_TOUR": {
                    "description": "CANNOT_PATCH_DETAILS_OF_FINISHED_FLEET_TOUR",
                    "$ref": "#/components/examples/CANNOT_PATCH_DETAILS_OF_FINISHED_FLEET_TOUR"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/routes/optimize/{tourUid}": {
      "put": {
        "tags": [
          "Tour Optimization"
        ],
        "summary": "Optimizes an existing fleet tour.",
        "description": "The optimized tour will rearrange your planned job(s) to minimize the total time spent on the road.",
        "operationId": "updateOptimizedTourByTourUID",
        "parameters": [
          {
            "name": "tourUid",
            "in": "path",
            "description": "Tour unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OptimizeTourWebUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OptimizeTourWebResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "INVALID_ROUTE_DATES": {
                    "description": "INVALID_ROUTE_DATES",
                    "$ref": "#/components/examples/INVALID_ROUTE_DATES"
                  },
                  "JOBS_AND_VEHICLES_NOT_COMMON_DEPOT": {
                    "description": "JOBS_AND_VEHICLES_NOT_COMMON_DEPOT",
                    "$ref": "#/components/examples/JOBS_AND_VEHICLES_NOT_COMMON_DEPOT"
                  },
                  "FLEET_VEHICLES_NOT_COMMON_DEPOT": {
                    "description": "FLEET_VEHICLES_NOT_COMMON_DEPOT",
                    "$ref": "#/components/examples/FLEET_VEHICLES_NOT_COMMON_DEPOT"
                  },
                  "FLEET_JOBS_NOT_COMMON_DEPOT": {
                    "description": "FLEET_JOBS_NOT_COMMON_DEPOT",
                    "$ref": "#/components/examples/FLEET_JOBS_NOT_COMMON_DEPOT"
                  },
                  "OPTIMIZE_TOUR_JOBS_OUTSIDE_OF_GLOBAL_TIME_WINDOW": {
                    "description": "OPTIMIZE_TOUR_JOBS_OUTSIDE_OF_GLOBAL_TIME_WINDOW",
                    "$ref": "#/components/examples/OPTIMIZE_TOUR_JOBS_OUTSIDE_OF_GLOBAL_TIME_WINDOW"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "FLEET_TOUR_UID_NOT_FOUND": {
                    "description": "FLEET_TOUR_UID_NOT_FOUND",
                    "$ref": "#/components/examples/FLEET_TOUR_UID_NOT_FOUND"
                  },
                  "JOB_MISS_MATCH": {
                    "description": "JOB_MISS_MATCH",
                    "$ref": "#/components/examples/JOB_MISS_MATCH"
                  },
                  "JOB_WITH_INVALID_BUSINESS_ACCOUNT": {
                    "description": "JOB_WITH_INVALID_BUSINESS_ACCOUNT",
                    "$ref": "#/components/examples/JOB_WITH_INVALID_BUSINESS_ACCOUNT"
                  },
                  "LOCATIONS_ASSOCIATED_WITH_JOBS_NOT_FOUND": {
                    "description": "LOCATIONS_ASSOCIATED_WITH_JOBS_NOT_FOUND",
                    "$ref": "#/components/examples/LOCATIONS_ASSOCIATED_WITH_JOBS_NOT_FOUND"
                  },
                  "VIN_MISS_MATCH": {
                    "description": "VIN_MISS_MATCH",
                    "$ref": "#/components/examples/VIN_MISS_MATCH"
                  },
                  "FLEET_VEHICLE_WITH_INVALID_VEHICLE_CORE": {
                    "description": "FLEET_VEHICLE_WITH_INVALID_VEHICLE_CORE",
                    "$ref": "#/components/examples/FLEET_VEHICLE_WITH_INVALID_VEHICLE_CORE"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "TOUR_CANNOT_BE_OPTIMIZED": {
                    "description": "TOUR_CANNOT_BE_OPTIMIZED",
                    "$ref": "#/components/examples/TOUR_CANNOT_BE_OPTIMIZED"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "FAILED_TO_FETCH_VEHICLE_TOURS": {
                    "description": "FAILED_TO_FETCH_VEHICLE_TOURS",
                    "$ref": "#/components/examples/FAILED_TO_FETCH_VEHICLE_TOURS"
                  }
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/routes/optimize/{tourUid}/job-precedence": {
      "put": {
        "tags": [
          "Tour Optimization"
        ],
        "summary": "Optimizes an existing fleet tour, using a specific job precedence sequence.",
        "description": "### Optimizes an existing fleet tour, based on the requested job precedence sequence.\n#### Contamination rules do not apply.",
        "operationId": "updateOptimizedTourWithJobPrecedenceByTourUID",
        "parameters": [
          {
            "name": "tourUid",
            "in": "path",
            "description": "Tour unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrecedenceTourWebUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OptimizeTourWebResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "REQUEST_CONTAINS_DUPLICATE_JOB_UIDS": {
                    "description": "REQUEST_CONTAINS_DUPLICATE_JOB_UIDS",
                    "$ref": "#/components/examples/REQUEST_CONTAINS_DUPLICATE_JOB_UIDS"
                  },
                  "END_DATE_NOT_EQUAL_TO_START_DATE": {
                    "description": "END_DATE_NOT_EQUAL_TO_START_DATE",
                    "$ref": "#/components/examples/END_DATE_NOT_EQUAL_TO_START_DATE"
                  },
                  "END_DATETIME_IS_BEFORE_START_DATETIME": {
                    "description": "END_DATETIME_IS_BEFORE_START_DATETIME",
                    "$ref": "#/components/examples/END_DATETIME_IS_BEFORE_START_DATETIME"
                  },
                  "OPTIMIZE_TOUR_JOBS_OUTSIDE_OF_GLOBAL_TIME_WINDOW": {
                    "description": "OPTIMIZE_TOUR_JOBS_OUTSIDE_OF_GLOBAL_TIME_WINDOW",
                    "$ref": "#/components/examples/OPTIMIZE_TOUR_JOBS_OUTSIDE_OF_GLOBAL_TIME_WINDOW"
                  },
                  "INVALID_OPTIMIZE_TOUR_GLOBAL_TIME_WINDOW": {
                    "description": "INVALID_OPTIMIZE_TOUR_GLOBAL_TIME_WINDOW",
                    "$ref": "#/components/examples/INVALID_OPTIMIZE_TOUR_GLOBAL_TIME_WINDOW"
                  },
                  "INVALID_JOB_ORDER_SEQUENCE": {
                    "description": "INVALID_JOB_ORDER_SEQUENCE",
                    "$ref": "#/components/examples/INVALID_JOB_ORDER_SEQUENCE"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "FLEET_TOUR_UID_NOT_FOUND": {
                    "description": "FLEET_TOUR_UID_NOT_FOUND",
                    "$ref": "#/components/examples/FLEET_TOUR_UID_NOT_FOUND"
                  },
                  "JOB_MISS_MATCH": {
                    "description": "JOB_MISS_MATCH",
                    "$ref": "#/components/examples/JOB_MISS_MATCH"
                  },
                  "VIN_MISS_MATCH": {
                    "description": "VIN_MISS_MATCH",
                    "$ref": "#/components/examples/VIN_MISS_MATCH"
                  },
                  "FLEET_JOBS_NOT_COMMON_DEPOT": {
                    "description": "FLEET_JOBS_NOT_COMMON_DEPOT",
                    "$ref": "#/components/examples/FLEET_JOBS_NOT_COMMON_DEPOT"
                  },
                  "FLEET_VEHICLES_NOT_COMMON_DEPOT": {
                    "description": "FLEET_VEHICLES_NOT_COMMON_DEPOT",
                    "$ref": "#/components/examples/FLEET_VEHICLES_NOT_COMMON_DEPOT"
                  },
                  "JOBS_AND_VEHICLES_NOT_COMMON_DEPOT": {
                    "description": "JOBS_AND_VEHICLES_NOT_COMMON_DEPOT",
                    "$ref": "#/components/examples/JOBS_AND_VEHICLES_NOT_COMMON_DEPOT"
                  },
                  "VEHICLES_CORE_NOT_FOUND": {
                    "description": "VEHICLES_CORE_NOT_FOUND",
                    "$ref": "#/components/examples/VEHICLES_CORE_NOT_FOUND"
                  },
                  "FLEET_VEHICLE_WITH_INVALID_VEHICLE_CORE": {
                    "description": "FLEET_VEHICLE_WITH_INVALID_VEHICLE_CORE",
                    "$ref": "#/components/examples/FLEET_VEHICLE_WITH_INVALID_VEHICLE_CORE"
                  },
                  "JOB_WITH_INVALID_BUSINESS_ACCOUNT": {
                    "description": "JOB_WITH_INVALID_BUSINESS_ACCOUNT",
                    "$ref": "#/components/examples/JOB_WITH_INVALID_BUSINESS_ACCOUNT"
                  },
                  "LOCATIONS_ASSOCIATED_WITH_JOBS_NOT_FOUND": {
                    "description": "LOCATIONS_ASSOCIATED_WITH_JOBS_NOT_FOUND",
                    "$ref": "#/components/examples/LOCATIONS_ASSOCIATED_WITH_JOBS_NOT_FOUND"
                  },
                  "GEO_LOCATION_NOT_ASSIGNED_TO_JOB": {
                    "description": "GEO_LOCATION_NOT_ASSIGNED_TO_JOB",
                    "$ref": "#/components/examples/GEO_LOCATION_NOT_ASSIGNED_TO_JOB"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "VEHICLE_NOT_AVAILABLE_FOR_TOUR_PLANNING": {
                    "description": "VEHICLE_NOT_AVAILABLE_FOR_TOUR_PLANNING",
                    "$ref": "#/components/examples/VEHICLE_NOT_AVAILABLE_FOR_TOUR_PLANNING"
                  },
                  "JOB_PRODUCT_NOT_ASSIGNED_TO_ORIGIN_LOCATION": {
                    "description": "JOB_PRODUCT_NOT_ASSIGNED_TO_ORIGIN_LOCATION",
                    "$ref": "#/components/examples/JOB_PRODUCT_NOT_ASSIGNED_TO_ORIGIN_LOCATION"
                  },
                  "ORIGIN_LOCATION_DOES_NOT_HAVE_ASSIGNED_PRODUCTS": {
                    "description": "ORIGIN_LOCATION_DOES_NOT_HAVE_ASSIGNED_PRODUCTS",
                    "$ref": "#/components/examples/ORIGIN_LOCATION_DOES_NOT_HAVE_ASSIGNED_PRODUCTS"
                  },
                  "TOUR_CANNOT_BE_OPTIMIZED": {
                    "description": "TOUR_CANNOT_BE_OPTIMIZED",
                    "$ref": "#/components/examples/TOUR_CANNOT_BE_OPTIMIZED"
                  },
                  "INVALID_UPDATED_TOUR_JOB_VISIT_ORDER": {
                    "description": "INVALID_UPDATED_TOUR_JOB_VISIT_ORDER",
                    "$ref": "#/components/examples/INVALID_UPDATED_TOUR_JOB_VISIT_ORDER"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/vehicles": {
      "get": {
        "tags": [
          "Fleet/Core Vehicle"
        ],
        "summary": "Get all fleet vehicles for a specific depot.",
        "description": "Return a list of all fleet vehicles for the requested depotId.",
        "operationId": "getAllVehicles",
        "parameters": [
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Beginning of the time period",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2024-11-15T23:59:59"
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "End of the time period",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2024-11-15T23:59:59"
          },
          {
            "name": "depotId",
            "in": "query",
            "description": "Depot identifier.",
            "required": true,
            "schema": {
              "maxLength": 255,
              "minLength": 0,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VehicleWebResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "END_DATE_IS_EARLIER_THAN_START_DATE": {
                    "description": "END_DATE_IS_EARLIER_THAN_START_DATE",
                    "$ref": "#/components/examples/END_DATE_IS_EARLIER_THAN_START_DATE"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "VIN_NOT_FOUND": {
                    "description": "VIN_NOT_FOUND",
                    "$ref": "#/components/examples/VIN_NOT_FOUND"
                  },
                  "VEHICLE_CORE_UUID_NOT_FOUND": {
                    "description": "VEHICLE_CORE_UUID_NOT_FOUND",
                    "$ref": "#/components/examples/VEHICLE_CORE_UUID_NOT_FOUND"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Fleet/Core Vehicle"
        ],
        "summary": "Create fleet vehicle",
        "description": "Creates a new fleet vehicle.\n#### Vehicle coordinates are inherited from one of the locations, of the related business account (depotId)",
        "operationId": "createFleetVehicle",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FleetVehicleWebCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Operation"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "INVALID_HOURS": {
                    "description": "INVALID_HOURS",
                    "$ref": "#/components/examples/INVALID_HOURS"
                  },
                  "DUPLICATE_WEEKDAYS": {
                    "description": "DUPLICATE_WEEKDAYS",
                    "$ref": "#/components/examples/DUPLICATE_WEEKDAYS"
                  },
                  "INVALID_BEGIN_END_TIME": {
                    "description": "INVALID_BEGIN_END_TIME",
                    "$ref": "#/components/examples/INVALID_BEGIN_END_TIME"
                  },
                  "UNKNOWN_TIME_ZONE_ID": {
                    "description": "UNKNOWN_TIME_ZONE_ID",
                    "$ref": "#/components/examples/UNKNOWN_TIME_ZONE_ID"
                  },
                  "INVALID_EXCEPTIONAL_PERIOD_BEGIN_END_DATE": {
                    "description": "INVALID_EXCEPTIONAL_PERIOD_BEGIN_END_DATE",
                    "$ref": "#/components/examples/INVALID_EXCEPTIONAL_PERIOD_BEGIN_END_DATE"
                  },
                  "MORE_THAN_ONE_EXCEPTIONAL_PERIOD_WITHIN_SINGLE_DATE": {
                    "description": "MORE_THAN_ONE_EXCEPTIONAL_PERIOD_WITHIN_SINGLE_DATE",
                    "$ref": "#/components/examples/MORE_THAN_ONE_EXCEPTIONAL_PERIOD_WITHIN_SINGLE_DATE"
                  },
                  "EXCEPTIONAL_PERIOD_DATES_OVERLAP": {
                    "description": "EXCEPTIONAL_PERIOD_DATES_OVERLAP",
                    "$ref": "#/components/examples/EXCEPTIONAL_PERIOD_DATES_OVERLAP"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "VEHICLES_CORE_NOT_FOUND": {
                    "description": "VEHICLES_CORE_NOT_FOUND",
                    "$ref": "#/components/examples/VEHICLES_CORE_NOT_FOUND"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "FLEET_VEHICLE_IDENTIFICATION_NUMBER_ALREADY_EXISTS": {
                    "description": "FLEET_VEHICLE_IDENTIFICATION_NUMBER_ALREADY_EXISTS",
                    "$ref": "#/components/examples/FLEET_VEHICLE_IDENTIFICATION_NUMBER_ALREADY_EXISTS"
                  }
                }
              }
            }
          },
          "424": {
            "description": "Failed Dependency",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "BUSINESS_ACCOUNT_WITHOUT_LOCATIONS": {
                    "description": "BUSINESS_ACCOUNT_WITHOUT_LOCATIONS",
                    "$ref": "#/components/examples/BUSINESS_ACCOUNT_WITHOUT_LOCATIONS"
                  },
                  "BUSINESS_ACCOUNT_LOCATIONS_WITHOUT_GEOLOCATION": {
                    "description": "BUSINESS_ACCOUNT_LOCATIONS_WITHOUT_GEOLOCATION",
                    "$ref": "#/components/examples/BUSINESS_ACCOUNT_LOCATIONS_WITHOUT_GEOLOCATION"
                  },
                  "INVALID_VEHICLE_BUSINESS_ACCOUNT": {
                    "description": "INVALID_VEHICLE_BUSINESS_ACCOUNT",
                    "$ref": "#/components/examples/INVALID_VEHICLE_BUSINESS_ACCOUNT"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tours": {
      "get": {
        "tags": [
          "Fleet Tour"
        ],
        "summary": "Get fleet tours at depot within optional time range.",
        "description": "Returns a list of all fleet tours at depot within the optional time range, along with their vehicle details. If there are no tours, list is empty.",
        "operationId": "getFleetToursFiltered",
        "parameters": [
          {
            "name": "depotId",
            "in": "query",
            "description": "Depot identifier.",
            "required": true,
            "schema": {
              "maxLength": 50,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "startDateFrom",
            "in": "query",
            "description": "Optional tour start date filter.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDateTo",
            "in": "query",
            "description": "Optional tour end date filter.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TourWebResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "JOB_WITH_INVALID_BUSINESS_ACCOUNT": {
                    "description": "JOB_WITH_INVALID_BUSINESS_ACCOUNT",
                    "$ref": "#/components/examples/JOB_WITH_INVALID_BUSINESS_ACCOUNT"
                  },
                  "TOUR_WITH_INVALID_FLEET_VEHICLE": {
                    "description": "TOUR_WITH_INVALID_FLEET_VEHICLE",
                    "$ref": "#/components/examples/TOUR_WITH_INVALID_FLEET_VEHICLE"
                  },
                  "VEHICLES_CORE_NOT_FOUND": {
                    "description": "VEHICLES_CORE_NOT_FOUND",
                    "$ref": "#/components/examples/VEHICLES_CORE_NOT_FOUND"
                  }
                }
              }
            }
          }
        },
        "deprecated": true
      },
      "post": {
        "tags": [
          "Fleet Tour"
        ],
        "summary": "Create multiple fleet tours",
        "description": "Creates a new Fleet Tour for each tour request in the provided list",
        "operationId": "createFleetTours",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FleetTourWebCreateRequest"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Operation"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "REQUEST_CONTAINS_DUPLICATE_JOB_UIDS": {
                    "description": "REQUEST_CONTAINS_DUPLICATE_JOB_UIDS",
                    "$ref": "#/components/examples/REQUEST_CONTAINS_DUPLICATE_JOB_UIDS"
                  },
                  "JOBS_AND_VEHICLES_NOT_COMMON_DEPOT": {
                    "description": "JOBS_AND_VEHICLES_NOT_COMMON_DEPOT",
                    "$ref": "#/components/examples/JOBS_AND_VEHICLES_NOT_COMMON_DEPOT"
                  },
                  "FLEET_VEHICLES_NOT_COMMON_DEPOT": {
                    "description": "FLEET_VEHICLES_NOT_COMMON_DEPOT",
                    "$ref": "#/components/examples/FLEET_VEHICLES_NOT_COMMON_DEPOT"
                  },
                  "FLEET_JOBS_NOT_COMMON_DEPOT": {
                    "description": "FLEET_JOBS_NOT_COMMON_DEPOT",
                    "$ref": "#/components/examples/FLEET_JOBS_NOT_COMMON_DEPOT"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "FLEET_JOB_UIDS_NOT_FOUND": {
                    "description": "FLEET_JOB_UIDS_NOT_FOUND",
                    "$ref": "#/components/examples/FLEET_JOB_UIDS_NOT_FOUND"
                  },
                  "TOUR_WITH_INVALID_FLEET_VEHICLE": {
                    "description": "TOUR_WITH_INVALID_FLEET_VEHICLE",
                    "$ref": "#/components/examples/TOUR_WITH_INVALID_FLEET_VEHICLE"
                  },
                  "VIN_MISS_MATCH": {
                    "description": "VIN_MISS_MATCH",
                    "$ref": "#/components/examples/VIN_MISS_MATCH"
                  },
                  "JOB_MISS_MATCH": {
                    "description": "JOB_MISS_MATCH",
                    "$ref": "#/components/examples/JOB_MISS_MATCH"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "FLEET_JOB_ALREADY_ASSIGNED_TO_TOUR": {
                    "description": "FLEET_JOB_ALREADY_ASSIGNED_TO_TOUR",
                    "$ref": "#/components/examples/FLEET_JOB_ALREADY_ASSIGNED_TO_TOUR"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while pushing new tour(s) to Navision.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "ERROR_WHILE_PUSHING_NEW_TOURS_TO_NAVISION": {
                    "description": "ERROR_WHILE_PUSHING_NEW_TOURS_TO_NAVISION",
                    "$ref": "#/components/examples/ERROR_WHILE_PUSHING_NEW_TOURS_TO_NAVISION"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/routes/optimize": {
      "post": {
        "tags": [
          "Tour Optimization"
        ],
        "summary": "Creates optimized fleet tour(s).",
        "description": "The optimized tour(s) will rearrange your planned job(s) to minimize the total time spent on the road.",
        "operationId": "createOptimizedTours",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OptimizeTourOrchestratorCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OptimizeTourWebCreateResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "INVALID_ROUTE_DATES": {
                    "description": "INVALID_ROUTE_DATES",
                    "$ref": "#/components/examples/INVALID_ROUTE_DATES"
                  },
                  "JOBS_AND_VEHICLES_NOT_COMMON_DEPOT": {
                    "description": "JOBS_AND_VEHICLES_NOT_COMMON_DEPOT",
                    "$ref": "#/components/examples/JOBS_AND_VEHICLES_NOT_COMMON_DEPOT"
                  },
                  "FLEET_VEHICLES_NOT_COMMON_DEPOT": {
                    "description": "FLEET_VEHICLES_NOT_COMMON_DEPOT",
                    "$ref": "#/components/examples/FLEET_VEHICLES_NOT_COMMON_DEPOT"
                  },
                  "FLEET_JOBS_NOT_COMMON_DEPOT": {
                    "description": "FLEET_JOBS_NOT_COMMON_DEPOT",
                    "$ref": "#/components/examples/FLEET_JOBS_NOT_COMMON_DEPOT"
                  },
                  "INVALID_OPTIMIZE_TOUR_GLOBAL_TIME_WINDOW": {
                    "description": "INVALID_OPTIMIZE_TOUR_GLOBAL_TIME_WINDOW",
                    "$ref": "#/components/examples/INVALID_OPTIMIZE_TOUR_GLOBAL_TIME_WINDOW"
                  },
                  "OPTIMIZE_TOUR_JOBS_OUTSIDE_OF_GLOBAL_TIME_WINDOW": {
                    "description": "OPTIMIZE_TOUR_JOBS_OUTSIDE_OF_GLOBAL_TIME_WINDOW",
                    "$ref": "#/components/examples/OPTIMIZE_TOUR_JOBS_OUTSIDE_OF_GLOBAL_TIME_WINDOW"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "JOB_MISS_MATCH": {
                    "description": "JOB_MISS_MATCH",
                    "$ref": "#/components/examples/JOB_MISS_MATCH"
                  },
                  "JOB_WITH_INVALID_BUSINESS_ACCOUNT": {
                    "description": "JOB_WITH_INVALID_BUSINESS_ACCOUNT",
                    "$ref": "#/components/examples/JOB_WITH_INVALID_BUSINESS_ACCOUNT"
                  },
                  "LOCATIONS_ASSOCIATED_WITH_JOBS_NOT_FOUND": {
                    "description": "LOCATIONS_ASSOCIATED_WITH_JOBS_NOT_FOUND",
                    "$ref": "#/components/examples/LOCATIONS_ASSOCIATED_WITH_JOBS_NOT_FOUND"
                  },
                  "VIN_MISS_MATCH": {
                    "description": "VIN_MISS_MATCH",
                    "$ref": "#/components/examples/VIN_MISS_MATCH"
                  },
                  "FLEET_VEHICLE_WITH_INVALID_VEHICLE_CORE": {
                    "description": "FLEET_VEHICLE_WITH_INVALID_VEHICLE_CORE",
                    "$ref": "#/components/examples/FLEET_VEHICLE_WITH_INVALID_VEHICLE_CORE"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "FAILED_TO_FETCH_VEHICLE_TOURS": {
                    "description": "FAILED_TO_FETCH_VEHICLE_TOURS",
                    "$ref": "#/components/examples/FAILED_TO_FETCH_VEHICLE_TOURS"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/routes/optimize/job-precedence": {
      "post": {
        "tags": [
          "Tour Optimization"
        ],
        "summary": "Create a new optimized fleet tour, using a specific job precedence sequence.",
        "description": "### Creates a new optimized fleet tour, based on the requested job precedence sequence.\n#### Contamination rules do not apply.",
        "operationId": "createOptimizedTourWithJobPrecedence",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrecedenceTourWebCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OptimizeTourWebResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "REQUEST_CONTAINS_DUPLICATE_JOB_UIDS": {
                    "description": "REQUEST_CONTAINS_DUPLICATE_JOB_UIDS",
                    "$ref": "#/components/examples/REQUEST_CONTAINS_DUPLICATE_JOB_UIDS"
                  },
                  "END_DATE_NOT_EQUAL_TO_START_DATE": {
                    "description": "END_DATE_NOT_EQUAL_TO_START_DATE",
                    "$ref": "#/components/examples/END_DATE_NOT_EQUAL_TO_START_DATE"
                  },
                  "END_DATETIME_IS_BEFORE_START_DATETIME": {
                    "description": "END_DATETIME_IS_BEFORE_START_DATETIME",
                    "$ref": "#/components/examples/END_DATETIME_IS_BEFORE_START_DATETIME"
                  },
                  "OPTIMIZE_TOUR_JOBS_OUTSIDE_OF_GLOBAL_TIME_WINDOW": {
                    "description": "OPTIMIZE_TOUR_JOBS_OUTSIDE_OF_GLOBAL_TIME_WINDOW",
                    "$ref": "#/components/examples/OPTIMIZE_TOUR_JOBS_OUTSIDE_OF_GLOBAL_TIME_WINDOW"
                  },
                  "INVALID_OPTIMIZE_TOUR_GLOBAL_TIME_WINDOW": {
                    "description": "INVALID_OPTIMIZE_TOUR_GLOBAL_TIME_WINDOW",
                    "$ref": "#/components/examples/INVALID_OPTIMIZE_TOUR_GLOBAL_TIME_WINDOW"
                  },
                  "INVALID_JOB_ORDER_SEQUENCE": {
                    "description": "INVALID_JOB_ORDER_SEQUENCE",
                    "$ref": "#/components/examples/INVALID_JOB_ORDER_SEQUENCE"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "JOB_MISS_MATCH": {
                    "description": "JOB_MISS_MATCH",
                    "$ref": "#/components/examples/JOB_MISS_MATCH"
                  },
                  "VIN_MISS_MATCH": {
                    "description": "VIN_MISS_MATCH",
                    "$ref": "#/components/examples/VIN_MISS_MATCH"
                  },
                  "FLEET_JOBS_NOT_COMMON_DEPOT": {
                    "description": "FLEET_JOBS_NOT_COMMON_DEPOT",
                    "$ref": "#/components/examples/FLEET_JOBS_NOT_COMMON_DEPOT"
                  },
                  "FLEET_VEHICLES_NOT_COMMON_DEPOT": {
                    "description": "FLEET_VEHICLES_NOT_COMMON_DEPOT",
                    "$ref": "#/components/examples/FLEET_VEHICLES_NOT_COMMON_DEPOT"
                  },
                  "JOBS_AND_VEHICLES_NOT_COMMON_DEPOT": {
                    "description": "JOBS_AND_VEHICLES_NOT_COMMON_DEPOT",
                    "$ref": "#/components/examples/JOBS_AND_VEHICLES_NOT_COMMON_DEPOT"
                  },
                  "VEHICLES_CORE_NOT_FOUND": {
                    "description": "VEHICLES_CORE_NOT_FOUND",
                    "$ref": "#/components/examples/VEHICLES_CORE_NOT_FOUND"
                  },
                  "FLEET_VEHICLE_WITH_INVALID_VEHICLE_CORE": {
                    "description": "FLEET_VEHICLE_WITH_INVALID_VEHICLE_CORE",
                    "$ref": "#/components/examples/FLEET_VEHICLE_WITH_INVALID_VEHICLE_CORE"
                  },
                  "JOB_WITH_INVALID_BUSINESS_ACCOUNT": {
                    "description": "JOB_WITH_INVALID_BUSINESS_ACCOUNT",
                    "$ref": "#/components/examples/JOB_WITH_INVALID_BUSINESS_ACCOUNT"
                  },
                  "LOCATIONS_ASSOCIATED_WITH_JOBS_NOT_FOUND": {
                    "description": "LOCATIONS_ASSOCIATED_WITH_JOBS_NOT_FOUND",
                    "$ref": "#/components/examples/LOCATIONS_ASSOCIATED_WITH_JOBS_NOT_FOUND"
                  },
                  "GEO_LOCATION_NOT_ASSIGNED_TO_JOB": {
                    "description": "GEO_LOCATION_NOT_ASSIGNED_TO_JOB",
                    "$ref": "#/components/examples/GEO_LOCATION_NOT_ASSIGNED_TO_JOB"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "VEHICLE_NOT_AVAILABLE_FOR_TOUR_PLANNING": {
                    "description": "VEHICLE_NOT_AVAILABLE_FOR_TOUR_PLANNING",
                    "$ref": "#/components/examples/VEHICLE_NOT_AVAILABLE_FOR_TOUR_PLANNING"
                  },
                  "JOB_PRODUCT_NOT_ASSIGNED_TO_ORIGIN_LOCATION": {
                    "description": "JOB_PRODUCT_NOT_ASSIGNED_TO_ORIGIN_LOCATION",
                    "$ref": "#/components/examples/JOB_PRODUCT_NOT_ASSIGNED_TO_ORIGIN_LOCATION"
                  },
                  "ORIGIN_LOCATION_DOES_NOT_HAVE_ASSIGNED_PRODUCTS": {
                    "description": "ORIGIN_LOCATION_DOES_NOT_HAVE_ASSIGNED_PRODUCTS",
                    "$ref": "#/components/examples/ORIGIN_LOCATION_DOES_NOT_HAVE_ASSIGNED_PRODUCTS"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/matrix/calculation": {
      "post": {
        "tags": [
          "Matrix"
        ],
        "summary": "Async matrix calculation procedures according to the enclosed guidelines.",
        "description": "Initiates the async matrix calculation procedure, for all the locations of the requested depot.",
        "operationId": "calculateMatrixByDepotId",
        "parameters": [
          {
            "name": "depotId",
            "in": "query",
            "required": true,
            "schema": {
              "maxLength": 255,
              "minLength": 0,
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Operation",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "message": "Forbidden",
                    "errorCode": "FORBIDDEN"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/matrix/calculation/failed-combinations": {
      "post": {
        "tags": [
          "Matrix"
        ],
        "summary": "Async matrix calculation procedures for previously failed combinations.",
        "description": "Initiates the async matrix calculation procedure, for all the previsously failed origin-destination combinations for a depot.\n",
        "operationId": "calculateMatrixForFailedCombinationsByDepotId",
        "parameters": [
          {
            "name": "depotId",
            "in": "query",
            "required": true,
            "schema": {
              "maxLength": 255,
              "minLength": 0,
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Operation",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "message": "Forbidden",
                    "errorCode": "FORBIDDEN"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contamination-rules/validation": {
      "post": {
        "tags": [
          "Contamination Rules"
        ],
        "summary": "Get virtual tour contamination rule violations",
        "description": "Validates the job sequence of a tour which is optimized but not yet persisted into database\nand returns all contamination rule violations\n#### If there are no contamination rule violations the list is empty",
        "operationId": "getContaminationRuleViolations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VirtualTourRuleRequestWrapper"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContaminationRuleResponseWrapper"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "INVALID_JOB_ORDER_SEQUENCE": {
                    "description": "INVALID_JOB_ORDER_SEQUENCE",
                    "$ref": "#/components/examples/INVALID_JOB_ORDER_SEQUENCE"
                  },
                  "DUPLICATE_JOB_UIDS": {
                    "description": "DUPLICATE_JOB_UIDS",
                    "$ref": "#/components/examples/DUPLICATE_JOB_UIDS"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "JOB_WITH_INVALID_LOCATION": {
                    "description": "JOB_WITH_INVALID_LOCATION",
                    "$ref": "#/components/examples/JOB_WITH_INVALID_LOCATION"
                  },
                  "JOB_WITH_INVALID_BUSINESS_ACCOUNT": {
                    "description": "JOB_WITH_INVALID_BUSINESS_ACCOUNT",
                    "$ref": "#/components/examples/JOB_WITH_INVALID_BUSINESS_ACCOUNT"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "INVALID_CONTAMINATION_RULE_TYPE": {
                    "description": "INVALID_CONTAMINATION_RULE_TYPE",
                    "$ref": "#/components/examples/INVALID_CONTAMINATION_RULE_TYPE"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/names": {
      "get": {
        "tags": [
          "Fleet/Core Vehicle"
        ],
        "summary": "Get vehicle names by depot IDs",
        "description": "Retrieves a map of vehicle names and their associated VINs. If no depot IDs are provided, all vehicles are included.\n### If there are no matches or vehicles, Map is empty.",
        "operationId": "getVehicleNameToVINsMap",
        "parameters": [
          {
            "name": "depotIds",
            "in": "query",
            "required": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "description": "Optional filter to also include soft-deleted vehicles in the search. Default value: false",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "example": {
                  "vehicleNameExampleValue": [
                    "vin1",
                    "vin2",
                    "vin3"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/vehicles/core": {
      "get": {
        "tags": [
          "Fleet/Core Vehicle"
        ],
        "summary": "Get all core vehicles",
        "description": "Return a list of all core vehicles.",
        "operationId": "getAllCoreVehicles",
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VehicleCoreWebResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/vehicles/core/vehicle-brands": {
      "get": {
        "tags": [
          "Fleet/Core Vehicle"
        ],
        "summary": "Get all core vehicle brands",
        "operationId": "getAllVehicleBrands",
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BrandResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/vehicles/core/vehicle-brands/{brandUuid}/image": {
      "get": {
        "tags": [
          "Fleet/Core Vehicle"
        ],
        "summary": "Get core vehicle brand image",
        "operationId": "getVehicleBrandImage",
        "parameters": [
          {
            "name": "brandUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/octet-stream": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorMessageDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "IMAGE_NOT_FOUND": {
                    "description": "IMAGE_NOT_FOUND",
                    "$ref": "#/components/examples/IMAGE_NOT_FOUND"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "FAILED_TO_READ_IMAGE": {
                    "description": "FAILED_TO_READ_IMAGE",
                    "$ref": "#/components/examples/FAILED_TO_READ_IMAGE"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/me": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get current user info",
        "description": "Returns the information of the current user",
        "operationId": "getCurrentUserInfo",
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/tours/{tourUid}/details": {
      "get": {
        "tags": [
          "Fleet Tour"
        ],
        "summary": "Get fleet tour details based on the provided tour uid",
        "description": "Returns tour details which consist of tour contamination rule violations, fleet jobs, breaks and their business details.",
        "operationId": "getFleetTourDetailsByTourUid",
        "parameters": [
          {
            "name": "tourUid",
            "in": "path",
            "description": "Tour unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TourWebDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "FLEET_TOUR_UID_NOT_FOUND": {
                    "description": "FLEET_TOUR_UID_NOT_FOUND",
                    "$ref": "#/components/examples/FLEET_TOUR_UID_NOT_FOUND"
                  },
                  "JOB_WITH_INVALID_BUSINESS_ACCOUNT": {
                    "description": "JOB_WITH_INVALID_BUSINESS_ACCOUNT",
                    "$ref": "#/components/examples/JOB_WITH_INVALID_BUSINESS_ACCOUNT"
                  },
                  "FLEET_VEHICLE_IDENTIFICATION_NUMBER_NOT_FOUND": {
                    "description": "FLEET_VEHICLE_IDENTIFICATION_NUMBER_NOT_FOUND",
                    "$ref": "#/components/examples/FLEET_VEHICLE_IDENTIFICATION_NUMBER_NOT_FOUND"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tours/search": {
      "get": {
        "tags": [
          "Fleet Tour"
        ],
        "summary": "Get fleet tours paginated based on criteria filters.",
        "description": "Searches for fleet tours based on provided criteria.\n#### If a criteria filter is not provided, it will not be used in the search.\n#### If multiple criteria filters are provided, the search will only return results that match all the provided criteria.\n#### If applied criteria has no match, page is empty.\n#### The sorting fields for tours are: tourUid, status, startDate, endDate, totalTime and notes.\n",
        "operationId": "getFleetToursByCriteriaFilterPaginated",
        "parameters": [
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          },
          {
            "name": "searchValue",
            "in": "query",
            "description": "Search value to match tour uid.",
            "required": false,
            "schema": {
              "maxLength": 50,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "Optional set of statuses filter which fetches tours that match any of these statuses.",
            "required": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "description": "Defines all possible tour statuses",
                "enum": [
                  "PLANNED",
                  "ENROUTE",
                  "DELAYED",
                  "FAILED",
                  "INCOMPLETE",
                  "DONE"
                ]
              }
            }
          },
          {
            "name": "vehicleIdentificationNumbers",
            "in": "query",
            "description": "Optional set of vehicleIdentificationNumbers filter which fetches tours that match any of these vehicleIdentificationNumbers.",
            "required": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "depotId",
            "in": "query",
            "description": "Optional depot identifiers which fetches tours which contain jobs belonging to the specified depot.",
            "required": true,
            "schema": {
              "maxLength": 255,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "hasPenaltyRuleViolation",
            "in": "query",
            "description": "Indicates if the tour has at least one penalty rule violation",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Indicates if the tour has at least one penalty rule violation",
              "example": false
            },
            "example": false
          },
          {
            "name": "startDateFrom",
            "in": "query",
            "description": "Optional date filter which fetches tours that start from a specific time or after it.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2024-11-15T23:59:59"
          },
          {
            "name": "endDateTo",
            "in": "query",
            "description": "Optional date filter which fetches tours that end at this specific time or before it.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2024-11-15T23:59:59"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TourWebResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorMessageDto"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMessageDto"
                    }
                  ]
                },
                "examples": {
                  "END_DATETIME_IS_BEFORE_START_DATETIME": {
                    "description": "END_DATETIME_IS_BEFORE_START_DATETIME",
                    "$ref": "#/components/examples/END_DATETIME_IS_BEFORE_START_DATETIME"
                  },
                  "JOB_WITH_INVALID_BUSINESS_ACCOUNT": {
                    "description": "JOB_WITH_INVALID_BUSINESS_ACCOUNT",
                    "$ref": "#/components/examples/JOB_WITH_INVALID_BUSINESS_ACCOUNT"
                  },
                  "TOUR_WITH_INVALID_FLEET_VEHICLE": {
                    "description": "TOUR_WITH_INVALID_FLEET_VEHICLE",
                    "$ref": "#/components/examples/TOUR_WITH_INVALID_FLEET_VEHICLE"
                  },
                  "VEHICLES_CORE_NOT_FOUND": {
                    "description": "VEHICLES_CORE_NOT_FOUND",
                    "$ref": "#/components/examples/VEHICLES_CORE_NOT_FOUND"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/jobs": {
      "get": {
        "tags": [
          "Fleet Job"
        ],
        "summary": "Get all fleet jobs by depotId",
        "description": "Returns a list of all fleet jobs by depotId, along with their business details.\n### If there are no fleet jobs containing the provided depotId, List is empty.\n",
        "operationId": "getFleetJobsByDepotId",
        "parameters": [
          {
            "name": "depotId",
            "in": "query",
            "required": true,
            "schema": {
              "maxLength": 50,
              "minLength": 0,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JobWebResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageDto"
                },
                "examples": {
                  "JOB_WITH_INVALID_BUSINESS_ACCOUNT": {
                    "description": "JOB_WITH_INVALID_BUSINESS_ACCOUNT",
                    "$ref": "#/components/examples/JOB_WITH_INVALID_BUSINESS_ACCOUNT"
                  },
                  "LOCATIONS_ASSOCIATED_WITH_JOBS_NOT_FOUND": {
                    "description": "LOCATIONS_ASSOCIATED_WITH_JOBS_NOT_FOUND",
                    "$ref": "#/components/examples/LOCATIONS_ASSOCIATED_WITH_JOBS_NOT_FOUND"
                  }
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/jobs/search": {
      "get": {
        "tags": [
          "Fleet Job"
        ],
        "summary": "Get Jobs paginated based on criteria filters.",
        "description": " Searches for Jobs based on provided criteria.\n #### If a criteria filter is not provided, it will not be used in the search.\n #### If multiple criteria filters are provided, the search will only return results that match all of the provided criteria.\n #### Results are paginated based on the provided page number and page size.\n #### The page size determines how many records are returned per page.\n #### The sorting fields for jobs are: jobUid, businessAccountUid, originLocationUid, and destinationLocationUid.\n",
        "operationId": "getFleetJobsByCriteriaFiltersPaginated",
        "parameters": [
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          },
          {
            "name": "searchValue",
            "in": "query",
            "description": "Search value to match business account name, or job uid, or both.",
            "required": false,
            "schema": {
              "maxLength": 255,
              "minLength": 0,
              "type": "string"
            },
            "example": "LKnPKAYKvf"
          },
          {
            "name": "jobTypes",
            "in": "query",
            "description": "Job types",
            "required": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "depotId",
            "in": "query",
            "description": "Depot identifier",
            "required": true,
            "schema": {
              "maxLength": 50,
              "minLength": 0,
              "type": "string"
            },
            "example": "AvO78iot3x"
          },
          {
            "name": "statuses",
[...]
